
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Account under review
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">

        Account under review
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">Your account is currently being reviewed to verify your company details.</p>

        <p>During this review, you can't create and submit a new claim. Reviews can take up to a few hours to a few days and are done during business hours.</p>
        <p>We will send you an email once your account has been verified.</p>
      </div>

      {{ govukButton({
        text: "Sign out",
        href: "../compensator/signout"
      }) }}

    </div>
  </div>
  </main>

{% endblock %}
