
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Current tasks
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <nav class="navigation-secondary govuk-!-margin-bottom-7">
      <ul>
        <li><a href="v2-dashboard">Home</a></li>
        <li class="active"><a href="v2-tasks">Tasks</a></li>
        <li><a href="">Find a claim</a></li>
        <li><a href="">Organisation list</a></li>
        <li><a href="">NHS tools</a></li>
        <li><a href="">Download reports</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-full">

      <span class="govuk-caption-l">Sam Smith</span>
      <h1 class="govuk-heading-xl">Tasks</h1>

      <div class="govuk-tabs" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#current-task">
              Current task
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#legacy-tasks">
              Legacy tasks
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#completed-tasks">
              Completed tasks
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel" id="current-task">
          <h2 class="govuk-heading-l">Current task</h2>

          {% if data['task-started'] == 'true' %}

          <div class="govuk-inset-text">
            <strong class="govuk-tag govuk-tag--yellow">In progress</strong>
            <h2 class="govuk-heading-s govuk-!-margin-top-3 govuk-!-margin-bottom-0">Request to take over a claim</h2>
            <p class="govuk-body">Assigned to Sam Smith</p>
            <form class="form" action="v2-action-task-da" method="post">
              <div class="govuk-button-group">
                <button class="govuk-!-margin-bottom-0 govuk-button" data-module="govuk-button">
                  Go to task
                </button>
                <a class="govuk-link" href="v2-tasks?task-started=false&">Cancel task</a>
                </div>
            </form>



          </div>

          {% else %}

          <!-- <p class="govuk-body">You're not currently working on a task.</p>
          <form class="form" action="v2-action-task-da" method="post">
            <button class="govuk-button" data-module="govuk-button">
              Get my next task
            </button>
          </form> -->

          <p class="govuk-body">To start working on a task, select a new task type and click 'Get task'</p>

          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="task-type" name="task-type" type="radio" value="government-gateway" aria-describedby="task-type-item-hint">
                <label class="govuk-label govuk-radios__label" for="task-type">
                  No National Insurance number
                </label>
                <div id="task-type-item-hint" class="govuk-hint govuk-radios__hint">
                  Review claims that have been submitted without a National Insurance number
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="task-type-2" name="task-type" type="radio" value="govuk-verify" aria-describedby="task-type-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="task-type-2">
                  Certificate expiry
                </label>
                <div id="task-type-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Review claims that are due to expire but have had benefit changes
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="task-type-3" name="task-type" type="radio" value="govuk-verify" aria-describedby="task-type-3-item-hint">
                <label class="govuk-label govuk-radios__label" for="task-type-3">
                  Taking over an existing claim
                </label>
                <div id="task-type-3-item-hint" class="govuk-hint govuk-radios__hint">
                  Review claims where a 3rd party has requested to take over responsibility of a pre-registered claim
                </div>
              </div>
            </div>
          </div>

          <form class="form" action="v2-action-task-da" method="post">
            <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
              Get task
            </button>
          </form>



          {% endif %}

        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="legacy-tasks">
          <h2 class="govuk-heading-l">Legacy tasks</h2>
          <table class="govuk-table govuk-!-margin-top-2">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">CRU reference</th>
              <th scope="col" class="govuk-table__header app-custom-class">Date created</th>
              <th scope="col" class="govuk-table__header app-custom-class">Description</th>
              <th scope="col" class="govuk-table__header app-custom-class">Assigned to</th>
              <th scope="col" class="govuk-table__header app-custom-class">Actions</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">PAB123</td>
              <td class="govuk-table__cell">6/12/2022</td>
              <td class="govuk-table__cell" style="width: 40%;">{{ data['incomplete-reason'] | default('Benefits have been returned on the claim') }}</td>
              <td class="govuk-table__cell">Sam Smith</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">Action task</a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="completed-tasks">
          <h2 class="govuk-heading-l">Completed tasks</h2>
          <table class="govuk-table govuk-!-margin-top-2">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header app-custom-class">CRU reference</th>
              <th scope="col" class="govuk-table__header app-custom-class">Date received</th>
              <th scope="col" class="govuk-table__header app-custom-class">IP name</th>
              <th scope="col" class="govuk-table__header app-custom-class">Task type</th>
              <th scope="col" class="govuk-table__header app-custom-class">Status</th>
              <th scope="col" class="govuk-table__header app-custom-class"></th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB938</a></td>
              <td class="govuk-table__cell">11/10/2022</td>
              <td class="govuk-table__cell">Jane Blythe</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB990</a></td>
              <td class="govuk-table__cell">11/10/2022</td>
              <td class="govuk-table__cell">Gemma Smith</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB118</a></td>
              <td class="govuk-table__cell">11/10/2022</td>
              <td class="govuk-table__cell">Claire Roberts</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB228</a></td>
              <td class="govuk-table__cell">11/10/2022</td>
              <td class="govuk-table__cell">Jack Green</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB466</a></td>
              <td class="govuk-table__cell">11/10/2022</td>
              <td class="govuk-table__cell">David Thomas</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB354</a></td>
              <td class="govuk-table__cell">12/10/2022</td>
              <td class="govuk-table__cell">Jeff Smythe</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB039</a></td>
              <td class="govuk-table__cell">12/10/2022</td>
              <td class="govuk-table__cell">Rob Jackson</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB222</a></td>
              <td class="govuk-table__cell">12/10/2022</td>
              <td class="govuk-table__cell">Trudy Roberts</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB258</a></td>
              <td class="govuk-table__cell">12/10/2022</td>
              <td class="govuk-table__cell">Jamie Brown</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><a href="#" class="govuk-link">PAB443</a></td>
              <td class="govuk-table__cell">13/10/2022</td>
              <td class="govuk-table__cell">Julian Painter</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--grey">No NINO</strong></td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Completed</strong></td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link">View</a></td>
            </tr>

            </tbody>
          </table>

          <nav class="govuk-pagination" role="navigation" aria-label="results">
            <div class="govuk-pagination__prev">
              <a class="govuk-link govuk-pagination__link" href="#" rel="prev">
                <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="govuk-pagination__link-title">Previous</span></a>
            </div>
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
              </svg></a>
            </div>
          </nav>
        </div>

      </div>

    </div>
  </div>

{% endblock %}
