
{% extends "../../../../index.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-2">
          Task details
        </h1>
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>



<!-- summary start -->
        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task description
            </dt>
            <dd class="govuk-summary-list__value">
              Find out if an injured person attended an NHS hospital 
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRU reference
            </dt>
            <dd class="govuk-summary-list__value">
              CRU12345
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of injured person
            </dt>
            <dd class="govuk-summary-list__value">
              Bojen Westoros
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              9 April 1966
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Age
            </dt>
            <dd class="govuk-summary-list__value">
              57 years old
            </dd>
          </div>
        </dl>
<!-- summary end -->


<!-- task description start -->
<h2 class="govuk-heading-m  govuk-!-margin-top-9">
  Task description
</h2> 

    <p>Check DRS for confirmation of hospital attendance.</p>
    <p>If we have not received confirmation, call the injured person's representative or the compensator attached to the claim.</p>
    <p><a href="../../claim-update3/case-view-history" class="govuk-link" rel="noreferrer noopener" target="_blank">View and update claim details (opens in new tab)</a></p>
<!-- task description end -->

<!-- actions -->

  <h2 class="govuk-heading-m  govuk-!-margin-top-9">
    Outcome of task
  </h2> 

  <form class="form" action="tasks" method="post">

    <div class="govuk-form-group">
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="task-typ-3e" name="tasktype" type="radio" value="yes" aria-describedby="task-type-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="task-type-3">
            NHS hospital details updated on claim
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="task-type" name="tasktype" type="radio" value="letter" aria-describedby="task-type-item-hint">
          <label class="govuk-label govuk-radios__label" for="task-type">
            Send NHSIP to the injured person
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="task-type-2" name="tasktype" type="radio" value="closetask" aria-describedby="task-type-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="task-type-2">
            Close task and send NIL NHS Certificate of Charges
          </label>
        </div>


      </div>
    </div>

    <div class="govuk-button-group">
      <button class="govuk-button govuk-!-margin-bottom-7" data-module="govuk-button">
        Save and update task
      </button>
      <a class="govuk-link" href="#">Cancel</a>
    </div>

    </form>





    </div>
  </div>

{% endblock %}
