
{% extends "../../index.html" %}


{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   
        <h1 class="govuk-heading-l govuk-!-margin-top-5">
            Injured person research sessions
        </h1>

        <h2 class="govuk-heading-m">
              Letters
        </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="nhs11-current-ip">NHS 11 IP – Current </a></li>
            <li><a href="nhs11-new-ip">NHS 11 IP – Draft (New)</a></li>
          </ul>



    </div>
  </div>

{% endblock %}
