
{% extends folder+ "/layout.html" %}


{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

   
        <h1 class="govuk-heading-l govuk-!-margin-top-5">
            Compensator research sessions
        </h1>

        <h2 class="govuk-heading-m">
              Letters
        </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="nhs11-current">NHS 11 – Current </a></li>
            <li><a href="nhs11-new">NHS 11 – Draft (New)</a></li>
          </ul>

        <h2 class="govuk-heading-m">
            Responses
        </h2>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="email-1">Participant 1 response</a> </li>
            <li><a href="email-2">Participant 2 response</a></li>
            <li><a href="email-3">Participant 3 response</a></li>
          </ul>


    </div>
  </div>

{% endblock %}
