
{% extends folder+ "/layout.html" %}


{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="cover" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

  <h1 class="govuk-heading-l govuk-!-margin-top-5">
      Draft reply to the NHS11
  </h1> 

<p>Dear Team</p>
 
<p>Injured Person: John Smith<br>
  Your Ref:   CRU78910<br>
  Our Ref: 123456<br>
</p>
   
 <p>I write in response to your letter dated 24 June 2023 (attached).</p>
   
  <p>I have checked the details of the injured person.  The name and the incident date are both correct.</p>
   
  <p>The injured person was taken via ambulance to St Michael’s Royal Infirmary Hospital, Manchester, M1 1AF on 4 May 2023 
    and was subsequently admitted to A&E with injuries to his head, collarbone and back.</p>
   
  <p>I hope the above information assists you in identifying the treatment received.  </p>
   
  <p>If you require any further information please contact me at the address shown below.</p>
   
  <p>Kind regards,</p>




  </div>
</div>

{% endblock %}
