
{% extends folder+ "/layout.html" %}


{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="cover" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

  <h1 class="govuk-heading-l govuk-!-margin-top-5">
      Draft reply to the NHS11
  </h1> 

<p>Dear Team,</p>
 
<p><b>Re: Mr John Smith: Incident Date: 4 May 2023</b>
</p>
   
 <p>Thank you for your letter of 24th June 2023.</p>
   
  <p>I confirm that John Smith’s NHS number is 485 777 3456 and he was taken to hospital by an ambulance on 4th May 2023. He was taken to an NHS hospital, St Michael’s Royal Infirmary. The full address for the hospital is St Michael’s Royal Infirmary, Manchester, M1 1AF. 
    He was admitted to A & E and was treated for injuries to his head, broken collarbone and back.</p>
   

   
  <p>We look forward to hearing from you.</p>
   
  <p>Yours faithfully,</p>




  </div>
</div>

{% endblock %}
