
{% extends "../../index.html" %}


{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a href="cover" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

  <h1 class="govuk-heading-l govuk-!-margin-top-5">
      Draft reply to the NHS11
  </h1> 

<p>Hi Jane</p>
 
<p>Re your ref: CRU78910<br>
  Injured Person: John Smith</p>
   
 <p> Thank you for your letter dated 24 June 2023.</p>
   
  <p>I can confirm that the injured person’s name and incident date that you hold is correct.</p>
   
  <p>The injured person received treatment on the 4 May 2023, at St Michael’s Royal Infirmary Hospital, Manchester,M1 1AF. 
    He was taken to hospital by ambulance. His NHS number is 485 777 3456. He was admitted to A&E with injuries to his head, collarbone and back.</p>
   
  <p>I hope the above information assists you in identifying the treatment received.</p>
   
  <p>(NB I assume treatment was received because of the RTA- although it doesn’t explicitly say this in the fictional data)</p>
   
  <p>Regards,</p>




  </div>
</div>

{% endblock %}
