
{% extends "../../index.html" %}

{% block pageTitle %}
Notifications
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <a href="cover" class="govuk-back-link govuk-!-margin-bottom-9">Back</a>
    
      <style>
        img {
          border: 2px solid #555;
        }
        </style>

<center><img src="/public/images/nhs11-draft-new-1.png"></center>

<center><img src="/public/images/nhs11-draft-new-2.png"></center>




    </div>
  </div>

{% endblock %}
