
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-details" method="post">
<!--      <span class="govuk-caption-xl">{{ data['company-name'] }}</span>-->
        <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--xl" for="user-full-name">
                What's your full name?
            </label>
            </h1>
            <input class="govuk-input govuk-input--width-20" id="user-full-name" name="user-full-name" type="text" value="{{ data['user-full-name'] }}">
        </div>

<!--      <div class="govuk-form-group">-->
<!--        <label class="govuk-label" for="user-last-name">-->
<!--          Last name-->
<!--        </label>-->
<!--        <input class="govuk-input govuk-input&#45;&#45;width-20" id="user-last-name" name="user-last-name" type="text">-->
<!--      </div>-->

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
