
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-9">
  <div class="govuk-grid-column-two-thirds">
<!--    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>-->
<form class="form" action="passcode" method="post">
  <h1 class="govuk-heading-xl">Create an individual account</h1>

  <div class="govuk-form-group">
    <p class="govuk-body">You’ll need:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>access to the email address you want to use for the account</li>
      <li>to create a memorable password</li>
    </ul>
    <p class="govuk-body">When you have created an account and your organisation has accepted the User Agreement, you’ll be able to register and manage a new claim online if:</p>  
    <ul class="govuk-list govuk-list--bullet">
      <li>it is for motor or public liability</li>
      <li>the injured person is represented and can provide an email address for their representative</li>
      <li>the injured person did not receive NHS (HS in Northern Ireland) hospital treatment as a result of the incident</li>
    </ul>
    <p class="govuk-body">You will not be able to manage claims previously registered by post or third party software through this service.</p>
  </div>



  <br/>

  {{ govukButton({
  text: "Continue"
  }) }}

</form>

</div>
</div>

{% endblock %}

