
{% extends "../../../../../index.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <form class="form" action="confirmation_report" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="date-hint">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="cost">
              <span class="govuk-caption-xl">
              </span>
                What reports do you need?
              </label>
            </h1>
<br>


<div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
            Daily report
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Weekly report
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Monthly report
        </label>
      </div>
    </div>








        </fieldset>
      </div>
<br>
      <button class="govuk-button" data-module="govuk-button">
        Download
      </button>

    </form>

  </div>
</div>

{% endblock %}
