
{% extends "../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
      <h1 class="govuk-panel__title ">
      Claim registration complete
      </h1>
      <div class="govuk-panel__body">
        Your claim reference number<br><strong>CRU12345</strong>
      </div>
    </div>

    <p class="govuk-body">We will send you an email to confirm registration of this claim.</p>
    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s">Amount to pay</h2>

        <p class="govuk-body govuk-!-font-size-24"> CRU Charges -
          <span class="govuk-!-font-weight-bold govuk-!-font-size-24">NIL</span><br>
      NHS Charges - <span class=" govuk-!-font-weight-bold govuk-!-font-size-24">being processed</span>
        </p>



    </div>

    <h2 class="govuk-heading-m">What this means</h2>
    <p class="govuk-body">Your claim will now be processed. This can take up to 28 days. We will send you an email when your NHS certificate is ready.</p>
    <p class="govuk-body">The amount to pay could change if the injured person:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>later claims a social security benefit in relation to their injury</li>
    <li>had hospital treatment in relation to their injury</li>
</ul>


<h3 class="govuk-heading-s">Download certificate</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/public/downloads/CRU-nil-cert-generic-24-feb.pdf" class="govuk-link">Compensation Recovery (CRU) Certificate</a></li>
</ul>
<p class="govuk-body">You can also download them using the link we sent in your confirmation email.  </p>
<ul class="govuk-list govuk-list--bullet">
<li>the link in your claim confirmation email</li>
<li>the claim view in your account dashboard</li>
</ul>

  </div>

</div>
<br>
    <h2 class="govuk-heading-m">About the certificates</h2>
    <p class="gov-body">CRU certificates are valid for 6 months. NHS certificates do not expire.</p>
    <!-- <p class="gov-body">When certificates are due to expire, we will email you. If they expire before you settle a claim, a new one will be emailed to you automatically. </p> -->
<p class="gov-body">We will send you a reminder by email when your certificate expires so you can request an updated one.</p>
    <br /><br />
    <a href="../compensator/compensator-dashboard" class="govuk-button govuk-button--secondary">Return to home</a>

  </div>
</div>

      <!-- code for demo only-->
  <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:green;
      padding:0.8em;
      color:white;
      animation: mymove 1s infinite alternate;
      }
      @keyframes mymove {
        from {background-color: #00703c;}
        to {background-color: #1d70b8;}
      }
  </style>

  <a href ="claim-registered-email-nn" class="timemachine">Open email</a>


{% endblock %}
