
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Injury details -  What type of injury did the person suffer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <div id="whiplashErrorSummary" class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
          <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
              <li>
                <a href="#other-injuries-no">You must provide at least one kind of injury to register a claim</a>
              </li>
            </ul>
          </div>
        </div>

        <form action="other-injuries-route" method="post" class="form">

              <div class="govuk-form-group govuk-form-group--error">
                <fieldset class="govuk-fieldset" aria-describedby="other-injuries-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                    <h1 class="govuk-fieldset__heading">
                      <span class="govuk-caption-xl">Injury details
                      </span>
                      Did the person suffer any other injury?
                    </h1>
                  </legend>
                  <div class="govuk-hint">
                    Includes physical, psychological or neurological injuries
                  </div>
                  <p id="whiplash-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> You must provide at least one kind of injury to register a claim
                  </p>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="other-injuries-yes" name="other-injuries" type="radio" value="Yes" {{ checked("other-injuries", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="other-injuries-yes">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="other-injuries-no" name="other-injuries" type="radio" value="No" {{ checked("other-injuries", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="other-injuries-no">
                        No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>




      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>




    </form>

    </div>
  </div>

{% endblock %}
