
{% extends "../../../../index.html" %}

{% block pageTitle %}
Check your answers before registering the claim
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">CRS233450
        </span>
        <h1 class="govuk-heading-xl" style="margin-bottom:10px">Task details</h1>
    <strong class="govuk-tag govuk-tag--green">Completed</strong> <br>
        <!-- <div class="govuk-inset-text">
        More information received:
          <p class="govuk-body govuk-!-font-weight-bold">Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020</p>
        </div> -->

        <div class="govuk-inset-text">
          Claim rejection letter sent to compensator
        </div>

        <!-- Injured persons rep details -->


        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
                     Claim check - potential duplicate of an existing claim
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Decision
            </dt>
            <dd class="govuk-summary-list__value">
        Claim rejected
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRU reference
            </dt>
            <dd class="govuk-summary-list__value">
              CRS233450
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type of injury
            </dt>
            <dd class="govuk-summary-list__value">
              Physical injury other than whiplash
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Type of liability
            </dt>
            <dd class="govuk-summary-list__value">
              Motor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Injury date
            </dt>
            <dd class="govuk-summary-list__value">
              8 January 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Compensator
            </dt>
            <dd class="govuk-summary-list__value">
                Insure Co Ltd
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Hospital assigned to
            </dt>
            <dd class="govuk-summary-list__value">
            North Manchester General Hospital
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Trust assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              University of Manchester Hospital Trust
            </dd>
          </div>
        </dl>


        <p class="govuk-body">
            <a href="case-view-task-certs" class="govuk-link">View claim</a>
        </p>

        <div class="govuk-button-group govuk-!-margin-top-9">
            <button class="govuk-button" data-module="govuk-button">
                Go to next task
            </button>
            <a href="../reminders_1_0/dashboard" class="govuk-button govuk-button--secondary" data-module="govuk-button">Return to dashboard</a>
        </div>





      </div>
    </div>
  </main>
</div>

{% endblock %}
