
{% extends "../../../../index.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <form class="form" action="confirmed" method="post">

            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-heading-xl">
                      <span class="govuk-caption-xl">Case linking</span>
                        Provide details of the case you want to link with
                    </h1>
                </legend>

                <div class="govuk-form-group">
                    <label class="govuk-label" for="m-hospital-1">
                        CRU name reference number
                    </label>
                    <input class="govuk-input" id="m-hospital-1" name="m-hospital-1" type="text" autocomplete="m-hospital1" value="">
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="hos-address-line-1">
                        Date of injury
                    </label>
                    <div id="passport-issued-hint" class="govuk-hint">
        For example, 27 3 2007
      </div>
      <div class="govuk-date-input" id="passport-issued">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
          </div>
        </div>
      </div>
                </div>




            </fieldset>
<br>
           <button class="govuk-button" data-module="govuk-button">
             Continue
           </button>

        </form>

    </div>
</div>

{% endblock %}
