
{% extends "../../../../index.html" %}

{% block pageTitle %}
Manage organisation - Organisation details
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="admin-manage-org" method="post">
      <span class="govuk-caption-xl">{{ data['company-name'] }}</span>
      <h1 class="govuk-heading-xl">Organisation details</h1>

<!--      <div class="govuk-form-group">-->
<!--        <label class="govuk-label" for="type-of-org">-->
<!--          Type of organisation-->
<!--        </label>-->
<!--        <select class="govuk-select govuk-!-width-one-half" id="type-of-org" name="type-of-org">-->
<!--          <option value="Insurer/Compensator" {% if data['type-of-org'] == 'Insurer/Compensator' %}selected{% endif %}>Insurer/Compensator</option>-->
<!--          <option value="Third Party Administrator" {% if data['type-of-org'] == 'Third Party Administrator' %}selected{% endif %}>Third Party Administrator</option>-->
<!--        </select>-->
<!--      </div>-->

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend">
              Type of organisation
           </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-org-comp" name="type-of-org" type="radio" value="Insurer/Compensator" checked>
              <label class="govuk-label govuk-radios__label" for="type-of-org-comp">
                Insurer/Compensator
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-org-tpa" name="type-of-org" type="radio" value="Third Party Administrator" >
              <label class="govuk-label govuk-radios__label" for="type-of-org-tpa">
                Third Party Administrator
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="tel-primary">
          Primary telephone number
        </label>
        <input class="govuk-input govuk-input--width-10" id="tel-primary" name="tel-primary" type="text" value="0117 9123 345">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="tel-secondary">
          Secondary telephone number (optional)
        </label>
        <input class="govuk-input govuk-input--width-10" id="tel-secondary" name="tel-secondary" type="text" value="07771 123737">
      </div>

      <div class="govuk-button-group govuk-!-margin-top-7">
        <button class="govuk-button" data-module="govuk-button">
          Save
        </button>

        <a class="govuk-link" href="admin-manage-org">Cancel</a>
      </div>



    </form>

    </div>
  </div>

{% endblock %}
