
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
        Claim details updated
            </h1>
            <h3 class="govuk-panel__body ">
          Claim reference number TST001
            </h3>
            <div class="govuk-panel__body">

            </div>
          </div>




          <h2 class="govuk-heading-m">Other options</h2>



<p class="govuk-body">
<a href="check-answers-update" class="govuk-link">Make another update</a>
</p>



        </div>
      </div>


{% endblock %}
