
{% extends "../../../../index.html" %}

{% block pageTitle %}
Claim details -  What is the type of liability?
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="decision_reason_check_other" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">

                  Your review decision selection
                </h1>
              </legend>

              <div class="govuk-inset-text">
                <p> We have not changed the amount of NHS charges due. We can recover the NHS charges because an NHS hospital treated the injured person. This falls under the provisions of the Road Traffic (NHS Charges) Act 1999.</p>
                 <p class="govuk-body govuk-!-font-weight-bold">This information has been provided by the treating NHS trust</p>
              </div>

<!--          <div class="govuk-radios__item govuk-visually-hidden">-->
<!--            <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="completed" checked>-->
<!--            <label class="govuk-label govuk-radios__label" for="claim-details">-->
<!--             hidden radio for logic-->
<!--            </label>-->
<!--          </div>-->
<br>
      <button class="govuk-button" data-module="govuk-button">
      Continue
      </button>

    </form>
    <p class="govuk-body">
     <a href="decision_reason" class="govuk-link">Select a different reason</a>
    </p>
    </div>
  </div>



{% endblock %}
