
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <!--        <form class="form" action="check-answers-ip" method="post">-->

        <form class="form" action="date-of-claim" method="post">


            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">CRS233450</span>
                You are about to open an NHS review
            </h1>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                    As the the claim already has issued certificates, editing details will put the claim in an NHS review state.
                </strong>
            </div>

            <p class="govuk-body">If you did not want to open an NHS review, <a class="govuk-link" href="about-the-injured-person">go back to the update claim detail page</a>.</p>

            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}
