
{% extends "../../index.html" %}

{% block pageTitle %}
Check your email
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        Check your email
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">We’ve sent an email to <strong>sam.smith@compensatorltd.com</strong>.</p>
<p class="govuk-body">It contains a link that will sign you into your account.</p>
        <p class="govuk-body">The email may take a few minutes to arrive.</p>
      </div>

      <p>If you didn't receive an email, you can
      <a href="resend" class="govuk-link">get another activation link</a>.
    </p>

    </form>

    </div>
    <a href="activation-email" class="govuk-link">Open email</a>
  </div>

{% endblock %}
