
{% extends "../../index.html" %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <div class="govuk-grid-column-full">
      <nav class="navigation-secondary govuk-!-margin-bottom-6">
    <ul>

      <li class="active">

        <a href="cru-ops-landing.html">Home</a>
        </li>


        <li>

        <a href="tasks">Tasks (16)</a>

      </li>


        <li>

        <a href="find-case">Find case</a>

      </li>
    </ul>
  </nav>

    </div> -->


    <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        What is your name?
      </h1>


      <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="email">
        Full name
      </label>
      <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text">
    </div>


      {{ govukButton({
        text: "Continue",
        href: "company-name"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
