//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
// custom pattern - card pattern currently is not in the govuk design system
@import "patterns/card";
// custom pattern - subnavigation currently is not in the govuk design system
@import "patterns/subnavigation";

// custom pattern - timeline currently is not in the govuk design system (This is a dwp pattern)
@import "patterns/timeline";


// custom pattern - subnavigation currently is not in the govuk design system (This is a dwp pattern)
@import "patterns/subnav";

// custom pattern - subnavigation currently is not in the govuk design system (This is a dwp pattern)
@import "patterns/keydetails";


// CRU SCSS
@import "patterns/testing";

.govuk-inset-text
{
    &.green
    {
        background:rgba(0, 112, 60, 0.05);
        border-left-color:$govuk-success-colour;
    }
    &.blue
    {
        background:rgba(0, 112, 60, 0.05);
        border-left-color:$govuk-brand-colour;
    }
}
