
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Take over an existing claim - Claim references
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <form class="form" action="da-injured-person" method="post">

      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Take over an existing claim</span>
        Claim references
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label" for="da-crs-ref">
          CRU reference
        </label>
        <input class="govuk-input govuk-input--width-10" id="da-crs-ref" name="da-crs-ref" type="text" value="{{ data['da-crs-ref'] }}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="da-your-ref">
          Your reference
        </label>
        <input class="govuk-input govuk-input--width-10" id="da-your-ref" name="da-your-ref" type="text" value="{{ data['da-your-ref'] }}">
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
