
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <form class="form" action="cap" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="date-hint">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="cost">
              <span class="govuk-caption-xl">Tariff updates
              </span>
                What is the new inpatient tariff?
              </label>
            </h1>
            <div class="govuk-inset-text">
  Currently it is £941
</div>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-5" id="in-patient" name="in-patient" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['in-patient']}}">
            </div>
          </div>

        </fieldset>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
