
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
homepageUrl: "/",
serviceName: serviceName,
serviceUrl: "/" + folder + "/",
containerClasses: "govuk-width-container"
}) }}

<div class="govuk-width-container">
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
        Prototype: Current
      </strong>
      <span>This is not production ready code</span>
    </p>
  </div>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">

  <!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
  <!--      <ul>-->
  <!--        <li><a href="./">Home</a></li>-->
  <!--        <li class="active"><a href="current-tasks">Current tasks</a></li>-->
  <!--        <li><a href="completed-tasks">Completed tasks</a></li>-->
  <!--        <li><a href="">Find a claim</a></li>-->
  <!--        <li><a href="">Download reports</a></li>-->
  <!--      </ul>-->
  <!--    </nav>-->

  <div class="govuk-grid-column-full">
    <a href="current-tasks" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <form class="form" action="completed-task-da" method="post">

      <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-2">
        <!--          <span class="govuk-caption-l">CRS39488</span>-->
        Task details
      </h1>
      <strong class="govuk-tag govuk-tag--yellow">In progress</strong>

      <dl class="govuk-summary-list govuk-!-margin-top-7 govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Assigned to
          </dt>
          <dd class="govuk-summary-list__value">
            Sam Smith
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Description
          </dt>
          <dd class="govuk-summary-list__value">
            Request to take over a claim
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRU reference
          </dt>
          <dd class="govuk-summary-list__value">
            PAB995
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Claim originally registered by
          </dt>
          <dd class="govuk-summary-list__value">
            Zurich
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Take over requested by
          </dt>
          <dd class="govuk-summary-list__value">
            Keoghs
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact email address
          </dt>
          <dd class="govuk-summary-list__value">
            ayana.lawrence@keoghs.com
          </dd>
        </div>
      </dl>

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Verify request against the original claim</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-half"></th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Original claim</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Take over request</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Compensator</th>
          <td class="govuk-table__cell">Zurich</td>
          <td class="govuk-table__cell">Esure</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Compensator reference</th>
          <td class="govuk-table__cell">ZRC928</td>
          <td class="govuk-table__cell">XYZ339</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Claimant first name</th>
          <td class="govuk-table__cell">Kayla</td>
          <td class="govuk-table__cell">Lawrence</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Claimant first name</th>
          <td class="govuk-table__cell">Harmon</td>
          <td class="govuk-table__cell">westeros</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Claimant date of birth</th>
          <td class="govuk-table__cell">12 November 2003</td>
          <td class="govuk-table__cell">28 February 1978</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Claimant National insurance number</th>
          <td class="govuk-table__cell">QQ938488H</td>
          <td class="govuk-table__cell">CC903848D</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Date of injury</th>
          <td class="govuk-table__cell">13 January 2023</td>
          <td class="govuk-table__cell">4 January 2023</td>
        </tr>
        </tbody>
      </table>

      <p class="govuk-body">
        <a href="case-view-task-certs" class="govuk-link">View claim</a>
      </p>

      <div class="govuk-button-group govuk-!-margin-top-9">
        <button class="govuk-button" data-module="govuk-button">
          Save and complete task
        </button>
        <a href="close-task-da" class="govuk-button govuk-button--secondary" data-module="govuk-button">Unable to complete task</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
