
{% extends "../../../index.html" %}

{% block pageTitle %}
Task details
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">

<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="./">Home</a></li>-->
<!--        <li class="active"><a href="current-tasks">Current tasks</a></li>-->
<!--        <li><a href="completed-tasks">Completed tasks</a></li>-->
<!--        <li><a href="">Find a claim</a></li>-->
<!--        <li><a href="">Download reports</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <div class="govuk-grid-column-two-thirds">
      <a href="current-tasks" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

      <form class="form" action="completed-task-certs" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-2">
<!--          <span class="govuk-caption-l">CRS39488</span>-->
          Task details
        </h1>
        <strong class="govuk-tag govuk-tag--yellow">In progress</strong>

        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Close process when hospital treatment cannot be confirmed
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CRU reference
            </dt>
            <dd class="govuk-summary-list__value">
              CRU123
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name of injured person
            </dt>
            <dd class="govuk-summary-list__value">
              Claire Roberts
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              09 April 1972
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              123 London Road<br />
              Coventry<br />
              CV1 2FD
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of injury
            </dt>
            <dd class="govuk-summary-list__value">
              19 June 2022
            </dd>
          </div>
        </dl>

     

     <p class="govuk-body"> <a class="govuk-link" href="#">View claim</a></p>


        <br>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>

<p class="govuk-body">A CRU-Compl-Si letter has been sent to the injured person’s representative and injured person. Complete a final check on DRS to see if they have replied to this letter.  
Based on this, decide what ‘task outcome’ to choose below. </p>

<p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px">If the representative or injured person have replied and said the injured person did receive hospital treatment:</p>
<ul class="govuk-list govuk-list--bullet">
<li><a class="govuk-link" href="#">update claim details (open in a new tab)</a> and change HS hospital treatment from No to Yes</li>
<br>
<li>return to this page and choose ‘Close task – Hospital treatment took place’</li>
</ul>

  <p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px">If the representative or injured person have replied and said the injured person did not receive hospital treatment:</p>
  <ul class="govuk-list govuk-list--bullet">
  <li><a class="govuk-link" href="#">update claim options (open in a new tab)</a> and choose 'confirm HS treatment not needed'</li>
  <br>
  <li>return to this page and choose 'Close task - Hospital treatment did not take place'</li>
</ul>

<p class="govuk-body govuk-!-font-weight-bold" style="margin-bottom:10px">If the representative or injured person have not replied and we cannot confirm there was hospital treatment: </p>
<ul class="govuk-list govuk-list--bullet">
<li>choose 'Close task - Hospital treatment cannot be confirmed'</li>

</ul>

        <br>
 <h2 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">
  Task outcome
 </h2>


 <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
          Close task - Hospital treatment took place
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
         Close task - Hospital treatment did not take place 
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio" value="wales">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
          Close task -  Hospital treatment cannot be confirmed
        </label>
      </div>
    </div>
  </fieldset>
</div>
  

        <div class="govuk-button-group govuk-!-margin-top-7">
          <button class="govuk-button" data-module="govuk-button">
            Save and complete task
          </button>
          <a href="close-task-certs">Cancel</a>
        </div>

      </form>
    </div>
  </div>

{% endblock %}
