
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Completed task summary
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">

<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="./">Home</a></li>-->
<!--        <li class="active"><a href="current-tasks">Current tasks</a></li>-->
<!--        <li><a href="completed-tasks">Completed tasks</a></li>-->
<!--        <li><a href="">Find a claim</a></li>-->
<!--        <li><a href="">Download reports</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <div class="govuk-grid-column-full">
<!--      <a href="current-tasks" class="govuk-back-link govuk-!-margin-bottom-5">Back to completed tasks</a>-->

      <form class="form" action="current-tasks" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-2">
<!--          <span class="govuk-caption-l">CRS39488</span>-->
          Task details
        </h1>
        <strong class="govuk-tag govuk-tag--green">Completed</strong>

<!--        <p class="govuk-body govuk-!-margin-top-7"><a class="govuk-link" href="">View claim</a></p>-->

        <dl class="govuk-summary-list govuk-!-margin-top-7">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Description
                </dt>
                <dd class="govuk-summary-list__value">
                    Certificate requested: Investigate if benefits are attributable
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    CRU reference
                </dt>
                <dd class="govuk-summary-list__value">
                    PAB994
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Benefits returned
                </dt>
                <dd class="govuk-summary-list__value">
                    PIP<br />
                    UC
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Name of injured person
                </dt>
                <dd class="govuk-summary-list__value">
                    Sitaram Aslan
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                    23 July 1982
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    National Insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                    AA123456U
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Address
                </dt>
                <dd class="govuk-summary-list__value">
                    32 Fulwick Avenue<br />
                    Brighton<br />
                    BR1 1MS
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Date of injury
                </dt>
                <dd class="govuk-summary-list__value">
                    19 June 2022
                </dd>
            </div>
        </dl>

          <p class="govuk-body">
              <a href="case-view-task-certs" class="govuk-link">View claim</a>
          </p>

          <div class="govuk-button-group govuk-!-margin-top-9">
              <button class="govuk-button" data-module="govuk-button">
                  Go to next task
              </button>
              <a href="v2-dashboard" class="govuk-button govuk-button--secondary" data-module="govuk-button">Return to dashboard</a>
          </div>

      </form>
    </div>
  </div>

{% endblock %}
