
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
compensator Registration Details
{% endblock %}

{% block content %}


  <div class="govuk-width-container">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">

          <h1 class="govuk-heading-xl">Approve Compensator Limited</h1>

          <h2 class="govuk-heading-m">Company details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name
              </dt>
              <dd class="govuk-summary-list__value">
                Gina Bailey  
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">Name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['represesntative-name'] | default('Compensator Limited') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">Solictor name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['email-solicitor'] | default('gina.bailey@compensatorltd.com') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">email address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['represesntative-phone-number'] | default('0161 202 3698') }}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">telephone</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['solicitor-address'] | default('4 High Street') }}<br>Manchester<br>{{ data['representativepostcode'] | default('M1 4FE') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
</dl>


          
      

          <form action="approve-compensators-empty" method="post" novalidate>

            <input type="hidden" name="answers-checked" value="true">

            <button class="govuk-button" data-module="govuk-button">
              Approve
            </button>

          </form>

        </div>
      </div>
    </main>
  </div>

{% endblock %}
