
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li><a href="admin-dashboard">Home</a></li>
        <li class="active"><a href="admin-all-claims">All claims</a></li>
          <li><a href="admin-register-new-claim">Register a new claim</a></li>
          <li><a href="admin-take-over-claim">Take over a claim from another organisation</a></li>
        <li><a href="admin-manage-org">Manage organisation</a></li>
        <li><a href="admin-profile">My profile</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl govuk-!-margin-top-5">
            <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>
            All claims
        </h1>

        <!-- Filters -->
        <div class="govuk-form-group">
            <label class="govuk-label govuk-!-font-weight-bold" for="search-name">
                Search all claims registered by your organisation
            </label>
            <div id="event-name-hint" class="govuk-hint">
                Enter a reference or the name of the injured person
            </div>
            <input class="govuk-input govuk-input--width-20" id="search-name" name="search-name" type="text" value="">
            <button class="govuk-button" data-module="govuk-button">
                Search
            </button>
        </div>

    </div>
  </div>
{% endblock %}
