
{% extends "../../../index.html" %}

{% block pageTitle %}
Task details
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">

<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="./">Home</a></li>-->
<!--        <li class="active"><a href="current-tasks">Current tasks</a></li>-->
<!--        <li><a href="completed-tasks">Completed tasks</a></li>-->
<!--        <li><a href="">Find a claim</a></li>-->
<!--        <li><a href="">Download reports</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <div class="govuk-grid-column-full">
      <a href="current-tasks" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

      <form class="form" action="action-task-certs" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-2">
<!--          <span class="govuk-caption-l">CRS39488</span>-->
        Assign task
        </h1>
        <strong class="govuk-tag govuk-tag--blue">new</strong>

        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Task type
            </dt>
            <dd class="govuk-summary-list__value">
                  <strong class="govuk-tag govuk-tag--grey">Cert request</strong>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            CRU reference
            </dt>
            <dd class="govuk-summary-list__value">
              PAB994
            </dd>
          </div>





        </dl>




        <div class="govuk-button-group govuk-!-margin-top-7">
          <button class="govuk-button" data-module="govuk-button">
            Assign to me
          </button>

        </div>

      </form>
    </div>
  </div>

{% endblock %}
