
{% extends "../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
You have accepted our User Agreement
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>

  <p class="govuk-body">You have accepted our User Agreement and given us details for data sharing contacts in your organisation.</p>



          <h2 class="govuk-heading-m">What you need to do</h2>
                  <p class="govuk-body">
                    You can sign in now at ((signInUrl)) to register a new claim if: 
                  </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>it is for motor or public liability </li>
                    <li>the injured person is represented and can provide an email address for their representative</li>
                    <li>the injured person did not receive NHS hospital treatment because of the incident</li>
                  </ul>
                  <p class="govuk-body">
                    You can also:
                  </p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>get certificates for claims registered online that do not have recoverable benefits or NHS charges (HS charges in Northern Ireland)</li>
                    <li>notify the Compensation Recovery Unit that you are taking over an existing claim from another organisation</li>
                    <li>ask employees from your organisation to create their own individual accounts</li>
                  </ul>
                  <!-- <p class="govuk-body">
              An NHS19A has been sent to the compensator to explain the reason for the decision.
                  </p> -->




<br>
<p class="govuk-body">
<a href="/beta-v4/account-management/admin-user/admin-dashboard" class="govuk-link">Go to dashboard</a>
</p>


        </div>
      </div>


        </div>
      </div>


{% endblock %}
