
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Compensation Recovery Service
{% endblock %}

{% block content %}

<script type="text/javascript" src="/public/javascripts/accessible-autocomplete.min.js"></script>
<link rel="stylesheet" href="/public/javascripts/accessible-autocomplete.min.css" />
<style>
.autocomplete__option, .autocomplete__input {
  font-family: "nta", Arial, sans-serif;
}
</style>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>





        <form class="form" action="confirmation" method="post">



             <h1 class="govuk-heading-xl">
              <span class="govuk-caption-xl">NHS treatment details</span>
               Which hospital did the injured person receive treatment in?
             </h1>

        <div class="govuk-form-group">

          <div id="nationality" class="govuk-!-width-two-thirds">
              <div class="govuk-form-group">
                <!--<label class="govuk-label govuk-date-input__label" for="phone-number">
                  Phone number
                </label>-->


              <div ondblclick="myFunction()" id="hospitalOne" class="autocomplete-wrapper" name="hospitalOne" value="{{ data['hospitalOne'] }}" ></div>

            <div id="js-anotherCurrentCountry"></div>

                <!-- <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="doc-number" name="nationality" type="text"> -->
              </div>
            </div>


         </div>
         <div hidden class="govuk-inset-text" id="demo">
        <span class="govuk-body govuk-!-font-weight-bold">North Manchester General Hospital</span><br>
          Crescent Drive<br>
           Crumpsall<br>
           Manchester<br>
           M8 6RL<br>
         </div>



       <button class="govuk-button" data-module="govuk-button">
         Confirm
       </button>



    </form>



    </div>
  </div>

  <script type="text/javascript">
      function suggest (query, syncResults) {
        var results = [

        'Royal Surrey County Hospital',
'Weston General Hospital',
'Cheltenham General Hospital',
'Tewkesbury Community Hospital',
'Winchcombe Hospital',
'Moore Cottage Hospital',
'Moreton District Hospital',
'Cirencester Hospital',
'Bristol Royal Infirmary',
'Bristol General Hospital',
'Bristol Royal Hospital For Children',
'Bristol Eye Hospital',
'University Of Bristol Dental Hospital',
'Bristol Haematology And Oncology Centre',
'St Michaels Hospital Bristol',
'Torbay District General Hospital',
'Bovey Tracey Hospital',
'Brixham Hospital',
'Dartmouth Hospital',
'Ashburton & Buckfastleigh Hospital',
'Teignmouth Hospital',
'Paignton Hospital',
'Totnes Community Hospital',
'Bradford Royal Infirmary',
'St Lukes Hospital Bradford',
'Hillingdon Hospital',
'Sutton Hospital',
'Wellington & District Hospital',
'Chard Comm Hosp & Miu',
'Bridgwater & District General Hospital',
'Burnham On Sea War Memorial Hospital',
'Minehead Comm Hosp & Miu',
'Williton Hospital',
'Weymouth & District Hospital',
'Arrowe Park Hospital',
'Clatterbridge Hospital',
'Whiston Hospital',
'St Helens Hospital',
'Leighton Hospital',
'Victoria Infirmary Northwich',
'Bideford & District Hospital',
'Torrington Hospital',
'Ilfracombe Hospital',
'North Devon District Hospital',
'York Hospital',
'Scarborough General Hospital',
'Bridlington & District Hospital',
'Malton Community Hospital',
'Whitby Community Hospital',
'Airedale General Hospital',
'North Riding Infirmary',
'South Cleveland Hospital',
'Kendray Hospital',
'Keresforth Centre',
'Finchley Memorial Hospital',
'Edgware Community Hospital',
'Basildon Hospital',
'Orsett Hospital',
'Colchester General Hospital',
'Essex County Hospital',
'Harwich & District Hospital',
'Halstead Hospital',
'Eastbourne District General Hospital',
'Conquest Hospital',
'Wimborne Hospital',
'Swanage Community Hospital',
'Stead Memorial Hospital',
'Guisborough General Hospital',
'East Cleveland Primary Care Hospital',
'Cockermouth Cottage Hospital & Eye Clinic',
'Palmer Community Hospital',
'Okehampton Hospital',
'Crediton Community Hospital',
'Tiverton & District Hospital',
'Honiton Hospital',
'Ottery St Mary Hospital',
'Axminster Hospital',
'Victoria Cottage Hospital',
'Exmouth Hospital',
'Budleigh Salterton Hospital',
'Cumberland Centre',
'West Cornwall Hospital',
'Southport General Infirmary',
'Southport District General Hospital',
'Sir Alfred Jones Memorial',
'Rathbone Hospital',
'Rochdale Infirmary',
'Hull Royal Infirmary',
'Princess Royal Hospital',
'Hull Maternity Hospital',
'Diana Princess Of Wales Hospital',
'St Oswalds Hospital',
'Barnsley District General Hospital',
'Mansfield Community Hospital',
'Rotherham Hospital',
'Northwick Park Hospital',
'Maidstone Hospital',
'Bromley Hospital',
'Beckenham Hospital',
'Orpington Hospital',
'Chase Farm Hospital',
'Stamford & Rutland Hospital',
'Lowestoft & North Suffolk Hospital',
'James Paget Hospital',
'Northgate Hospital',
'St Leonards Hospital',
'Walnuttree Hospital',
'Miu Princess Of Wales Ely',
'Physio Dept Brookfields Hospital',
'Royal Sussex County Hospital',
'Sussex Eye Hospital',
'Royal Alexandra Hospital For Sick Children',
'Uckfield Community Hospital',
'Crowborough War Memorial Hospital',
'Queen Marys Hospital Sidcup',
'Wycombe General Hospital',
'Townlands Miu/Memorial Hosp',
'Standish Hospital',
'Dilke Memorial Hospital',
'Lydney & District Hospital',
'Stroud General Hospital',
'Heavitree Hospital',
'St Michaels Enfield',
'Southampton General Hospital',
'Royal South Hants Hospital',
'Princess Anne Hospital',
'Queen Alexandra Hospital',
'Royal Berkshire Hospital',
'Battle Hospital',
'Upton Hospital',
'St Thomas Hospital',
'Western Eye Hospital',
'East Cornwall Hospital',
'Fowey Hospital',
'Helston Hospital',
'Newquay Hospital',
'Launceston General Hospital',
'St Barnabas Hospital',
'Stratton Hospital',
'Camborne Redruth Community Hospital',
'Falmouth Hospital',
'Warwick Hospital',
'Stratford Hospital',
'Cannock Chase Hospital',
'Chorley & South Ribble District General Hospital',
'Leigh Infirmary',
'Royal Albert Edward Infirmary',
'Billinge Hospital',
'Wrexham Maelor Hospital',
'Machynlleth Hospital',
'Brecon War Memorial Hospital',
'Builth Cottage Hospital',
'Knighton Hospital',
'Ystradgynlais Community Hospital',
'Llandrindod Wells County Hospital',
'Broddyfi Community Hospital',
'Llanidloes & District War Memorial Hospital',
'Montgomery County Infirmary',
'Victoria Memorial Hospital',
'Royal Gwent Hospital',
'County Panteg Hospital',
'Barry Neighbourhood Hospital',
'Singleton Hospital',
'Fairwood Hospital',
'Hill House Hospital',
'West Wales General Hospital',
'Llandovery Cottage Hospital',
'Bronglais General Hospital',
'Cardigan & District Memorial Hospital',
'Aberaeron Hospital',
'Ysbyty Tregaron',
'Clay Cross Community Hospital',
'Newholme Hospital',
'Whitworth Hospital',
'Buxton Hospital',
'Cavendish Hospital',
'Walton Hospital',
'New Cross Hospital',
'Wolverhampton & Midland Eye Infirmary',
'Wigton Hospital',
'Cumberland Infirmary',
'Cherry Knowle Hospital',
'Monkwearmouth Hospital',
'Sunderland Royal',
'Sunderland Eye Infirmary',
'Ryhope General Hospital',
'Victoria Eye Hospital',
'Longton Hospital',
'Leek Moorlands Hospital',
'Cheadle Hospital',
'Bradwell Hospital',
'West Norwich Hospital',
'Cromer Hospital',
'Withington Hospital',
'Trafford General Hospital',
'Altrincham Hospital',
'Prudhoe Hospital',
'Hulton Hospital',
'Fall Birch Hospital',
'Sharoe Green Hospital',
'North Manchester General Hospital',
'Lytham Hospital',
'Fleetwood Hospital',
'Bury General Hospital',
'Fairfield General Hospital (Bury)',
'St Michaels Hospital',
'Dereham Hospital',
'Kelling Hospital',
'North Walsham Hospital',
'Wayland Hospital',
'Ogden Court',
'Cranmer House',
'Colman Hospital',
'Royal Hampshire County Hospital',
'Savernake Hospital',
'Duke Of Cornwall Spinal Centre',
'Salisbury District Hospital',
'Gosport War Memorial Hospital',
'Petersfield Hospital',
'Havant War Memorial Hospital',
'Victoria Cottage Hospital',
'Guest Hospital',
'Wordsley Hospital',
'Corbett Hospital',
'Lichfield Victoria Hospital',
'Sir Robert Peel Community Hospital',
'Newham University Hospital',
'Royal London Hospital',
'Kettering General Hospital',
'Stoke Mandeville Hospital',
'Littlemore Hospital',
'Warneford Hospital',
'Park Hospital For Children',
'Danetre Hospital',
'Towcester Health Centre',
'John Radcliffe Hospital',
'Churchill Hospital',
'Horton General Hospital',
'Princess Royal Hospital',
'Hurstwood Park Neurological Centre',
'Ysbyty Bryn Beryl',
'Dolgellau & Barmouth District Hospital',
'Ffestiniog Memorial Hospital',
'Ysbyty Goffa Tywyn & District War Memorial Hosp',
'Ysbyty Penrhos Stanley',
'Pinderfields Hospital',
'Clayton Hospital',
'Castleford Normanton & District Hosp',
'Pontefract General Infirmary',
'Southmoor Hospital',
'Tenby Cottage Hospital',
'South Pembrokeshire Hospital',
'Withybush General Hospital',
'Mile End Hospital',
'Brooklands',
'Lea Castle Centre',
'St Tydfils Hospital',
'Eastman Dental Hospital',
'National Hospital For Neurology & Neurosurgery',
'Hospital For Tropical Diseases',
'Bishop Auckland General Hospital',
'Newcastle General Hospital',
'Freeman Hospital',
'Royal Victoria Infirmary',
'Ashington Hospital',
'North Tyneside General Hospital',
'St Georges Park',
'Sir G B Hunter Memorial Hospital',
'Wansbeck General Hospital',
'Hexham General Hospital',
'Haltwhistle War Memorial Hospital',
'Berwick Infirmary',
'Alnwick Infirmary',
'Coquetdale Cottage Hospital',
'Morpeth Cottage Hospital',
'Blyth Community Hospital',
'St Peters Hospital',
'Ashford Hospital',
'Crawley Hospital',
'Royal Lancaster Infirmary',
'Furness General Hospital',
'Coathill Hospital',
'Wester Moffat Hospital',
'Cleland Hospital',
'Kirklands Hospital',
'Udston Hospital',
'Lady Home Hospital',
'Lockhart Hospital',
'Hairmyres University Hospital',
'Stonehouse Hospital',
'Monklands Hospital',
'Croydon University Hospital',
'Balfour Hospital',
'Gilbert Bain Hospital',
'Burnley General Hospital',
'Western Isles Hospital Isle Of Lewis',
'Weymouth Community Hospital',
'St Brendans Hospital',
'Campbeltown Hospital',
'Dunoon District General Hospital',
'Royal Preston Hospital',
'Mid Argyll Hospital',
'Victoria Hospital Bute',
'Dumbarton Joint Hospital',
'Argyll & Bute Hospital',
'Islay Hospital',
'Yeovil District Hospital',
'Royal Alexandra Hospital (Paisley)',
'Inverclyde Royal',
'Dawlish Hospital',
'Northern General Hospital',
'Dykebar Hospital',
'Ravenscraig Hospital',
'Ayr University Hospital',
'Crosshouse Hospital',
'Southend University Hospital',
'Lister Hospital',
'Lady Margaret Hospital',
'Arran War Memorial Hospital Hospital',
'St Helier Hospital Surrey',
'Queen Marys Hospital For Children',
'Nelson Hospital',
'Borders General Hospital',
'Coldstream Cottage',
'Sister Margaret Hospital',
'Knoll Hospital',
'Hawick Communtiy Hospital',
'Hay Lodge Hospital',
'Kelso Hospital',
'Dingleton Hospital',
'Alder Hey Hospital',
'Raigmore Hospital',
'Caithness General Hospital',
'Belford Hospital',
'Dr Mackinnon Memorial Hospital',
'Ealing Hospital',
'Gesto Hospital',
'Portree Hospital',
'Royal Northern Infirmary',
'St Vincents Hospital',
'Ian Charles Hospital',
'Town & County Hospital Nairn',
'Ross Memorial Hospital',
'Invergordon County Hospital',
'Craig Dunain Hospital',
'Craig Phadrig Hospital',
'Town & County Wick',
'Luton & Dunstable Hospital',
'Lawson Memorial Hospital',
'Migdale Hospital',
'Friarage Hospital',
'Dunbar Hospital',
'Harrogate District Hospital',
'Falkirk Community Hospital',
'Stirling Health & Care Village',
'Princess Margaret Rose Hospital',
'Simpsons Memorial Maternity Hospital',
'Royal Infirmary Of Edinburgh (Little France)',
'Royal Hospital For Sick Children Edinburgh',
'Western General Hospital',
'Royal Victoria Hospital',
'Edenhall Hospital',
'Roodlands General',
'Belhaven Hospital',
'Edington Cottage Hospital',
'Astley Ainsley Hospital',
'Sheffield Childrens Hospital',
'Ferryfield House',
'Royal Edinburgh Psychiatric Hospital',
'Corstorphine Hospital',
'Royal United Hospital Bath',
'Dumfries & Galloway Royal Infirmary',
'Cresswell Maternity Hospital',
'Clenoch Maternity Unit',
'Dalrymple Hospital',
'Crichton Royal Hospital',
'Milton Keynes General Hospital',
'St Johns Hospital At Howden',
'Aberdeen Royal Infirmary',
'Aberdeen Maternity Hospital',
'Royal Aberdeen Childrens Hospital',
'Grampian University Hospital',
'Leanchoil Hospital',
'Frimley Park Hospital',
'Christchurch Hospital',
'Westbourne Eye Hospital',
'Harton Hospital',
'Spynie Hospital',
'South Tyneside Hospital',
'Seafield Hospital',
'Turner Memorial Hospital',
'Stephen Hospital',
'Fleming Hospital',
'Aboyne Hospital',
'Campbell Hospital',
'Chalmers Hospital',
'Fraserburgh Hospital',
'Insch Hospital',
'Inverurie Hospital',
'Jubilee Hospital',
'Kincardine Community Hospital',
'Peterhead Hospital',
'Kincardine Oneil Hospital',
'Turriff Hospital',
'Ugie Hospital',
'Southmead Hospital',
'Glasgow Royal Infirmary',
'Royal Cornwall Hospital',
'Canniesburn Hospital',
'Aintree University Hospital',
'Lightburn Hospital',
'Liverpool Womens Hospital',
'Glasgow Dental Hospital & School',
'Stobhill General Hospital',
'Lenzie Hospital',
'Gartnavel General Hospital',
'Blawarthill Hospital',
'Drumchapel Hospital',
'Homeopathic Hospital (Glasgow)',
'Walton Centre For Neurosurgery & Neurology',
'Birch Hill Hospital',
'Victoria Infirmary Glasgow',
'Royal Hospital For Children',
'Leicester Royal Infirmary',
'Queen Margaret Hospital',
'Victoria Hospital Kirkaldy',
'Forth Park Hospital',
'Adamson Hospital',
'St Andrews Memorial',
'West Middlesex University Hospital',
'Ninewells Hospital & Med School',
'Stracathro Hospital',
'Perth Royal Infirmary',
'Aberfeldy Cottage',
'Blairgowrie Cottage',
'Crieff Community Hospital',
'Armistead Child Dev Centre',
'Royal Dundee Liff',
'Royal Victoria',
'Arbroath Infirmary',
'Brechin Infirmary',
'Forfar Infirmary',
'Ysbyty Glan Clwyd Hospital',
'Royal Alexandra Hospital (Rhyl)',
'Denbigh Infirmary Community Hospital',
'Abergele Hospital',
'Colwyn Bay Community Hospital',
'Ruthin Community Hospital',
'Llangollen Community Hospital',
'Chepstow Community Hospital',
'Stepping Hill Hospital',
'Devonshire Royal Hospital',
'Selly Oak Hospital',
'Rowley Regis Hospital',
'Poole Hospital',
'Papworth Hospital',
'Ipswich Hospital',
'West Suffolk Hospital',
'Worthing Hospital',
'Southlands Hospital',
'Ida Darwin Hospital',
'Addenbrookes Hospital',
'Brighton General Hospital',
'Gloucestershire Royal Hospital',
'Royal Devon & Exeter Hospital',
'Queen Marys Hospital',
'Guys Hospital',
'St Marys Hospital Paddington',
'St Georges Hospital Tooting',
'County Hospital Stafford',
'Queens Hospital Burton',
'Good Hope Hospital',
'Macclesfield District General Hospital',
'Hollins Park Hospital',
'Halton General Hospital (Nightingale Building)',
'Warrington Hospital',
'Whittington Hospital',
'Princess Royal Hospital',
'County Hospital Hereford',
'Lincoln County Hospital',
'George Eliot Hospital',
'Louth County Hospital',
'Miu John Coupland Hospital',
'Birmingham City Hospital',
'Bognor Regis War Memorial Hospital',
'Royal Shrewsbury Hospital',
'Wythenshawe Hospital',
'Northgate Hospital',
'Queens Park Hospital',
'Blackburn Royal Infirmary',
'Chesterfield Royal Hospital',
'Kings Mill Hospital',
'Russells Hall Hospital',
'Bedford Hospital',
'St Bartholomews Hospital',
'Northampton General Hospital',
'Great Ormond Street Hospital',
'Royal Hallamshire Hospital',
'Charles Clifford Dental Hospital',
'Princess Marina Hospital',
'Weston Park Hospital',
'Dorset County Hospital',
'Medway Maritime Hospital',
'Queen Victoria Hospital',
'Royal Oldham Hospital',
'Royal Liverpool Hospital',
'Broadgreen Hospital',
'Princess Alexandra Hospital',
'Highlands House',
'Priority House',
'Heathside House',
'William Julien Courtauld Hospital',
'Broomfield Hospital',
'Royal Manchester Childrens Hospital',
'Booth Hall Childrens Hospital',
'Watford General Hospital',
'Chelsea & Westminster Hospital',
'Hammersmith Hospital',
'Charing Cross Hospital',
'Queen Charlottes & Chelsea Hospital',
'Acton Hospital',
'Herts & Essex Hospital',
'St Margarets Hospital',
'Homerton Hospital',
'Princess Of Wales Bridgend',
'Birmingham Chest Clinic',
'Yardley Green Hospital',
'Solihull Hospital',
'St Marys Hospital Newport',
'Victoria Central Hospital',
'Bensham Hospital',
'Queen Elizabeth Hosp Gateshead',
'Dunston Hill Hospital',
'Tranwell & Elmwood Mental Health Units',
'Leeds General Infirmary',
'Leeds Dental Hospital',
'St James Hospital',
'Cookridge Hospital',
'Wharfedale General Hospital',
'Seacroft Hospital',
'Leeds Chest Clinic',
'Chapel Allerton Hospital',
'Clarendon Wing',
'Disablement Services Authority',
'Dryburn Hospital',
'South Moor Hospital',
'Chester Le Street Hospital',
'Shotley Bridge Hospital',
'Ysbyty Gyffredinol Llandudno General',
'Gwynedd Hospital',
'Penrhos Stanley Hospital',
'St Pancras Hospital',
'University College Hospital Site',
'Elizabeth Garret Anderson Hospital',
'Darlington Memorial Hospital',
'East Surrey Hospital',
'Prince Charles Hospital',
'Ashfield Health Village',
'Millbrook Mental Health Unit',
'Bronllys Hospital',
'Minor Injuries Unit',
'Sittingbourne Memorial Hospital',
'Tarentfort Centre Archery House',
'Stone House Hospital',
'Sandwell General Hospital',
'Derby Royal Infirmary',
'Derby City General Hospital',
'Kingston Hospital',
'Ormskirk & District General Hospital',
'Birmingham Womens Hospital',
'Dewsbury District Hospital',
'Tregaron Hospital',
'Bryn Beryl Hospital',
'Blackpool Victoria Hospital',
'University Hospital Aintree',
'Bridport Hospital',
'North Middlesex Hospital',
'Portland Hospital',
'St Marys Hospital Manchester',
'Manchester Royal Infirmary',
'Manchester Royal Eye Hospital',
'Grimsby District General Hospital',
'Birmingham Heartlands Hospital',
'Kings College Hospital',
'Miu North Cambs Hospital',
'Physio Dept North Cambridgeshire Hospital',
'Queen Elizabeth Hospital Kings Lynn',
'Chirk Community Hospital',
'Flint Community Cottage Hospital',
'Holywell Community Hospital',
'Mold Community Hospital',
'Dundee Teaching Hospital',
'Western Infirmary',
'Dr Grays Hospital',
'Tameside General Hospital',
'West Cumberland Hospital',
'Victoria Cottage Hospital',
'Epsom General Hospital',
'Derriford Hospital',
'Accrington Victoria Community Hospital',
'Royal Orthopaedic Hospital',
'Musgrove Park Hospital',
'Calow Hospital',
'Llandough Hospital',
'Ronkswood Hospital',
'City General',
'County Hospital',
'Crumpsall Hospital',
'Queen Elizabeth The Queen Mother Hospital',
'Buckland Hospital',
'Kent & Canterbury Hospital',
'William Harvey Hospital',
'Amy Evans Hospital',
'Hemel Hempstead Hospital',
'St Albans City Hospital',
'Evesham Community Hospital',
'Wexham Park Hospital',
'Monmouth General Hospital',
'Nevill Hall Hospital',
'Llanfrechfa Grange Hospital',
'West Hertfordshire Hospital',
'Queens Medical Centre',
'St Richards Hospital',
'Northwich Hospital',
'Oldstock Hospital',
'Treliske Hospital',
'Dudley Road Hospital',
'Barnstaple District General',
'Rjah Orthopaedic Hospital',
'Dorchester Hospital',
'Basingstoke & North Hampshire Hospital',
'Royal Free Hospital',
'Royal National Throat Nose & Ear Hosp',
'Earls House Hospital',
'Carmarthen General Hospital',
'Dundee Royal Infirmary',
'Royal Bournemouth Hospital',
'Horsham Hospital',
'Runcorn Halton General Hospital',
'Central Middlesex Hospital',
'Samuel Johnson Hospital',
'Royal Liverpool University Hospital',
'Garston Minor Injuries Unit',
'Stretford Memorial Hospital',
'Park Hospital',
'Loughborough Hospital',
'Gorse Hill Hospital',
'Market Harborough & District Hospital',
'Melton & District War Memorial Hospital',
'Rutland Memorial Hospital',
'St Marys Hospital',
'St Lukes Hospital Leics',
'Coalville Hospital',
'Ashby & District Hospital',
'Hinckley & District Hospital',
'Hinckley & Bosworth Community Hospital',
'St Cross Hospital',
'Hinchingbrooke Hospital',
'Edgware General Hospital',
'Prince Philip Hospital',
'Royal Victoria Hospital',
'Bridgnorth Hospital',
'Whitchurch Hospital',
'Shelton Hospital',
'Ludlow Community Hospital',
'Oxford Radcliffe Hospital',
'Milton Keynes Community',
'Fielding Palmer Cottage Hospital',
'Gorseinon Hospital',
'Clydach Hospital',
'Gellinudd Hospital',
'Morriston Hospital',
'Queen Elizabeth Hosp Woolwich',
'Dewi Sant Hospital',
'North Tees General Hospital',
'Barnet General Hospital',
'Acklam Road Hospital',
'Cottage Hospital',
'Guildford Hospital',
'Ormskirk Royal Infirmary',
'Pendlebury Childrens Hospital',
'Rake Lane Hospital',
'Wigan Hospital',
'Rookwood Hospital',
'University Hospital Of Wales',
'Erith & District Hospital',
'Lamlash Hospital',
'Walton Hospital',
'Stockport Infirmary',
'Royal Brompton Hospital',
'Harefield Hospital',
'University College London',
'Otley Hospital',
'Teddington Memorial Hospital',
'Clifton Hospital',
'Rossall Hospital',
'Robert Jones & Agnes Hunt Orthopaedic Hospital',
'Oswestry Hospital',
'Shropshire Orthopaedic Hospital',
'Oswestry & District Hospital',
'Oswestry Orthopaedic Hospital',
'Gobowen Hospital',
'Uxbridge Hospital',
'Moorfields Eye Hospital',
'Whitstable & Tankerton Hospital',
'Queen Victoria Memorial Hospital (Kent)',
'Victoria Hospital Deal',
'West View Hospital',
'Royston & District Hospital',
'Greenock Hospital',
'Chichester Hospital',
'Ripon Community Hospital',
'Wonford Hospital',
'North Hampshire Hospital',
'Rossendale General',
'Ashton General Hospital',
'Ashton Under Lyne Hospital',
'Bexhill Hospital',
'Royal Bolton Hospital',
'Amersham Hospital',
'Chalfont & St Gerrards Cross Hospital',
'Chesham Hospital',
'Marlow Hospital',
'Princess Of Wales Community Hospital (Worcs)',
'Malvern Community Hospital',
'Bangour General Hospital',
'St Woolos Hospital',
'Banbury Hospital',
'Sedgefield Community Hospital',
'Ellesmere Port Hospital',
'Newmarket Community Hospital',
'Huntingdon Treatment Centre',
'Taunton General Hospital',
'Vale Of Leven District General Hospital',
'Lorn & Islands District General Hospital',
'Lewes Victoria Hospital',
'Langholme Hospital',
'Newton Stewart Hospital',
'Moffat Hospital',
'Garrick Hospital',
'Brentwood Community Hospital',
'Montrose Royal Infirmary',
'Bath Neuro Rehabilitation Services',
'Barnes Hospital',
'Hartlepool General Hospital',
'Congleton & District War Memorial Hospital',
'Cromford Lodge Hospital',
'Knutsford & District Community Hospital',
'Richardson Hospital',
'Crewkerne Hospital',
'Leominster Community Hospital',
'Dulwich Hospital',
'Caterham Dene Hospital',
'St Austell Hospital',
'Deeside Community Hospital',
'Wincanton Hospital',
'South Petherton Hospital',
'University Hospital Lewisham',
'Wareham Hospital',
'Alderney Hospital',
'St Leonards Hospital Ringwood',
'Princess Elizabeth Orthopaedic Centre',
'Wirral Hospital',
'Kirkcudbright Hospital',
'Redhill Hospital',
'Glasgow Royal Maternity Hospital',
'Liberton Hospital',
'Roehampton Hospital',
'Staincliffe Hospital',
'Ross On Wye Community Hospital',
'Waterloo Day Hospital',
'Diana Princess Of Wales Childrens Hospi',
'Diana Princess Of Wales Childrens Hosp',
'Heath Park Hospital',
'Foresthill Hospital',
'Truro General',
'Queen Elizabeth Hospital Birmingham',
'Fort William Hospital',
'Pendle Community Hospital',
'Treharris Health Centre',
'Amman Valley Hospital',
'Mynydd Mawr Hospital',
'University Hospital Nottingham',
'Deal Community Health Clinic',
'Hove General Hospital',
'Hammerwich Hospital',
'Brooksby House Hospital',
'Walsall Manor Hospital',
'Fulham Hospital',
'Glenrothes Hospital',
'St Nicholas Hospital',
'Chiltern Community Mental Health Team',
'Holsworthy Community Hospital',
'Arundel And District Hospital',
'Newcastle Dental Hospital',
'Panteg Hospital',
'Derbyshire Royal Infirmary',
'St Margarets Hospital',
'Ropewalk House',
'Cedars Rehabilitation Centre',
'Chingford Health Centre',
'Goscote Hospital',
'X-Ray & Out Patients Queen Victoria Hospital',
'Fleet Community Hospital',
'Rosie Hospital',
'Handforth Health Centre',
'George Thomas Hospital',
'Eryri Hospital',
'Physio At Victoria Health Center',
'Gartnavel Royal Hospital',
'Leverndale Hospital',
'Parkhead Hospital',
'Golspie Health Centre',
'Batley General Hospital',
'Randolph Wemyss Hospital',
'Whelley Hospital',
'Seaton & District Community Hospital',
'Fairford Cottage Hospital',
'Coronation Hospital',
'Peterlee Community Hospital',
'Wokingham Hospital',
'Rushden Memorial Clinic',
'Royal Eye Infirmary',
'Skipton General Hospital',
'Staffa Health Centre',
'Dalkeith Medical Center',
'Denmead Health Centre',
'Marlow Health Clinic',
'Maesteg Community Hospital',
'Biggart Hospital',
'Leith Hospital',
'Nottingham City Hospital',
'Wanstead Hospital',
'Abbey Wood Clinic',
'Richmond Rehabilitation Unit',
'Forres Health Centre',
'Buckingham Hospital',
'Alton Community Hospital',
'Thurrock Community Hospital',
'Wrekin Hospital',
'Cossham Hospital',
'Ulverston Outpatients Radiology Dept',
'Southport & Ormskirk Hospital',
'Edward Hain Memorial Hospital',
'Aberystwyth General Hospital',
'Swindon Hospital',
'Castle Douglas Hospital',
'South Molton Comm Hosp',
'Whytemans Brae Hospital',
'Newton Abbot Hospital',
'Copthorne Hospital',
'Trevalyn Hospital',
'Sheppey Community Hospital',
'Castle Hill Hospital',
'Westwood Hospital',
'Royal Glamorgan Hospital',
'Shipley Community Hospital',
'Ainslie Rehabilitation Unit',
'Abbey Road Clinic',
'Nuffield Orthopaedic Centre',
'Garden Health Physio Unit',
'Bedford Hospital',
'Bromyard Cottage Hospital',
'Royal Leamington Spa Rehab',
'Ellen Badger Hospital',
'Thomas Hope Hospital',
'Royal National Orthopaedic Hospital',
'Market Drayton Cottage Hospital',
'Woolmanhill Hospital',
'Ayrshire Central Hospital',
'Allensbys Chase Health Centre',
'Hove Poly Clinic',
'Royal Salop Infirmary',
'Rsi',
'Wembley Centre For Health & Care',
'St Charles Hospital',
'Old Swan Walk In Centre',
'Queen Elizabeth Ii Hospital',
'Danesbury Hospital',
'Hertford County Hospital',
'Queen Victoria Memorial Hospital (Herts)',
'Seward Lodge',
'Devonshire Centre For Neuro-Rehabilitation',
'St Thomas Hospital',
'Stockport Acute Services',
'Shire Hill Hospital',
'West Park Hospital Wolverhampton',
'Rutson Hospital',
'Richmond Victoria Hospital',
'Mount Vernon Hospital (Middlesex)',
'Andover War Memorial Community Hospital',
'Stroud Maternity Hospital',
'Millom Hospital',
'St Francis Day Unit',
'Bonnyrigg Health Centre',
'Ryde Out-Patient Department',
'Woodend Hospital',
'Pwllheli Hospital Ala Road',
'Frank James Comm. Hospital',
'Romsey Hospital',
'East Grinstead Hospital',
'Derbyshire Childrens Hospital',
'Salford Royal Hospital',
'Darwen Physiotherapy Centre',
'Rosedale Community Unit',
'Willesden Hospital (Physio)',
'Whitchurch Hospital',
'Lansdowne Hospital',
'Porthill Clinic (Physio)',
'Franklyn Hospital',
'Dalgety Bay Clinic (Physio)',
'Brookside Health Centre (Physio)',
'Glanrhyd Hospital',
'West Heath Hospital',
'Moseley Hall Hospital',
'Birmingham Dental Hospital',
'West Midlands Rehabilitation Centre',
'Canvey Island Outpatient Centre',
'Royal Cornhill Hospital',
'Aviemore Health Centre',
'Countess Of Chester Hospital',
'Glenfield Hospital',
'Leicester General Hospital',
'Lings Bar House',
'Tenbury & District Hospital',
'Alexandra Hospital',
'Mcleod Street Physio Centre',
'West Gate Health Centre',
'Clayponds Hospital',
'St Johns Therapy Centre',
'Dundee Dental Hospital',
'Kidderminster General Hospital',
'Rowden Hill Hospital',
'Smithdown X-Ray',
'Wessex Neurological Centre',
'Livingstone Hospital',
'Darent Valley Hospital',
'Miu Doddington Hospital',
'Frenchay Hospital',
'Glasgow Royal Infirmary',
'Kings Cross Hospital',
'Tunbridge Wells Hospital',
'Kent And Sussex Hospital',
'Pembury Hospital',
'Wrightington Hospital',
'Edenbridge Hospital',
'Sevenoaks Hospital',
'Tonbridge Cottage Hospital',
'Hawkhurst Cottage Hospital',
'Lansdowne Road Clinic',
'Woodlands Health Clinic',
'Jockey Lane Clinic',
'Cranbrook Clinic',
'Allen Gardiner Cottage',
'Goole & District Hospital',
'Scunthorpe General Hospital',
'Brigg Physio Unit',
'Grantham & District Hospital',
'Pilgrim Hospital',
'Skegness & District Hospital',
'Welland Hospital',
'Annan Hospital',
'Wonford House Hospital',
'Holly Lodge',
'Ilkeston Community Hospital',
'Hythe Hospital',
'Fenwick Hospital',
'Lymington New Forest Hospital',
'St Catherines Hospital',
'Tavistock Hospital',
'South Hams Hospital',
'Kingsbridge Hospital',
'Grantham & Kesteven Hospital',
'Cefn Coed Hospital',
'University Hospital Of North Durham',
'Babington Hospital',
'Beverley Westwood Hospital',
'Chase Community Hospital',
'Keswick Hospital',
'Brampton Hospital',
'Penrith Hospital',
'Alston (Ruth Lancaster James) Hospital',
'Boston Hospital',
'St Pauls Eye Hospital',
'Walkergate Hospital',
'Montague Hospital',
'Bassetlaw Hospital',
'Retford Hospital',
'Doncaster Royal Infirmary',
'Swaffham Community Hospital',
'St Marys Hospital Cornwall',
'St Helens Walk In Centre',
'Fordingbridge Hospital',
'Slough Nhs Walk In Centre',
'St Marys Hospital Kettering',
'Corby Community Hospital',
'Isebrook Hospital',
'Mayfair',
'Redcliffe',
'Rushden Hospital',
'Bethlem Royal Hospital',
'Maudsley Hospital',
'King George Hospital',
'Fanshaw Health Centre',
'Barking Comm Hospital Walk In Centre',
'Heanor Memorial Health Centre',
'Ripley Hospital',
'Newark Hospital',
'Caroline House',
'Priscilla Bacon Lodge',
'Pine Cottage',
'Haywood Hospital',
'Hartshill Orthopaedic Hospital',
'Miu New Selby War Memorial Hospital',
'Victoria Hospital Romford',
'Saffron Walden Hospital',
'Linden Centre',
'Heronwood & Galieon Unit',
'Whipps Cross University Hospital',
'Wishaw General Hospital',
'Westminster Memorial Hospital',
'Shaftesbury Hospital',
'Yeatman Hospital',
'Blandford Hospital',
'Prestatyn Community Hospital',
'Newbury Hospital',
'Sandleford Hospital',
'Prospect Park Hospital',
'Dedridge Health Centre',
'Chadwell Heath Day Hospital',
'Potters Bar Community Hospital',
'Shepton Mallet Comm Hosp & Miu',
'Calderdale Royal Hospital',
'Huddersfield Royal Infirmary',
'Holme Valley Memorial Hospital',
'St Lukes Hospital Huddersfield',
'Princess Royal Community Health Centre',
'Skelmanthorpe Health Centre',
'Halifax General Hospital',
'Royal Halifax Infirmary',
'Northowram Hospital',
'Outpatients Alfred Bean Hospital',
'Hornsea Cottage Hospital',
'Withernsea Community Hospital',
'Chipping Norton War Memorial Community Hospital',
'Mary Hewetson Cottage Hospital',
'Department Of Psychiatry Southampton',
'Ravenswood House',
'Melbury Lodge',
'Moorgreen Hospital',
'Western Community Hospital',
'Thame Community Hospital',
'Wantage Community Hospital',
'Witney Community Hospital',
'Didcot Community Hospital',
'Abingdon Community Hospital',
'Faringdon Hospital',
'Oxford Community Hospital',
'Wallingford Community Hospital',
'Bicester Community Hospital',
'Newham Urgent Care Centre',
'James Cook University Hospital',
'University Hospital Of Hartlepool',
'University Hospital Of North Tees',
'Edgware Nhs Walk In Centre',
'Roseberry Park',
'Aberdeen City Hospital',
'Monkgate Walk In Centre',
'Bloxwich Hospital',
'Dorothy Pattison Hospital',
'Carisbrooke Health Centre',
'Riverhouse Day Centre',
'Leigh Walk In Centre',
'Wych Elm House',
'Harlow Urgent Care Centre',
'Cameron Hospital',
'East Ayrshire Community Hospital',
'Orsett Minor Injuries Unit',
'Manor House Hospital',
'Bodmin Hospital',
'St Marks Hospital',
'The Great Western Hospital',
'Homelands Hospital',
'Exeter Walk In Centre',
'Exeter Community Hospital',
'Moretonhampstead Hospital',
'Ancoats Walk In Centre',
'Llwyneryr Hospital',
'Shirley Walk In Centre',
'Royal London Homeopathic Hospital',
'Princess Royal University Hospital',
'Wathwood Hospital',
'St Michaels Hospital',
'Groeswen Hospital',
'University College Hospital At Westmoreland',
'St Georges Minor Injuries Unit',
'University Dental Hospital Of Manchester',
'Wotton Lawn Hospital',
'Charlton Lane Centre',
'St Monicas Hospital',
'Bury Walk In Centre',
'Liverpool (City) Nhs Walk In Centre',
'Bishops Castle Community Hospital',
'Thorneywood Child & Adolescent Psychiatry Unit',
'Peterborough Utc',
'St Davids Hospital',
'Milford On Sea Day Hospital',
'Flaghead Unit',
'Kings Park Hospital',
'Princess Alexandra Eye Pavilion',
'Ravenscourt Park Hospital',
'Prestwich Walk In Centre',
'Glen Odee Hospital',
'Poltair Hospital',
'Newhaven Polyclinic',
'Dene Barton Community Hospital',
'Liverpool Heart & Chest Hospital',
'Lynebank Hospital',
'Rayners Hedge Rehabilitation Clinic',
'Clitheroe Community Hospital',
'West Mendip Hospital',
'West Berkshire Community Hospital',
'Liskeard Community Hospital',
'Norfolk & Norwich University Hospital',
'Lambert Memorial Hospital',
'Withington Walk In Centre',
'Darlington Walk In Centre',
'Whitehills Hospital',
'Ashford Nhs Walk In Centre',
'Queens Hospital Romford',
'Skelmersdale Nhs Walk In Centre',
'Archways Intermediate Care Unit',
'Milton Keynes Urgent Care Service (Wic)',
'Neath Port Talbot Hospital',
'St Cadocs Hospital',
'Kings Lodge Rehab Centre',
'Huyton Walk In Centre',
'Worcestershire Royal Hospital',
'Carlisle Infirmary',
'Edward Street Hospital',
'Newcastle (Westgate) Nhs Walk In Centre',
'Evelina Childrens Hospital',
'West Cheshire',
'Heatherwood Hospital',
'Thornhill Hospital',
'Kirkby Walk In Centre',
'Redwood Memorial Hospital',
'Teddington Urgent Care Centre',
'Galloway Community Hospital',
'Ealing Day Treatment Centre',
'West Middlesex Physio Dept',
'Sidwell Street Nhs Walk In Centre',
'Wonford Nhs Walk In Centre',
'Smithdown Childrens Walk In Centre',
'Abbey Walk',
'Victoria Central Wic And Miu',
'Arrowe Park Walk In Centre',
'University Hospital Coventry',
'Royal Blackburn Hospital',
'Crawley Urgent Treatment Centre',
'Monnow Vale Health And Social Care Facility',
'Nuffield Diagnostic Centre Ucc & Miu',
'West Haven Hospital',
'St Andrews',
'Thomas Linacre',
'Uist And Barra Hospital',
'Julian Hospital',
'Ford Place',
'Liverpool University Dental Hospital',
'St Martins Hospital',
'X-Ray Dept Victoria Central Hospital',
'Burnley Urgent Care Centre',
'Minster Wic Miu',
'Miu Alfred Bean Hospital',
'Miu Withernsea Community Hosp',
'Miu Hornsea Cottage Hospital',
'Melton Mowbray Hospital',
'Kirkcaldy Health Centre',
'Molineux Street Nhs Centre',
'Blackburn Urgent Care Centre',
'Bevan Unit',
'Kings Gate Hospital',
'Gravesham Community Hospital',
'Miu West Mendip Hospital',
'Physio Service Wycombe Gen Hosp',
'Hillside Centre',
'Ysbyty Alltwen',
'Bodmin Wic',
'X-Ray Dept Edgware Community Hospital',
'X-Ray Dept Finchley Memorial Hospital',
'Princess Royal Maternity Hospital',
'Maternity Dept Royal United Hosp Bath',
'Folkestone Nhs Wic',
'Royal National Orthopaedic Hospital (Bolsover St)',
'Wic Royal South Hants Hospital',
'Stratheden Hospital',
'Links Health Centre & Miu',
'Whitehills Health And Comm Care Ctr & Miu',
'X-Ray Dept St Catherines Hospital',
'Physio Dept Withington Hospital',
'Redcar Primary Care Hospital',
'Widnes Nhs Walk In Centre',
'White Cross Rehabilitation Hospital',
'St Helens Rehabilitation Hospital',
'Holly Ward',
'Haywood Walk In Centre',
'Windmill House',
'Langley House',
'Gossoms End Elderly Care Centre',
'Sopwell & Langton Wards St Albans City Hosp',
'Frome Community Hospital & Miu',
'Maesgwyn Hospital',
'Jersey Ward Alderney Hospital',
'Woodlands Ward Alderney Hospital',
'Guernsey Ward Alderney Hospital',
'Manchester Primary Care Emergency Centre',
'Blaydon Wic/Health Centre',
'Miu Cannock Chase Hospital',
'Halewood Wic',
'Physio Dept King Edward Vii Hospital',
'Physio Dept St Marks Hospital',
'Parsons Green Walk In Centre',
'Birmingham Childrens Hospital',
'Litherland Wic',
'St Peters Ward Hemel Hempstead General Hosp',
'Maternity Dept Oswestry Hospital',
'Windsor House',
'Walkergate Park',
'Mardon House Rehab',
'Salvington Lodge Hospital',
'The Margaret Centre',
'Kidderminster Miu',
'Wic Hemel Hempstead Hospital',
'Miu Robert Jones & Agnes Hunt Orthopaedic Hospital',
'Murray Royal Hospital',
'Miu Johnson Community Hospital',
'X-Ray Dept Herts & Essex Hospital',
'X-Ray Dept St Margarets Hospital',
'Mayfield Unit',
'Miu Rutland Memorial Hospital',
'Leith Community Treatment Centre',
'X-Ray Dept Haslemere Hospital',
'X-Ray Dept Milford Hospital',
'Girvan Community Hospital',
'Palmer Comm Hosp Urgent Care Centre',
'Jacketts Field Rehab Unit',
'Day Surgery Edgware Community Hospital',
'Wic Sunderland Royal Hospital',
'Sidmouth Community Hospital',
'Ysbyty Cwm Rhondda',
'Roxburghe House',
'Ysbyty Cefni',
'Wic St Cross Hospital',
'Phoenix Walk In Centre',
'Spinal Injuries Unit Northern General Hospital',
'Physio Dept Gilbert Hitchcock House',
'South West Neurosurgery Centre',
'Forth Valley Royal Hospital',
'Ward 1 Neuro Rehab Trafford General Hospital',
'Miu Gosport War Memorial Hospital',
'Campbell Centre Milton Keynes General Hospital',
'Bletchley Community Hospital',
'Windsor Intermediate Unit',
'Gloucester Ward Skegness & District Hospital',
'X-Ray & Physio Louth County Hospital',
'John Coupland Hospital',
'Johnson Community Hospital',
'South Liverpool Nhs Treatment Centre',
'Ysbyty Aneurin Bevan',
'Royal National Hospital For Rheumatic Diseases',
'Rochdale Infirmary Urgent Care Centre',
'Hallam Street Hospital',
'Heath Lane Hospital',
'Silverthorn Medical Centre',
'Gorwelion Day Hospital',
'Sexual Health Garden Clinic',
'Peterborough City Hospital',
'Hmp Buillingdon',
'Blackpool Victoria Urgent Care Centre',
'Queen Elizabeth Intermediate Care Facility',
'Phoenix Ward',
'Beech And Cedar Wards',
'Rydon And Holford Wards',
'Pyrland Ward',
'Magnolia Ward',
'Rowan Ward',
'Dellwood Community Hospital',
'Wrekin Maternity',
'Royal Derby Hospital',
'London Road Community Hospital',
'Southport & Formby District General Hospital',
'St Andrews Community Hospital',
'Midlothian Community Hospital',
'Pershore Hospital',
'Bispham Hospital',
'Tonteg Hospital',
'Friary Community Hospital',
'Langdon Hospital',
'Redvers Ward',
'Melrose Ward Silverlea',
'Boniface Ward',
'Abbotsvale Ward',
'Wolborough Site',
'Shrublands Ward Torbay',
'Waverley House',
'St Michaels Ward',
'Exmouth St Johns Court Hosp',
'Haytor Unit',
'Oak Ward',
'Beech Ward',
'Moorland View Ward',
'Kestrel Unit',
'Ocean View Ward',
'Meadow View Ward',
'Rye Winchelsea & District Memorial Hospital',
'Arnold Lodge',
'Highbury Hospital',
'The Wells Road Centre',
'Rampton Hospital',
'St Anns Hospital',
'Workington Community Hospital',
'Carleton Clinic',
'Fareham Community Hospital',
'Miami (Minor Injuries And Minor Illnesses Unit)',
'Pitlochry Community Hospital',
'X-Ray Dept Ashfield Health Village',
'Ashfield Stroke Rehab Unit & Chatsworth Ward',
'Oakham & Lindhurst Wards',
'Ysbyty Ystrad Fawr',
'New Victoria Hospital Glasgow',
'Eccleshill Hospital',
'Westwood Park Hospital',
'Westbourne Green Community Hospital',
'Prince Charles Eye Unit',
'Vale Community Hospital',
'North Cotswolds Hospital',
'Dewsbury Hospital Walk In Centre',
'Physio/Occ Therapy City Of Coventry Health Centre',
'Workington Access Centre',
'Rowan Lodge',
'Ash Ward',
'Elm Ward',
'Pine Ward',
'Mary Sheridan Centre',
'Dental Institute Lauriston Building',
'Specialist Mobility Rehabilitation Centre',
'Hounslow Urgent Care Centre',
'St James Hospital',
'Whittington Health Day Treatment Centre',
'Parklands Hospital',
'Mental Health Unit St James Hospital',
'Becton Centre',
'Antelope House',
'Mental Health Unit At Moorgreen Hospital',
'Mental Health Unit At Western Community Hospital',
'Outpatients East Riding Community Hospital',
'West Park Hospital (Durham)',
'Lanchester Road Hospital',
'Eastham Wic',
'X-Ray At West Berkshire Community Hospital',
'Mossley Hill Hospital',
'Miu Royal South Hants Hospital',
'Beckenham Beacon Ucc',
'Far Cotton Rec Centre',
'Horsham Minor Injuries Unit',
'Ysbyty Cwm Cynon',
'Colman Centre For Specialist Rehab',
'South Bristol Nhs Community Hospital',
'Miu Goole & District Hospital',
'Kent Lodge',
'Miu Skegness & District Hospital',
'Skegness & District Urgent Care Centre',
'BoNess Community Hospital',
'New Selby War Memorial Hospital',
'Miranda House',
'Wic Queen Elizabeth Hosp Gateshead',
'The Chapel Clifton Park Clinic',
'Rothbury Community Hospital',
'Carter Bequest Primary Care Hospital',
'Sir Tom Moore Building',
'John Tallack Centre',
'Physio Dept Orsett Hospital',
'Physio Dept Basildon & Thurrock Hosp',
'Grays Court Community Hospital',
'Barts And The London Dental Hospital',
'Physio Service St Albans City Hospital',
'Community Rheumatology Orthopaedic & Pain Services',
'Royal Stoke University Hospital',
'Rivendell Residential Rehab Service',
'Elizabeth Raybould Centre',
'Beacon Walk In Centre',
'Bridge House At Fant Oast',
'Littlebrook Hospital',
'Thanet Mental Health Unit',
'Wansbeck Hospital Primary Care Access Centre',
'Bristol Homeopathic Hospital',
'Psychiatric Unit Buchanan Centre',
'Childrens Centre',
'Miu Leek Moorlands Hospital',
'Red Deer Centre',
'Long Term Conditions Centre',
'Humber Community Pain Service',
'Stratford Physiotherapy/Muscloskeletal Services',
'Bracknell Outpatients',
'Miu Andover Hospital',
'Psychology Dept Southport & Ormskirk',
'Falkirk Central Intergrated Community Mental Healt',
'Finchley Walk In Centre',
'Coed Celyn Hospital',
'Westbank Day Hospital',
'Dunrown Resources Center',
'Breathing Space',
'Physioworks',
'Miu Ilkeston Community Hospital',
'Miu Ripley Hospital',
'Miu Whitworth Hospital',
'Miu Buxton Hospital',
'Tunbridge Wells Hospital',
'Kenshole Childrens Centre',
'Mull & Iona Community Hospital',
'Holloway Community Health Centre',
'The Hub',
'Miu Chippenham Community Hospital',
'Miu Trowbridge Community Hospital',
'X-Ray At Thetford Healthy Living Centre',
'Bolton One',
'Atkinson Morley Wing At St Georges Tooting',
'Miu Queen Marys Hospital',
'X-Ray Dept At City Care Centre',
'Shiremoor Walk In Centre',
'Oswestry Minor Injuries Unit',
'Qe Metro Riverside',
'Broad Oak Unit',
'Parkway Health Centre Miu',
'Community Orthopaedics (Icats)',
'Pulross Centre',
'The Beat Wic',
'Sherbourne House',
'Primary Care Counselling & Psychology Services',
'Nene Park Outpatients Clinic',
'Outpatient Andover War Memorial Hospital',
'University Dental Hospital',
'Ysbytyr Tri Chwm Hospital',
'Child Development Centre',
'Newham Centre For Mental Health',
'Greenwich Time To Talk',
'Bromley Satellite Dialysis Unit',
'Sunderland Psychological Wellbeing Service',
'Podiatric Surgery',
'Renal Dept At Kidney Care Centre Maidstone',
'Families Young People & Childrens Services',
'South West London Elective Orthopaedic Centre',
'X-Ray At Litherland Wic',
'Nottingham Childrens Hospital',
'Lancashire Women & Newborn Centre',
'Homeopathic Hospital (Kent)',
'Hundens Lane Day Hospital',
'The Lakes Mental Health Wards',
'The Derwent Centre',
'Boothroyd Day Unit',
'Bridgwater Comm Hosp & Miu',
'Lauriston Building',
'Physio Etc Queen Marys Hospital Sidcup',
'Darlington Ucc',
'Durham Ucc',
'Ecg/Cardiac Rehab Leighton Hospital',
'Physio Dept Northampton General Hospital',
'Physio Dept Kettering General Hospital',
'Physio Dept Nuffield Diagnostic Centre',
'Physio Dept Nene Park Clinic',
'Centre For Womens Health Aintree',
'Dover House',
'Merrick House',
'Old Vicarage',
'Sovereign House',
'Stewart House',
'Ccabirt Carlisle',
'Ccabirt Kendal',
'Dept Of Podiatry North Tyneside',
'Outpatient Physiotherapy Department Halifax',
'Lets Talk Wellbeing Nottingham',
'Churchill Centre',
'Cross Lane Hospital',
'Berrywood Hospital',
'Wwl Eye Unit',
'Oakmoor Rehabilitation Unit',
'St Andrews Centre For Plastic Surgery & Burns',
'Leasowes Intermediate Care Centre',
'The Lyng Centre',
'Barnstaple Health Centre',
'Ellis Centre',
'Secondary Care Psychological Services',
'Centre For Reproductive And Genetic Health',
'Tiverton Minor Injury Unit',
'Maindiff Court Hospital',
'Dorset Orthopaedic/Musculoskeletal Services',
'Tippethill Hospital',
'Northumbria Specialist Emergency Care Hospital',
'Barts Heart Centre',
'Midpark Hospital',
'Green Parks House',
'Queen Elizabeth University Hospital',
'The Essex Cardiothoracic Centre',
'Physio Dept Hinchingbrooke Hospital',
'Laundon House Clinic',
'Physio Dept Doddington Hospital',
'Physio Dept Princess Of Wales Ely',
'New Craigs Hospital',
'X-Ray Dept Cheshunt Community Hospital',
'Hesketh Centre',
'Brockfield House',
'Basildon Mental Health Unit',
'Royal National Throat Nose & Ear Hospital',
'The Bristol Heart Institute',
'Newcastle Fertility Centre',
'Miu Whitby',
'West Glasgow Ambulatory Care Hospital',
'Iapt Pearl House',
'Iapt Bracken House',
'Iapt Park Gate House',
'Iapt Priory House',
'Mental Health Services Stepping Hill Hospital',
'Mental Health Services Tamside General Hospital',
'Mental Health Services Royal Oldham Hospital',
'Mental Health Services Fairfield General Hospital',
'Mental Health Services Birch Hill Hospital',
'Physio At West Cumberland',
'Halebank Access Centre',
'Lets Talk Loughborough',
'Evesham Pain Management Clinic',
'Ryegate Childrens Centre',
'The Cottage Hospital',
'Penn Hospital',
'Gateway Surgical Centre',
'St James Clinic',
'Luton Wellbeing Service',
'Avalon House',
'Fieldhead Hospital',
'Aberdeen Community Health & Care Village',
'Orthopaedic Centre Luton & Dunstable Hospital',
'X-Ray Dept At Kirkby Walk In Centre',
'Three Towns Resource Centre',
'X-Ray Potters Bar Community Hospital',
'Aldershot Centre For Health',
'Orthopaedics Royal South Hants Hospital',
'Eltham Community Hospital',
'Risca Day Hospital',
'Specialised Ability Centre',
'Northway Dental Clinic',
'Birmingham Dental Hospital',
'X-Ray Dept Rutland Memorial Hospital',
'The Alloway Centre',
'Physio (Msk) Warren Farm Urgent Care Centre',
'Sutton Cottage Hospital',
'X-Ray Dept Penrith Hospital',
'Lambeth Community Care Centre',
'X-Ray Dept Brentwood Community Hospital',
'X-Ray At Fleet Community Hospital',
'Neurological Rehabilitation Centre',
'Chiltern Day Hospital Adult Mental Health',
'X-Ray Dept Gravesham Community Hospital',
'X-Ray Dept Loughborough Hospital',
'Athlone House Rehabilitation Unit',
'Health Services At Wolves',
'Baths Street Health And Wellbeing Centre',
'Mountainhall Treatment Centre',
'Orthopaedic Triage Birmingham',
'Princess Of Wales Hospital Ely',
'Doddington Hospital',
'North Cambridgeshire Hospital',
'Bull Plain Clinic',
'X-Ray Dept Market Harborough & District Hospital',
'Cumberlege Intermediate Care Centre',
'X-Ray Dept Workington Comm Hospital',
'Passmore Edward Building',
'Musculoskeletal And Podiatry',
'X-Ray/Outpatient At Townlands Memorial Hosp',
'X-Ray Dept Hinckley & District Hospital',
'Forest Lodge',
'Cardiff And Vale Therapy Centre',
'Oakwood Centre For Rehab',
'Clock View Hospital',
'X-Ray Deal Community Health Clinic',
'Priestly Unit At Dewsbury Dist Hosp',
'East Ham Mem Site/ Care Centre',
'Gaol Street Dental Access Centre',
'Holywell Neurological Centre',
'Kirklandside Hospital',
'X-Ray Weymouth Community Hospital',
'Physio Dept Sir Robert Peel Community Hospital',
'Inpatient Physical Health Ward',
'New Forest Birth Centre',
'Calder Ward - Pendleview',
'Brain Injury Rehabilitation Centre',
'The Mount',
'Kings Dental Institute',
'Camhs Kidderminster Health Centre',
'Elmleigh Hospital',
'Urgent Care Centre Whipps Cross Hospital',
'Elmhurst Intermediate Care Centre',
'National Spinal Injuries Centre',
'Birthing Centre',
'Peterlee Urgent Care Centre',
'Ruby Ward',
'The Memory Clinic',
'Soho Walk In Centre',
'Hackney Ark',
'Westfa Day Centre',
'X-Ray Dept At West Mendip Hosp',
'Knowsley Resource And Recovery Centre',
'X-Ray Dept Bodmin Hospital',
'X-Ray Dept Camborne Redruth Community Hospital',
'X-Ray Dept Falmouth Hospital',
'X-Ray Dept Launceston General Hospital',
'X-Ray Dept Liskeard Community Hospital',
'X-Ray Dept Newquay Hospital',
'X-Ray Dept St Austell Hospital',
'X-Ray Dept St Marys Hospital',
'X-Ray Dept Stratton Hospital',
'Talking Therapies Havering',
'Tavistock Hospital Miu',
'Cumberland Centre Miu',
'South Hams Hospital Miu',
'Hornsey Central Neighbourhood Health Centre',
'Ynys Y Plant',
'X-Ray Dept St Marks Hospital',
'Cornwall Mental Health Services',
'Radiology Dept At Kidney Care Centre Maidstone',
'Physio (Msk) Accrington Pals Primary Hcc',
'Anita Samuels Centre Community Dietetics Team',
'Podiatry Department',
'Claire House Adult Mental Health Recovery',
'Wigan Life Centre Primary Care Psychology Service',
'Urgent Treatment Centre Countess Of Chester',
'Royal National Ent And Eastman Dental Hospitals',
'St Leonards Hospital',
'Community Neurological Rehabilitation Team',
'Grappenhall Clinic',
'Scott Atkinson Child Development Centre',
'Knowsley Community Respiratory Services',
'Beecroft Clinic',
'Phelbotomy Unit Hoddesdon Wic',
'St Georges Hospital Stafford',
'Lincoln Urgent Treatment Centre',
'X-Ray Dept Coalville Community Hospital',
'Willesden Community Rehabilitation Hospital',
'X-Ray Dept Petersfield Community Hospital',
'Boston Urgent Treatment Centre',
'The Grange University Hospital',
'Montrose Minor Injury And Illness Services',
'Stoma Care Service',
'Aylesbury Vale Adult Mental Health Team',
'Tessa Jowell Health Centre',
'Oakley House',
'Bristol Centre For Enablement',
'Healthy Minds Bucks (Iapt)',
'The Acorn Centre',
'Dova Unit - Furness General Hospital',
'Halton Integrated Fraility',
'Lordship Lane Primary Care Centre',
'Rivington Unit',
'Poulton Road Clinic',
'Hopewood Park Hospital',
'Psychological Therapies - Cudworth Centre',
'Queen Victoria Urgent Treatment Centre',
'Mindsmatter Lancaster & Morecambe Bay',
'Lets Talk Ambrose House',
'Queen Victoria Urgent Treatment Centre',
'Louisa Jordan Hospital',
'Maltings Mobility Centre',
'Lily Ward Inpatient Rehabilitation Service',
'Goodmayes Hospital',
'Iapt Beech House Psychological Wellbeing Service',
'Sandwell Healthy Minds',
'Morpeth Nhs Centre',
'Bowmere Hospital',
'Mindsmatter Chorley & South Ribble',
'East Lothian Community Hospital',
'Jessop Wing Hospital',
'Memorial Hospital Woolwich',
'Florence Nightingale Community Hospital',
'Florence House',
'The Orchards',
'Physio (Msk) Kingsway Health Centre'


        ]
        syncResults(query
          ? results.filter(function (result) {
              return result.toLowerCase().indexOf(query.toLowerCase()) !== -1
            })
          : []
        )
      }
    </script>


    <script type="text/javascript">
      element = document.querySelector('#hospitalOne')
      id = 'autocomplete-minLength'
      name = 'hospitalOne'
      accessibleAutocomplete({
        element: element,
        id: id,
        name: name,
        minLength: 2,
        source: suggest,
        confirmOnBlur: false,
        onConfirm: ((hosp) => {
   console.log(hosp)
   demo.style.display = 'block'
   })
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#tt-autoselect')
      id = 'autocomplete-autoselect'
      accessibleAutocomplete({
        autoselect: true,
        element: element,
        id: id,
        source: suggest
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#tt-overlay')
      id = 'autocomplete-overlay'
      accessibleAutocomplete({
        displayMenu: 'overlay',
        element: element,
        id: id,
        source: suggest
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#tt-defaultValue')
      id = 'autocomplete-defaultValue'
      accessibleAutocomplete({
        defaultValue: 'Germany',
        element: element,
        id: id,
        source: suggest
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#autocomplete-progressiveEnhancement')
      accessibleAutocomplete.enhanceSelectElement({
        selectElement: element
      })
    </script>


    <script type="text/javascript">
      function customSuggest (query, syncResults) {
        var results = [
          { endonymLang: 'fr', endonym: 'République Française', name: 'France' },
          { endonymLang: 'de', endonym: 'Deutschland', name: 'Germany' },
          { endonymLang: 'en', endonym: 'Great Britain', name: 'United Kingdom' }
        ]
        syncResults(query
          ? results.filter(function (result) {
              var resultContains = result.name.toLowerCase().indexOf(query.toLowerCase()) !== -1
              var endonymContains = result.endonym.toLowerCase().indexOf(query.toLowerCase()) !== -1
              return resultContains || endonymContains
            })
          : []
        )
      }

      function inputValueTemplate (result) {
        return result && result.name
      }

      function suggestionTemplate (result) {
        return result && '<strong>' + result.name + '</strong>' +
          ' (<span lang=' + result.endonymLang + '>' + result.endonym + '</span>)'
      }

      element = document.querySelector('#tt-customTemplates')
      id = 'autocomplete-customTemplates'
      accessibleAutocomplete({
        element: element,
        id: id,
        source: customSuggest,
        templates: {
          inputValue: inputValueTemplate,
          suggestion: suggestionTemplate
        }
      })
    </script>



    <script type="text/javascript">
      element = document.querySelector('#tt-confirmOnBlur')
      id = 'autocomplete-confirmOnBlur'
      accessibleAutocomplete({
        element: element,
        id: id,
        confirmOnBlur: false,
        source: suggest
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#tt-placeholder')
      id = 'autocomplete-placeholder'
      accessibleAutocomplete({
        element: element,
        id: id,
        placeholder: 'Search for a country',
        source: suggest
      })
    </script>

    <script type="text/javascript">
      element = document.querySelector('#tt-showNoOptionsFound')
      id = 'autocomplete-showNoOptionsFound'
      accessibleAutocomplete({
        element: element,
        id: id,
        showNoOptionsFound: true,
        source: suggest
      })
    </script>

{% endblock %}
