
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Two-factor authenication sent
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
      <h1 class="govuk-heading-xl">

        Check your email
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">We’ve sent an email to <strong>sam.smith@compensatorltd.com</strong>.</p>
        <p>It contains a link that will sign you in to your account.</p>
        <p class="govuk-body">The email may take a few minutes to arrive.</p>
      </div>

      <p>If you didn't receive an email, you can
      <a href="sign-in" class="govuk-link">get another activation link</a>.
    </p>


    </div>
    <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:green;
      padding:0.8em;
      color:white;
      animation: mymove 1s infinite alternate;
      }
      @keyframes mymove {
        from {background-color: #00703c;}
        to {background-color: #1d70b8;}
      }
  </style>

  <a href ="2fa-email" class="timemachine">Open email</a>
  </div>

{% endblock %}
