
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Check if you can use this service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <form class="form" action="enter-service" method="post">


          <h1 class="govuk-heading-xl">
            You cannot register this claim online
          </h1>
<p class="govuk-body">Currently, this service is only for claims where the injured person did not receive NHS hospital treatment for their injuries.  </p>
<p class="govuk-body">To register this type of claim, you can <a href="https://www.gov.uk/government/publications/compensation-recovery-unit-forms">complete a CRU1 form</a> and return it to us by email or post. </p>
<p class="govuk-body"><a href="/current/compensator/compensator-dashboard-empty">Return to home</a></p>


    </form>

    </div>
  </div>

    <!-- code for demo only-->
    <style>
      a.timemachine{
        position:absolute;
        top:0px;
        right:0px;
        background:black;
        padding:0.8em;
        color:white;
        }
    </style>



{% endblock %}
