
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Check your answers before registering the claim
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">		BBB327
        </span>

        <h1 class="govuk-heading-xl" style="margin-bottom:10px">Task details</h1>
<strong class="govuk-tag govuk-tag--yellow">In progress</strong> <br>
        <!-- <div class="govuk-inset-text">
        More information received:
          <p class="govuk-body govuk-!-font-weight-bold">Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020</p>
        </div> -->

        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
Compare claim details with Searchlight
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Claim reference
            </dt>
            <dd class="govuk-summary-list__value">
BBB327
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Liability type
            </dt>
            <dd class="govuk-summary-list__value">
              Motor
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Compensator
            </dt>
            <dd class="govuk-summary-list__value">
              Moto Insurances Ltd
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
    Injury date
            </dt>
            <dd class="govuk-summary-list__value">
14 February 2024
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
      Name in Searchlight
            </dt>
            <dd class="govuk-summary-list__value">
Janine Smith | captured on 12 September 2024 <br>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
    More claims by this person
            </dt>
            <dd class="govuk-summary-list__value">
              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                  5 claims found
                  </span>
                </summary>
                <div class="govuk-details__text">
                <span class="govuk-body govuk-!-font-weight-bold"><a href="">CRS462</a> </span>| Injury date - 20 March 2023 <br>
             <span class="govuk-body govuk-!-font-weight-bold"><a href="">PBA213</a></span> | Injury date - 19 March 2023<br>
             <span class="govuk-body govuk-!-font-weight-bold"><a href="">CRU112</a></span> | Injury date - 22 August 2019 <br>
       <span class="govuk-body govuk-!-font-weight-bold"><a href="">CRU345</a></span> | Injury date - 31 October 2015<br>
                <span class="govuk-body govuk-!-font-weight-bold"><a href="">CBD543</a></span> | Injury date - 10 August 2010
              </details>
            </dd>
          </div>




          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Injury
            </dt>
            <dd class="govuk-summary-list__value">

              <details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Physical injury other than whiplash
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body govuk-!-font-weight-bold">Face, cheekbones or jaw injuries</p>
    <p class="govuk-body govuk-!-font-weight-regular" style="margin-bottom:10px">Details</p>
    <li>Soft tissue injury (for example, bruise, strain or tear)</li>
  </div>
</details>


               <details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
     <span class="govuk-details__summary-text">
       Psychological
     </span>
   </summary>
   <div class="govuk-details__text">
     Travel anxiety
   </div>
 </details>
 Whiplash
            </dd>
          </div> -->
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Name
            </dt>
            <dd class="govuk-summary-list__value">
              John Smith
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Date of Birth
            </dt>
            <dd class="govuk-summary-list__value">
              1 January 1990
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            NINO
            </dt>
            <dd class="govuk-summary-list__value">
              DF42353D
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Injury date
            </dt>
            <dd class="govuk-summary-list__value">
              8 January 2023
            </dd>
          </div> -->
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Compensator
            </dt>
            <dd class="govuk-summary-list__value">
              	Insure Co Ltd
            </dd>
          </div> -->


        </dl>
<br>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p style="margin-bottom:15px">
Compare the claim details to what is held in Searchlight. Accept the claim or move it to the legacy CRU system.</p>
 <p class="govuk-body">
                    <a href="case-view-history" class="govuk-link" target=”_blank”>Full existing claim details (opens in new tab)</a>
                  </p>

        <br> <br>

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Claim details
    </h2>
  </div>
  <div class="govuk-notification-banner__content" style="padding-bottom:30px">

                <table class="govuk-table">
                  <!-- <caption class="govuk-table__caption govuk-table__caption--m">Current and new claim details</caption> -->
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Detail</th>
                      <th scope="col" class="govuk-table__header">CRU details</th>
                        <th scope="col" class="govuk-table__header">Searchlight</th>
                              <th scope="col" class="govuk-table__header"></th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">


                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Injured person's name</th>
                      <td class="govuk-table__cell">	John Alexander Smith</td>
                          <td class="govuk-table__cell">	Janine Smith</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">Date of birth</th>
                      <td class="govuk-table__cell">		28 February 1978</td>
                          <td class="govuk-table__cell">28 February 1978</td>

                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">National Insurance number</th>
                      <td class="govuk-table__cell">AA 11 22 33 B</td>
                          <td class="govuk-table__cell">AA 11 22 33 B</td>

                    </tr>






                  </tbody>
                </table>







    </div>
  </div>


        <!-- Injured persons rep details -->
        <!-- <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p>
          Check if the notes content require any changes to the treatment details provided by the NHS trust.</p>        <p class="govuk-body">
                    <a href="case-view-main" class="govuk-link" target=”_blank”>Access full claim details (opens in new tab)</a>
                  </p>
<br> -->







<br>
        <!-- <div class="govuk-inset-text">
          <p class="govuk-body">
          Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020
        </p>
        </div> -->
  <form  class="form" action="confirmed-check2" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
              What do you want to do?
              </h3>
            </legend>
            <!-- <div id="changed-name-hint" class="govuk-hint">
              Either changed or no change needed
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="approve" name="cpe1" type="radio" value="approve" {{ checked("info", "Data ready") }}>
                <label class="govuk-label govuk-radios__label" for="info-4">

               Accept claim
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="remove" name="cpe1" type="radio" data-aria-controls="conditional-contact" value="remove" {{ checked("info", "Reply with further info to the NHS") }}>
                <label class="govuk-label govuk-radios__label" for="info">
                        Move claim to legacy CRU system
                </label>
              </div>



          </fieldset>
        </div>


        <br>



          <input type="hidden" name="checkanswers" value="true" />

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a class="govuk-link" href="#">Cancel</a>
          </div>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
