
{% extends "../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="case-view-history-reopened" method="post">
      <h1 class="govuk-heading-xl">  Why do you want to reopen this claim?</h1>

      <div class="govuk-form-group">




          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>




      </div>

  <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>
        </div>
                </div>





{% endblock %}
