
{% extends "../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
        Final settlement
            </h1>
            <div class="govuk-panel__body">
Settlement details saved
            </div>
          </div>




          <h2 class="govuk-heading-m">What happens next</h2>
                  <p class="govuk-body">
                We have sent an email to the compensator with confirmation.
                  </p>





<br>
<p class="govuk-body">
 <a href="case-view-history-settled" class="govuk-link">Back to claim details</a>
</p>

        </div>
      </div>


        </div>
      </div>


{% endblock %}
