{% extends "layouts/main.html" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
<!--          <form class="form" action="whiplash-guard" method="post">-->
          <form class="form" action="case-view-history-settledb2" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="claim-date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
<!--                  <span class="govuk-caption-xl">Injury details-->

<!--                  When was the person injured?-->
                  What is the new date?
                </h1>
              </legend>
              <div id="claim-date-hint" class="govuk-hint">
                For example, 12 3 2020
              </div>
              <div class="govuk-date-input" id="claim-date">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-date-day" name="claim-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['claim-date-day']}}"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-date-month" name="claim-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['claim-date-month']}}"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claim-date-year" name="claim-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['claim-date-year']}}"></div>
                </div>
              </div>

            </fieldset>
          </div>

      <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="started" checked>
        <label class="govuk-label govuk-radios__label" for="claim-details">
         hidden radio for logic
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
