
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Check your answers before registering the claim
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-three-quarters-from-desktop">

        <h1 class="govuk-heading-xl">Check your answers</h1>

        <h2 class="govuk-heading-m">The injured person</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['first-name'] | default('Bojen') }}  {{ data['last-name'] | default('Westoros') }}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['date-of-birth-day'] | default("28") }} {{ data['date-of-birth-month'] | default("02") | toMonth }} {{ data['date-of-birth-year'] | default("1978") }}
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              National Insurance number
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body"> {{ data['ni-number'] | default('AA 11 22 33 B ') }}</p>
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['choose-ip-address'] | default('4 High Street') }}<br>Thrupp<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="injured-person-address?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>

        <h2 class="govuk-heading-m">Injury details</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of injury
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['claim-date-day'] | default("3") }} {{ data['claim-date-month'] | default("03") | toMonth }} {{ data['claim-date-year'] | default("2020") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date-of-claim?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> date of injury</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Whiplash
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['whiplash'] | default("Yes") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="whiplash-guard?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> whiplash</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other injuries
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['other-injuries'] | default("Yes") }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="injury-guard?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> other injuries</span>
              </a>
            </dd>
          </div>

          <!-- Types of injury -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Types of injury
            </dt>
            <dd class="govuk-summary-list__value">
              Physical injury other than whiplash<br />
              Psychological injuries<br />
              Neurological injuries
            </dd>
            <dd class="govuk-summary-list__actions">
<!--              <a class="govuk-link" href="other-injuries?backtocheckanswers=true&">-->
<!--                Change<span class="govuk-visually-hidden"> types of injury</span>-->
<!--              </a>-->
            </dd>
          </div>

          <!-- Physical injuries -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Physical injury other than whiplash
            </dt>
            <dd class="govuk-summary-list__value">

              <!-- start Ribs, chest or torso injuries -->
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ribs, chest or torso injuries</h3><br />
              <p>Details</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Pain or discomfort
                </li>
              </ul>
              <p>Injury location</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Left side</li>
              </ul>
              <!-- end Ribs, chest or torso injuries -->

              <!-- start Leg, knee or ankle injuries -->
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Leg, knee or ankle injuries</h3><br />
              <p>Details</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>
                  Pain or discomfort
                </li>
                <li>
                  Fracture
                </li>
              </ul>
              <p>Injury location</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Left leg</li>
              </ul>
              <!-- end Leg, knee, ankle or foot -->
            </dd>
            <dd class="govuk-summary-list__actions">
<!--              <a class="govuk-link" href="where-is-the-injury?backtocheckanswers=true&">-->
<!--                Change<span class="govuk-visually-hidden"> physical injuries</span>-->
<!--              </a>-->
            </dd>
          </div>

          <!-- Psychological injuries -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Psychological injuries
            </dt>
            <dd class="govuk-summary-list__value">
              Travel anxiety
            </dd>
            <dd class="govuk-summary-list__actions">
<!--              <a class="govuk-link" href="psychological?backtocheckanswers=true&">-->
<!--                Change<span class="govuk-visually-hidden"> psychological injury</span>-->
<!--              </a>-->
            </dd>
          </div>

          <!-- Neurological injuries -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Neurological injuries
            </dt>
            <dd class="govuk-summary-list__value">
              Change to senses
            </dd>
            <dd class="govuk-summary-list__actions">
<!--                <a class="govuk-link" href="neurological?backtocheckanswers=true&">-->
<!--                  Change<span class="govuk-visually-hidden"> neurological injury</span>-->
<!--                </a>-->
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Injured person's representative</h2>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['represesntative-name'] | default('McAdar Solicitors') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="about-the-injured-persons-rep?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden">Solictor name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Email address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['email-solicitor'] | default('claims@mcadarx.co.uk') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="about-the-injured-persons-rep?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden">email address</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['represesntative-reference'] | default('Cr1234567') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="about-the-injured-persons-rep?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> About the accident or incident</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Telephone number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['represesntative-phone-number'] | default('07880109642') }}

            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="about-the-injured-persons-rep?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden">telephone</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['solicitor-address'] | default('Ivy House, Ivy Lane') }}<br>Warehorne<br>{{ data['representativepostcode'] | default('TN26 9XE') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="representative-address?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>
        </dl>


        <h2 class="govuk-heading-m">Compensator details</h2>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Reference number
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['compensator-reference'] | default('DI345567Y') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="compensator-reference?backtocheckanswers=true&">
                Change<span class="govuk-visually-hidden"> reference</span>
              </a>
            </dd>
          </div>
        </dl>
        {% if data['setuser'] =='compensator' %}
        <p class="govuk-body">By submitting this claim you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
        {% endif %}

        <form action="confirmation" method="post" novalidate>

          <input type="hidden" name="checkanswers" value="true" />

          <button class="govuk-button" data-module="govuk-button">
            Register claim
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
