
{% extends "../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="hospital-list2?remove2=false&" method="post">
      <h1 class="govuk-heading-xl">Remove {{ data['org-name'] }}?</h1>
      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        <a class="govuk-link" href="hospital-list">Cancel</a>
      </div>

    </form>

    </div>
  </div>

{% endblock %}
