
{% extends "../../../index.html" %}

{% block pageTitle %}
  About the injured person - Did they receive NHS hospital treatment?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <form class="form" action="change-confirmation" method="post">

              <h1 class="govuk-heading-xl">
                  <span class="govuk-caption-xl">NHS treatment details</span>
                  Do you know the injured person's NHS number?
                </h1>


              <p class="govuk-body">If you provide the injured person's NHS number, it may help us to issue an NHS certificate of charges more quickly. </p>

              <br>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="contact-hint">

                  <div class="govuk-radios" data-module="govuk-radios">
                    
                    <div class="govuk-radios__item">
                      <input checked class="govuk-radios__input" id="contact" name="contact" type="radio" value="yes" data-aria-controls="conditional-contact" {{ checked("contact", "yes") }}>
                      <label class="govuk-label govuk-radios__label" for="contact">
                        Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                      <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-email">
                          Injured person's NHS number
                        </label>
                        <input class="govuk-input govuk-!-width-one-half" id="nhs-number" name="nhs-number" value="729388103" type="text" spellcheck="false">
                      </div>
                    </div>
                    
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="contact-3" name="contact" type="radio" value="no" data-aria-controls="conditional-contact-3" {{ checked("contact", "no") }}>
                      <label class="govuk-label govuk-radios__label" for="contact-3">
                        No
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                      <!-- <div class="govuk-form-group">
                        <label class="govuk-label" for="contact-by-text">
                          Mobile phone number
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="contact-by-text" name="contact-by-text" type="tel" autocomplete="tel">
                      </div> -->
                    </div>

                  </div>
                </fieldset>
              </div>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
