
{% extends "../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa/dsa_options" method="post">
      <h1 class="govuk-heading-xl">User Agreement</h1>

      <div class="govuk-form-group">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
The User Agreement must be accepted by a person with authority to make decisions about personal data processes on behalf of your organisation.
          </strong>
        </div>


          <p class="govuk-body">It sets out our terms and conditions for the use of the digital service. It outlines the rights and responsibilities of both ourselves and user organisations. </p>
            <p class="govuk-body">It also includes information around data sharing arrangements between both parties.  </p>
      <p class="govuk-body">
The organisation administrator should review it and be familiar with its contents.  </p>
<p class="govuk-body">
In summary, it contains: </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>principles and guidelines around sharing data with DWP </li>
                <li>data items and how they will be shared </li>
                <li>information about personal data breaches and dispute resolution</li>
            </ul>


<br>




      </div>


      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
