
{% extends "../../index.html" %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <form class="form" action="account-registration" method="post">
        {{ govukRadios({
          idPrefix: "sign-in",
          name: "sign-in",
          fieldset: {
            legend: {
              text: "Are you the company administrator?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "We will verify these detail."
          },
          items: [
            {
              value: "yes",
              text: "Yes, I'm an Administrator",
              hint: {
                text: "I will be managing mine/employees accounts using this service."
              }
            },
            {
              value: "no~not-admin",
              text: "No, I'm not an Administrator",
              hint: {
                text: "I will only manage my own account"
              }
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
