
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="task-list" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="treatment-hint">
              <h1 class="govuk-heading-xl">

                  Do you have a work telephone number?
                </h1>
                <div id="event-name-hint" class="govuk-hint">
                    We will use this to contact you about your claims.
                  </div>

              <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-tel" name="work-tel" type="radio" value="Yes~company-tel" {{ checked("work-tel", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="work-tel">
                   Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="work-tel" name="work-tel" type="radio" value="No~../compensator/account-created" {{ checked("work-tel", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="work-tel">
                   No
                  </label>
                </div>
               <!-- <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="Not yet Known" {{ checked("liability", "Not yet Known") }}>
                  <label class="govuk-label govuk-radios__label" for="liability">
                   Not yet known
                  </label>
                </div> -->
              </div>

            </fieldset>
          </div>

          <div class="govuk-radios__item govuk-visually-hidden">
            <input class="govuk-radios__input" id="nhs-details" name="nhs-details" type="radio" value="started" checked>
            <label class="govuk-label govuk-radios__label" for="nhs-details">
             hidden radio for logic
            </label>
          </div>



      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
