
{% extends "../../index.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="passcode-sent" method="post">
      <h1 class="govuk-heading-l">

        Enter your email address
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">Check your email address is correct and then resend activation passcode.</p>
      </div>

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "username",
        name: "username"
      }) }}

      {{ govukButton({
        text: "Resend activation link"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
