{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Insurance company -  Who is the insurance company paying the compensation?
{% endblock %}


{% block globalnav %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Register or settle a compensation recovery claim online</h1>
<!--    <p class="govuk-body">Use this service to register motor liability claims with the Compensation Recovery Unit (CRU).</p>-->
        <p class="govuk-body">Use this service to register either a motor liability or public liability claim with the Compensation Recovery Unit (CRU).</p>
        <p class="govuk-body">This service is for insurance companies and other compensators, not individuals.</p>
        <p class="govuk-body">Compensators must register a compensation claim within 14 days of receiving it.</p>

      <div class="govuk-inset-text">
      By registering claims online, you’ll be able to download your CRU and NHS charges certificates in PDF format.
</div>





      <h2 class="govuk-heading-m">When not to use this service</h2>
        <p class="govuk-body">Do not use this service if:
          <ul class="govuk-list govuk-list--bullet">
            <li>your claim involves employer liability or clinical negligence</li>
            <li>the injured person attended an NHS hospital, or used an NHS ambulance</li>
            <li>the injured person does not have a National Insurance number</li>
          </ul>
<p class="govuk-body">You must <a href="https://www.gov.uk/government/publications/compensation-recovery-unit-forms">complete a CRU1 form</a> instead.</p>

        <h2 class="govuk-heading-m">Before you start</h2>
<p class="govuk-body">You'll need the injured person's National Insurance number.</p>

<p class="govuk-body">Registering online takes around 5 minutes.</p>

      {{ govukButton({
        text: "Start now",
        href: "../sign-in/sign-in",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

<h2 class="govuk-heading-m">Other ways to register</h2>
<p class="govuk-body">You can also <a class="govuk-link" href="https://www.gov.uk/government/publications/compensation-recovery-unit-forms">register by post</a>.</p>
<p class="govuk-body">It takes longer to receive a certificate when you register by post than online.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/publications/compensation-and-repaying-dwp-if-you-think-our-decision-is-wrong">
                Compensation and repaying DWP: if you think our decision is wrong
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/collections/cru#contact-cru">
                Contact the Compensation Recovery Unit
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
