<nav class="navigation-secondary govuk-!-margin-bottom-6">
    <ul>
      {% if nav  == 'Approval needed' %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
        <a  href="approve-compensators">Approve (1)</a>
        </li>
      {% if nav  == 'Rejected' %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
        <a href="rejected-compensators">Rejected (1)</a>
      </li>
      {% if nav  == 'Registered' %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
        <a href="registered-compensators">Registered</a>
      </li>
      {% if nav  == 'Inactive' %}
      <li class="active">
        {% else %}
        <li>
          {% endif %}
        <a href="inactive-compensators">Inactive</a>
      </li>
    </ul>
  </nav>

<!--<nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--  <ul>-->
<!--    {% if nav  == 'Home' %}-->
<!--    <li class="active">-->
<!--      {% else %}-->
<!--    <li>-->
<!--      {% endif %}-->
<!--      <a  href="index">Find a claim</a>-->
<!--    </li>-->

<!--    {% if nav  == 'MI' %}-->
<!--    <li class="active">-->
<!--      {% else %}-->
<!--    <li>-->
<!--      {% endif %}-->
<!--      <a href="mi">Download reports</a>-->
<!--    </li>-->
<!--  </ul>-->
<!--</nav>-->
