
<html>
<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <!-- This disables auto detection of phone numbers in some clients. Remove if not needed. -->
    <meta name="format-detection" content="telephone=no">
    <title>New claim registered email</title>
</head>
<body style="font-family: Helvetica, Arial, sans-serif;font-size: 16px;margin: 0;color:#0b0c0c">

    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53" bgcolor="#ffffff">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="70" bgcolor="#ffffff" valign="middle">
                        <span style="padding-left: 5px; font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; font-weight: 700; color: #000000; text-decoration: none;">Subject: New claim registered CRU12345</a></span></a>
                    </td>
            </table>
        </td>
    </tr>
</table>


    <table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td width="100%" height="53" bgcolor="#0b0c0c">
            <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                <tr>
                    <td width="70" bgcolor="#0b0c0c" valign="middle">
                        <!-- This asset should be hosted by the service -->
                        <a href="https://www.gov.uk" style="text-decoration: none;"><img src="https://raw.githubusercontent.com/alphagov/email-template/master/crown-32px.gif" alt="" height="32" border="0"></a>
                    </td>
                    <td width="100%" bgcolor="#0b0c0c" valign="middle" align="left">
                        <span style="padding-left: 5px;"><a href="https://www.gov.uk" style="font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 1.315789474; font-weight: 700; color: #efefef; text-decoration: none;">GOV.UK</a></span></a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

    <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#FFFFFF" style="margin-bottom: 19px">
        <tr>
            <td width="100%">
                <table width="580" cellpadding="0" cellspacing="0" border="0" align="center">
                    <tr>
                        <td width="100%">

                            <h1 style="font-family: Helvetica, Arial, sans-serif;   padding: 14px 0 14px 0px; font-size: 36px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 19px 0;">
                                You successfully registered a new compensation claim
                            </h1>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 0 0;">
                                Claim reference: CRU12345
                              </p>
                              <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 0 0;">
                                  Date claim registered: 17 November 2021 at 14:25:30
                                </p>
                                <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 0 0;">
                                    Name of injured person: Bojen Westoros
                                  </p>

                                  <p style="font-family: Helvetica, Arial, sans-serif; border-left: 10px #dee0e2 solid; padding: 14px 0 14px 14px; font-size: 19px; line-height: 1.315789474; font-weight: 700; margin: 19px 0 19px 0; ">
                                      Amount to pay: Nil


                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0; padding: 19px 0 0 0;">
                                This is the amount you'll need to pay DWP when you settle this claim, based on the information you have given.

                            </p>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0;">
                                The amount could change if there is a change of circumstances. For example, if the injured person claims a social security benefit as a result of their injury.

                            </p>

                            <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 27px; line-height: 1.315789474; font-weight: 700; margin: 0 0 27px 0;">
                                Download certificates
                            </h2>

                            <ul style="Margin: 0 0 0 20px; padding: 0; list-style-type: disc;">
                              <li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">Download CRU certificate: <a href="/public/downloads/CRU-nil-cert-generic-17nov.pdf">https://compensation-recovery-unit.secure.cru12345.pdf</a></li>
                              <li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">Download NHS certificate: <a href="/public/downloads/NHS-nil-cert-generic-17nov.pdf">https://compensation-recovery-unit.secure.nhs12345.pdf</a></li>
                            </ul>

                            <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0; padding: 19px 0 0 0;">
                                These certificates are valid for 6 months.
                              </p>
                                  <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 19px 0; padding: 0 0 0 0;">
                                    We'll send you a reminder when these certificates are due to expire.
                                  </p>
                                    <p style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; margin: 0 0 30px 0; padding: 0 0 0 0;">
                                      If they expire before you settle the claim, we'll send you new ones automatically.

                            </p>

                            <h2 style="font-family: Helvetica, Arial, sans-serif; font-size: 27px; line-height: 1.315789474; font-weight: 700; margin: 0 0 27px 0;">
                                Manage this claim
                            </h2>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
  You can:</p>
<table role="presentation" style="padding: 0 0 20px 0;"><tbody><tr><td style="font-family: Helvetica, Arial, sans-serif;"><ul style="Margin: 0 0 0 20px; padding: 0; list-style-type: disc;"><li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">Check the amount to pay</li><li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">Request a copy certificate</li><li style="Margin: 5px 0 5px; padding: 0 0 0 5px; font-size: 19px;line-height: 25px; color: #0B0C0C;">Settle the claim</li></ul></td></tr></tbody></table>
<p style="Margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">Go to <a style="word-wrap: break-word; color: #1D70B8;" href="https://compensation-recovery-unit.herokuapp.com/current/compensator/compensator-dashboard">https://compensation-recovery-unit.herokuapp.com/current/compensator/compensator-dashboard</a> and select ‘Find a claim’. You’ll need the claim reference number in this email.</p>







                            <p style="font-family: Helvetica, Arial, sans-serif; font-weight: 700; font-size: 19px; line-height: 1.315789474; margin: 38px 0 38px 0;">
                                DWP Compensation Recovery Unit
                            </p>

                        </td>
                    <td width="25%">&nbsp;</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</body>

</html>
