
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-check-answers" method="post">
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
Can we contact you to take part in user research about the service?
      </h1>
    </legend>
    <!-- <div id="changedName-hint" class="govuk-hint">
     Giving feedback to us is your opportunity to help improve the service. If you say yes, we will use the email address you provided to contact you.
   </div> -->
  <p class="govuk-body">
Your opinion is important to help us improve the service.</p>
<p class="govuk-body">
Select the statements you agree with. If you agree, we will use the email address you provided to contact you. We will not share it with any outside organisations.
</p>

<p class="govuk-body">
You can change your contact preferences for research at any time in the My profile area of your account.
</p>

<p class="govuk-body">  I agree that:
</p>

<div class="govuk-checkboxes" data-module="govuk-checkboxes">
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
       <label class="govuk-label govuk-checkboxes__label" for="waste">
        you can send me a survey to complete online
       </label>
     </div>
     <div class="govuk-checkboxes__item">
       <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
       <label class="govuk-label govuk-checkboxes__label" for="waste-2">
    you can contact me to arrange an in-depth interview online, by phone, or in person
       </label>
     </div>

  </fieldset>
</div>

<button type="submit" class="govuk-button" data-module="govuk-button">
  Continue
</button>
    </form>



    </div>
  </div>

{% endblock %}
