
{% extends "../../index.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul><li class="active"><a href="">Home</a></li>

        <li><a href="admin-manage-org">Manage organisation</a></li>
        <li><a href="admin-profile">My profile</a></li>
      </ul>
    </nav>


  </div>

<!--   onboarding? -->
<!--<div class="govuk-grid-row">-->
<!--  <div class="govuk-grid-column-two-thirds">-->

<!--    <h2 class="govuk-heading-l">-->
<!--      Welcome-->
<!--    </h2>-->

<!--    <p class="govuk-body">-->
<!--      Register new claims, download certificates, manage and settle claims and take over previously registered claims.-->
<!--    </p>-->

<!--  </div>-->
<!--</div>-->

    <!-- Dashboard elements -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      Register new claims
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register a claim </li>
      <li>download certificates for claims registered on this service without recoverable benefits or NHS charges</li>
    </ul>
    <p class="govuk-body"><a href="../../nhs-claim/admin-register-new-claim" class="govuk-link">Register a new claim</a></p>
  </div>


  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      Manage and settle claims
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>search all claims registered by your organisation</li>
      <li>request certificates for claims registered using this service without recoverable benefits or NHS charges</li>
      <li>view and settle individual claims</li>
    </ul>
    <p class="govuk-body">
      <a href="admin-take-over-claim" class="govuk-link">Manage and settle a claim</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-top-7">
    <h2 class="govuk-heading-m">
      Requesting certificates
    </h2>
    <p class="govuk-body">You can only request a certificate using this service for claims registered online.</p>

    <p class="govuk-body">If you use a third party software to register claims, you can use the CRU e-service to request a certificate.</p>

    <p class="govuk-body">For claims registered by post, send an email to <a href="mailto:cru.highvolumeareacertificates@dwp.gov.uk">cru.highvolumeareacertificates@dwp.gov.uk</a> to request a certificate. You must include the CRU reference 
      <br>(3 letters followed by 3 numbers) in your email.</p>

    <p class="govuk-body">
      <a href="admin-all-claims" class="govuk-link">View all current claims for your organisation</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-top-7">
    <h2 class="govuk-heading-m">
      Take over claims registered by another organisation
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tell the Compensation Recovery Unit that you are taking over a claim registered by another organisation</li>
      <li>get notified when updated certificates are issued</li>
    </ul>
    <p class="govuk-body">
      <a href="admin-user/admin-manage-org" class="govuk-link">Take over a claim from another organisation</a>
    </p>
  </div>

</div>


{% endblock %}
