
{% extends "../../index.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}
<!--
  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul><li class="active"><a href="">Home</a></li>

        <li><a href="admin-manage-org">Manage organisation</a></li>
        <li><a href="admin-profile">My profile</a></li>
      </ul>
    </nav>
  </div>
-->

<!--   onboarding? -->
<!--<div class="govuk-grid-row">-->
<!--  <div class="govuk-grid-column-two-thirds">-->

<!--    <h2 class="govuk-heading-l">-->
<!--      Welcome-->
<!--    </h2>-->

<!--    <p class="govuk-body">-->
<!--      Register new claims, download certificates, manage and settle claims and take over previously registered claims.-->
<!--    </p>-->

<!--  </div>-->
<!--</div>-->

    <!-- Dashboard elements -->
<br>
<br>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-xl">Compensator dashboard</h2>

      <p class="govuk-heading-m"><a href="admin-user/admin-register-new-claim" class="govuk-link">Register a new claim</a></p>
 
    <p class="govuk-body">Get certificates for claims registered on this service without recoverable benefits or NHS charges.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>



  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-m"><a href="/beta-v4/cru-ops-service/find-a-claim2025" class="govuk-link">Manage and settle claims</a></p>

    <p class="govuk-body">Search claims registered by your organisation on this service. Request updated certificates for claims without recoverable benefits or NHS charges.</p>

    <p class="govuk-body">For existing claims registered by post, use the CRU e-service to request a certificate or send an email to <a href="mailto:cru.highvolumeareacertificates@dwp.gov.uk">cru.highvolumeareacertificates@dwp.gov.uk</a>.</p> 

    <p class="govuk-body">You must include the CRU claim reference in your email.</p>   

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
  </div>



  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-m"><a href="admin-user/admin-all-claims" class="govuk-link">Take over a claim</a></p>

    <p class="govuk-body">Tell Compensation Recovery Unit you’re taking over a claim registered by another organisation. Get notified when updated certificates are issued.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>



  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-heading-m"><a href="admin-user/admin-manage-org" class="govuk-link">Manage your organisation account</a></p>

    <p class="govuk-body">Ask employees from your organisation to create individual accounts to register and settle claims. Add details for people we can contact in the event of a data breach. </p>
  </div>

</div>


{% endblock %}
