
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-address-confirm" method="post">
      <span class="govuk-caption-xl">{{ data['company-name'] }}</span>
      <h1 class="govuk-heading-xl">Your organisation address</h1>

      <p class="govuk-body">
        We will use this address to send certificates and notifications to your organisation.
      </p>

          <div class="govuk-form-group">
            <label class="govuk-label" for="company-address-postcode">
              Enter postcode
            </label>

            <input class="govuk-input govuk-input--width-10" id="company-address-postcode" name="company-address-postcode" type="text" value="{{ data['company-address-postcode']}}">
          </div>

      {{ govukButton({
      text: "Continue"
      }) }}

      <p class="govuk-body"><a href="org-address-manual-entry">Enter address manually</a></p>

    </form>

    </div>
  </div>

{% endblock %}
