
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-company-name-error" method="post">

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--xl" for="company-name">
            What is the name of your organisation?
          </label>
        </h1>

<!--        <div id="company-name-hint" class="govuk-hint">-->
<!--          Type your company name-->
<!--        </div>-->

        <input class="govuk-input" id="company-name" name="company-name" type="text" value="{{ data['company-name'] }}">

<!--          <select id="location-picker">-->
<!--            <option value="">Type your company name</option>-->
<!--            <option value="fr">France</option>-->
<!--            <option value="de">Germany</option>-->
<!--            <option value="gb">United Kingdom</option>-->
<!--          </select>-->

<!--        <div id="location-picker" class="autocomplete-wrapper"></div>-->
<br>
<br>
<p class="govuk-body">This service is for organisations who register claims with the Compensation Recovery Service (CRU). It may be used by:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>insurance companies</li>
  <li>other compensators such as councils and government departments</li>
  <li>claim handlers</li>
  <li>solicitors and loss adjusters</li>
</ul>

<p class="govuk-body">Individuals should register compensation claims at the Ministry of Justice’s Official Injury Claims website.</p>

      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    </div>
  </div>

<script>
  // window.onload = (event) => {
  //   console.log('page is fully loaded');
  //
  //   const countries = [
  //     'John Smith Legal Ltd',
  //     'Slater and Gordon UK',
  //     'Zurich'
  //   ]
  //
  //   element = document.querySelector('#location-picker')
  //   console.log(element)
  //   id = 'autocomplete-minLength'
  //   accessibleAutocomplete({
  //     element: element,
  //     id: id,
  //     minLength: 2,
  //     source: countries
  //   })
  // };
</script>

{% endblock %}
