
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="../registration/about-the-injured-person">New claim</a></li>
        <li><a href="my-account">My account</a></li>
        <li><a href="signout">Sign out</a></li>
      </ul>
    </nav>



    <div class="govuk-grid-column-full">
        <form class="form" action="../compensator/cases-search-results" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
      <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>
      {{ data['comp-name'] | default('Sam Smith') }}

      </h1>


        <div class="govuk-form-group">
          <label class="govuk-label" for="find-case">
            Find a claim
          </label>
          <div id="find-case-hint" class="govuk-hint">
            Enter the CRU reference number
          </div>
          <input class="govuk-input govuk-input--width-10" id="find-case" name="find-case" type="text" spellcheck="false" aria-describedby="find-case-hint" value="{{data['find-case']}}">
          <button class="govuk-button govuk-!-margin-bottom-0">Find claim</button>
        </div>
        
        <div class="govuk-radios__item govuk-visually-hidden">
          <input class="govuk-radios__input" id="findcase" name="findcase" type="radio" value="yes" checked>
          <label class="govuk-label govuk-radios__label" for="findcase">
           Visually hidded for logic
          </label>
        </div>




    </form>

    </div>
  </div>

{% endblock %}
