
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% set nav = "Home" %}


{% block content %}

  <div class="govuk-grid-row">
    {% include "./_globalnav.html" %}


    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
       No claims added
      </h1>



      <div class="govuk-form-group">

          {{ govukButton({
          text: "Add a new claim",
          href: "../registration/nhs-guard"
      }) }}
      </div>

    </div>
  </div>

{% endblock %}
