
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
What is your name?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <form class="form" action="account-registration" method="post">
        {{ govukRadios({
          idPrefix: "sign-in",
          name: "sign-in",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes~account-registration",
              text: "Add a new claim"
            },
            {
              value: "settle~not-admin",
              text: "Settle claim"
            },
            {
              value: "request~not-admin",
              text: "Request a copy of a certificate"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
