
{% extends "../../../index.html" %}

{% block pageTitle %}
Manage organisation - User details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="admin-dashboard">Home</a></li>-->
<!--        <li><a href="admin-all-claims">All claims</a></li>-->
<!--        <li><a href="admin-register-new-claim">Register a new claim</a></li>-->
<!--        <li><a href="admin-take-over-claim">Take over an existing claim</a></li>-->
<!--        <li class="active"><a href="admin-manage-org">Manage organisation</a></li>-->
<!--        <li><a href="admin-profile">My profile</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <div class="govuk-grid-column-three-quarters">
      <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>


      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
<!--      <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>-->
<!--        {{ data['new-user-full-name'] | default('Sam Smith') }}-->
        User details
      </h1>

      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
              Status
          </dt>
          <dd class="govuk-summary-list__value">
              <strong class="govuk-tag">
                  Active
              </strong>
          </dd>
          <dd class="govuk-summary-list__actions">
<!--              <a class="govuk-link" href="admin-manage-org-edit-user">-->
<!--                  Change<span class="govuk-visually-hidden"> full name</span>-->
<!--              </a>-->
          </dd>
      </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
              John Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Last name-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            {{ data['new-user-last-name'] | default('Brown') }}-->
<!--          </dd>-->
<!--          <dd class="govuk-summary-list__actions">-->
<!--            <a class="govuk-link" href="admin-manage-org-edit-user">-->
<!--              Change<span class="govuk-visually-hidden"> last name</span>-->
<!--            </a>-->
<!--          </dd>-->
<!--        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
              john@avova.com
          </dd>
          <dd class="govuk-summary-list__actions">
<!--            <a class="govuk-link" href="admin-manage-org-edit-user">-->
<!--              Change<span class="govuk-visually-hidden"> email address</span>-->
<!--            </a>-->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Phone number
          </dt>
          <dd class="govuk-summary-list__value">
              0754678797
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Access type
          </dt>
          <dd class="govuk-summary-list__value">
            Data oficer
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">
              Change<span class="govuk-visually-hidden"> access type</span>
            </a>
          </dd>
        </div>
      </dl>
      <div class="govuk-button-group govuk-!-margin-top-7">
<!--        <form class="form" action="admin-manage-org" method="post" style="display: inline-block;">-->
<!--          <button class="govuk-button govuk-button&#45;&#45;secondary" data-module="govuk-button">-->
<!--            Manage organisation-->
<!--          </button>-->
<!--        </form>-->
          <button class="govuk-button" data-module="govuk-button">
            Remove user
          </button>
          <a class="govuk-link" href="admin-manage-org">Manage organisation</a>
      </div>
    </div>
  </div>



{% endblock %}
