
{% extends "../../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Claim details updated
            </h1>
            <div class="govuk-panel__body">
              Claim reference number<br><strong>CRU12345</strong>
            </div>
          </div>

          <h2 class="govuk-heading-m govuk-!-margin-top-9">Details updated</h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Treatment 3 at University of Manchester Hospitals Trust
            </dt>
            <dd class="govuk-summary-list__value">
              Manchester Royal Infirmary <br>
  Outpatient <br>
  From 5 March 2023 <br>
  1 day
            </dd>
          </div>

        </dl>


<div>

<h2 class="govuk-heading-m">Other options</h2>
<p class="govuk-body"><a href="check-answers-update_added" class="govuk-link">Make another update</a></p>
<p class="govuk-body"><a href="#" class="govuk-link">Add note</a></p>
<p class="govuk-body"><a href="check-answers" class="govuk-link">Back to task details</a></p>


  </div>


<br>


        </div>
      </div>


        </div>
      </div>


{% endblock %}
