
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% set nav = "Home" %}


{% block content %}

  <div class="govuk-grid-row">
    {% include "./_globalnav.html" %}


    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
      <span class="govuk-caption-xl">Compensator Ltd</span>
       Sam Smith
      </h1>




      <div class="govuk-form-group">

          {{ govukButton({
          text: "Add a new claim",
          href: "../registration/nhs-guard"
      }) }}
      </div>




    </div>
  </div>

{% endblock %}
