
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Claim details -  What is the type of liability?
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="confirmation" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">

                  Check NHS19A content
                </h1>
              </legend>
<p class="govuk-body">The content you have selected will appear on the <a href="decision_reason" class="govuk-link"> NHS19A</a> (PDF) that will be sent to the compensator.</p>

              <div class="govuk-inset-text">


<p class="govuk-body"> We have looked at this Certificate of NHS Charges and changed the amount of money you owe for this claim. </p>

<p class="govuk-body" >We have increased the amount of NHS charges. This is because we now have information which shows the injured person had treatment relating to the incident.</p>
 <p class="govuk-body">This information has been provided by the treating NHS trust.</p>

<p class="govuk-body"> We have included a new certificate with this letter. </p>

<p class="govuk-body">Our records show that this claim was settled on [SETTLEMENT DATE]. </p>
<p class="govuk-body">We have not yet received payment for this claim. </p>
<p class="govuk-body">The amount due for NHS charges is £[NHS CHARGES AMOUNT] </p>
<p class="govuk-body">This is due for payment immediately. </p>

              </div>

<!--          <div class="govuk-radios__item govuk-visually-hidden">-->
<!--            <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="completed" checked>-->
<!--            <label class="govuk-label govuk-radios__label" for="claim-details">-->
<!--             hidden radio for logic-->
<!--            </label>-->
<!--          </div>-->
<br>
      <button class="govuk-button" data-module="govuk-button">
  Finish review
      </button>

    </form>
    <p class="govuk-body">
     <a href="decision_reason" class="govuk-link">Select a different reason</a>
    </p>
    </div>
  </div>



{% endblock %}
