
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa-decision" method="post">
      <h1 class="govuk-heading-xl">Where is the injured person's permanent address? </h1>

<br>
<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

     <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">


      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="with-result" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
        <label class="govuk-label govuk-radios__label" for="with-result">
         England, Scotland or Wales
        </label>
      </div>


       <div class="govuk-radios__item">
         <input class="govuk-radios__input" id="dis-result" name="result" type="radio" value="disallowed"  data-aria-controls="conditional-contact">
         <label class="govuk-label govuk-radios__label" for="dis-result">
          Northern Ireland
         </label>
       </div>
</div>



  <br>
  <br>
  <br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
