
{% extends "../../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="confirmation_remove" method="post">
      <h1 class="govuk-heading-xl" style="margin-bottom:15px">Remove Treatment 1?</h1>
      <div class="govuk-button-group">
        <div class="govuk-inset-text">
Treatment at University of Manchester Hospitals Trust <br>
          Ambulance <br>
          From 9 January 2023 <br>
          1 day
</div>
  </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

  <p>  <a class="govuk-link" href="hospital-list">Cancel</a></p>

    </form>

    </div>
  </div>

{% endblock %}
