
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
            Data sharing agreement forwarded
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>




          <h2 class="govuk-heading-m">What happens next</h2>
                  <p class="govuk-body">
                  The Data sharing agreement has been forwarded but not signed. Once you are ready to sign the agreement, you will find access to it in the dashboard.
                  </p>
                  <p class="govuk-body">
                Also 2 data officers have been added.
                  </p>
                  <!-- <p class="govuk-body">
              An NHS19A has been sent to the compensator to explain the reason for the decision.
                  </p> -->




<br>
<p class="govuk-body">
<a href="" class="govuk-link">Back to dashboard</a>
</p>


        </div>
      </div>


        </div>
      </div>


{% endblock %}
