
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa_options" method="post">
      <h1 class="govuk-heading-xl">Data Sharing Agreement</h1>

      <div class="govuk-form-group">

          <p class="govuk-body">
          The Data Sharing Agreement sets out data sharing arrangements between compensators and DWP in relation to this digital service. It contains:
            <ul class="govuk-list govuk-list--bullet">
                <li>principles and guidelines of sharing data with DWP</li>
                <li>data items and how they will be shared</li>
                <li>information about personal data breaches and dispute resolution</li>
            </ul>

            </p>
<br>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
          It must be accepted by a person with authority to make personal data process decisions on behalf of your organisation.
              </strong>
            </div>



      </div>

  <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
