
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
You have accepted the User Agreement
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>

  <p class="govuk-body">You have added [x] data sharing contacts to your account.</p>



          <h2 class="govuk-heading-m">What happens next</h2>
                  <p class="govuk-body">
You will receive a confirmation email.
                  </p>
                  <p class="govuk-body">
              You can now use your account to register claims on behalf of your organisation.
                  </p>
                  <!-- <p class="govuk-body">
              An NHS19A has been sent to the compensator to explain the reason for the decision.
                  </p> -->




<br>
<p class="govuk-body">
<a href="/beta-v4/account-management-dsa4/admin-user/admin-dashboard" class="govuk-link">Go to dashboard</a>
</p>


        </div>
      </div>


        </div>
      </div>


{% endblock %}
