
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Account created
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="" method="post">
          <h1 class="govuk-heading-l">

            Success, these details match our records
          </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">You can continue to register a new claim.</p>

      </div>

      {{ govukButton({
        text: "Continue",
        href: "../registration/nhs-guard"
      }) }}

    </form>

    </div>

  </main>

{% endblock %}
