
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Invite sent
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <main class="govuk-main-wrapper " id="main-content" role="main">

        <h1 class="govuk-heading-xl">

        Invite sent to your administrator
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">An invite has been sent asking your colleague to register as an Administrator.</p>
      </div>

      <!-- {{ govukButton({
        text: "Back to my account",
        href: "my-account-used"
      }) }} -->

    </form>

    </div>
  </div>

{% endblock %}
