
{% extends "../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="passcode" method="post">
      <h1 class="govuk-heading-xl">Ask us to delete your account</h1>

<!--      <div class="govuk-inset-text">-->
<!--        If your organisation already has an account, you’ll need to ask the account administrator to add you as a new user.-->
<!--      </div>-->

<p class="govuk-body">
  Use this if:
</p>
<ul class="govuk-list govuk-list--bullet">
  <li>you have created the account in error</li>
  <li>your organisation does not need to register claims using this service</li>
</ul>
<!--      <div class="govuk-form-group">-->
<!--        <label class="govuk-label govuk-label&#45;&#45;s" for="user-full-name">-->
<!--          Full name-->
<!--        </label>-->
<!--        <input class="govuk-input govuk-input&#45;&#45;width-20" id="user-full-name" name="user-full-name" type="text" value="{{ data['user-full-name'] }}">-->
<!--      </div>-->

      <!-- hidden field to set account type -->

      <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">
        Ask us to delete
      </button>
    </form>

    </div>
  </div>

{% endblock %}
