
{% extends "../../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
            Injury details update completed and saved
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>




<div>

<h2 class="govuk-heading-m">Other options</h2>
<p class="govuk-body"><a href="check-answers-2" class="govuk-link">Make another update</a>.</p>


  </div>


<br>


         <a href="case-view-tag#case-information" class="govuk-button govuk-button--secondary">Return to home</a></div>
      </div>


        </div>
      </div>


{% endblock %}
