
{% extends "../../../../index.html" %}

{% block pageTitle %}
Claim details -  What is the type of liability?
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="decision2" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="liability-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">

                  Review result details
                </h1>
              </legend>

<br>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <label class="govuk-fieldset__heading">
    Date result received
      </label>
    </legend>
    <div id="date-of-birth-hint" class="govuk-hint">
      For example, 12 3 2023
    </div>
    <div class="govuk-date-input" id="date-of-birth">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
            Day
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-day']}}"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
            Month
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-month']}}"></div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
            Year
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-year']}}"></div>
      </div>
    </div>
              <!-- <div class="govuk-form-group">
                <label class="govuk-label govuk-label--s" for="first-name">
                    Review requestor
                  </label>
                <input class="govuk-input govuk-input--width-20" id="first-name" name="first-name" type="text" value="{{data['first-name']}}">
              </div>

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                    <label class="govuk-fieldset__heading">
                  Date review received
                    </label>
                  </legend>
                  <div id="date-of-birth-hint" class="govuk-hint">
                    For example, 12 3 2023
                  </div>
                  <div class="govuk-date-input" id="date-of-birth">
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                          Day
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-day']}}"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                          Month
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-month']}}"></div>
                    </div>
                    <div class="govuk-date-input__item">
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                          Year
                        </label>
                        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-year']}}"></div>
                    </div>
                  </div> -->



<!--                <div class="govuk-radios__item">-->
<!--                  <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="Employer" {{ checked("liability", "Employer") }}>-->
<!--                  <label class="govuk-label govuk-radios__label" for="liability">-->
<!--                   Employer-->
<!--                  </label>-->
<!--                </div>-->
<!--                <div class="govuk-radios__item">-->
<!--                  <input class="govuk-radios__input" id="liability" name="liability" type="radio" value="Clinical negligence" {{ checked("liability", "Clinical negligence") }}>-->
<!--                  <label class="govuk-label govuk-radios__label" for="liability">-->
<!--                   Clinical negligence-->
<!--                  </label>-->
<!--                </div>-->
<br><br>
<legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  <label class="govuk-fieldset__heading">
Result of the claim
  </label>
</legend>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="full-result" name="result" type="radio" value="fully"  }}>
                  <label class="govuk-label govuk-radios__label" for="full-result">
              Final settlement
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="par-result" name="result" type="radio" value="partialy" data-aria-controls="conditional-contact2">
                  <label class="govuk-label govuk-radios__label" for="par-result">
              Payment into court - accepted within 21 days
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="dis-result" name="result" type="radio" value="disallowed"  data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-radios__label" for="dis-result">
                   Payment into court - accepted outside 21 days
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-result" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
                Interim compensation
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-result2" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
                Interim payment has become Final
                  </label>
                </div>


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-result3" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
                Structured settlement
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-resul4t" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
              Provisional damages
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-resul5t" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
                Claim withdrawn or unsuccessful
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-res" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
              Claim repudiated or statue barred
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="with-result" name="result" type="radio" value="withdrawn"  data-aria-controls="conditional-contact3">
                  <label class="govuk-label govuk-radios__label" for="with-result">
                Claim settled below SPL
                  </label>
                </div>


              </div>

            </fieldset>
          </div>

<!--          <div class="govuk-radios__item govuk-visually-hidden">-->
<!--            <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="completed" checked>-->
<!--            <label class="govuk-label govuk-radios__label" for="claim-details">-->
<!--             hidden radio for logic-->
<!--            </label>-->
<!--          </div>-->
<br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>



{% endblock %}
