
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
My account
{% endblock %}





{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li><a href="compensator-dashboard-empty">Home</a></li>
        <li><a href="../registration/about-the-injured-person">New claim</a></li>
        <li class="active"><a href="">My account</a></li>
        <li><a href="signout">Sign out</a></li>
      </ul>
    </nav> -->
    {% set nav = "My account" %}
    {% include "./_globalnav.html" %}

    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
       My account
      </h1>

      <h2 class="govuk-heading-m">Account details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Password
          </dt>
          <dd class="govuk-summary-list__value">
            **********
          </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="change-password">
                  Change<span class="govuk-visually-hidden">password</span>
              </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">sam.smith@compensatorltd.com</p>
          </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-contact-details">
                  Change<span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Company details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="#">Full name</a>
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
            <dd class="govuk-summary-list__actions">
              
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag">INCOMPLETE </strong><span class="govuk-visually-hidden">password</span>
              </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="change-postcode">Address</a>
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
            <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="change-postcode">
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag">INCOMPLETE </strong><span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <a class="govuk-link" href="change-contact-details">Contact number</a>
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
            <dd class="govuk-summary-list__actions">
                
                  <strong class="govuk-tag govuk-tag--grey app-task-list__tag">INCOMPLETE </strong><span class="govuk-visually-hidden"> contact details</span>
              </a>
            </dd>
        </div>
        
      </dl>



    </form>

    </div>
  </div>

{% endblock %}
