
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-create-account" method="post">
      <h1 class="govuk-heading-xl">This organisation has an account</h1>

            <p class="govuk-body">You entered: <strong>{{ data['company-name'] | default('email@company.com') }}</strong></p>
      <p class="govuk-body">
      The email address you entered is a match with an organisation that already has an account.
      </p>



    <p class="govuk-body">  You can request access to create an individual account but you cannot create an organisation account with this email address.      </p>


      <p class="govuk-body govuk-!-margin-bottom-7">
        If your organisation is not on the list, please continue.
      </p>

            <p class="govuk-body"> <a href="sign-in">Back to sign in</a> </p>

    </form>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div>
      <h2 class="govuk-heading-m">Need help?</h2>

      <ul class="govuk-list">
        <li>Telephone: 0800 15 13197</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
        <li>Email: <a href="mailto:cru.ebt@dwp.gov.uk" class="govuk-link">cru.ebt@dwp.gov.uk</a>
        </li></ul>

    </div>

  </div>
</div>

{% endblock %}
