
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa2/dsa_options" method="post">
      <h1 class="govuk-heading-xl">User Agreement content has been updated</h1>

      <div class="govuk-form-group">

          <p class="govuk-body">The User Agreement sets out our terms and conditions for the use of the digital service. It outlines both the rights and responsibilities of compensators and DWP. </p>
            <p class="govuk-body">The previous version was signed by your organisation when it was registered on our ser </p>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
          Not signing the updated agreement by end of 28 October 2024 will result in claim processing capabilities being blocked.
              </strong>
            </div>
            <p class="govuk-body">The organisation administrator should review it and be familiar with its contents.  </p>

      <p class="govuk-body">
It also includes information around data sharing arrangements between both parties.  </p>
<p class="govuk-body">
It contains:  </p>
            <ul class="govuk-list govuk-list--bullet">
                <li> principles and guidelines of sharing data with DWP  </li>
                <li>data items and how they will be shared </li>
                <li>information about personal data breaches and dispute resolution</li>
            </ul>



            <div class="govuk-inset-text">
              The User Agreement must be accepted by a person with authority to make personal data process decisions on behalf of your organisation.
            </div>

      </div>
      <h2 class="govuk-heading-m">Get help with the User Agreement</h2>
      <ul class="govuk-list">
        <li>Phone: 020 7946 0101</li>
        <li>Monday to Friday, 9am to 5pm (except public holidays)</li>
      </ul>
      <p class="govuk-body">
        <a class="govuk-link" href="#">Find out about call charges</a>
      </p>

  <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
