
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the claim and injuries - Please tell us the date of the accident or alleged clinical negligence
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
<!--          <form class="form" action="whiplash-guard" method="post">-->
          <form class="form" action="cru4-taskb3" method="post">

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" role="group" aria-describedby="claim-date-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                <h1 class="govuk-fieldset__heading">
<!--                  <span class="govuk-caption-xl">Injury details-->
                  <span class="govuk-caption-xl">The injured person
                  </span>
<!--                  When was the person injured?-->
                  When were they injured?
                </h1>
              </legend>
              <div id="claim-date-hint" class="govuk-hint">
                For example, 12 3 2020
              </div>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text" style="font-weight: bold;">
                        New claim details from CRU4
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <div class="govuk-notification-banner" role="region"
                    aria-labelledby="govuk-notification-banner-title"
                    data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Check claim details
                      </h2>
                    </div>
                    <div class="govuk-notification-banner__content" style="padding-bottom:30px">



                      <table class="govuk-table">
                        <!-- <caption class="govuk-table__caption govuk-table__caption--m">Current and new claim details</caption> -->
                        <thead class="govuk-table__head">
                          <tr class="govuk-table__row">
                            <th scope="col" class="govuk-table__header">Detail</th>
                            <th scope="col" class="govuk-table__header">Current</th>
                              <th scope="col" class="govuk-table__header">New </th>

                          </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Date of birth</th>
                            <td class="govuk-table__cell">		28 February 1978</td>
                                <td class="govuk-table__cell">28 February 1979</td>

                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">National Insurance number</th>
                            <td class="govuk-table__cell">AA 11 22 33 B</td>
                                <td class="govuk-table__cell">CD 21 31 75 B</td>

                          </tr>
                          <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header">Injury date</th>
                            <td class="govuk-table__cell">14 February 2024</td>
                                <td class="govuk-table__cell">12 February 2024</td>

                          </tr>
                          <tr class="govuk-table__row">





                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </details>

              <div class="govuk-date-input" id="claim-date">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-day">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-date-day" name="claim-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="14"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-month">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="claim-date-month" name="claim-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="2"></div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="claim-date-year">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="claim-date-year" name="claim-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="2024"></div>
                </div>
              </div>

            </fieldset>
          </div>

      <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="claim-details" name="claim-details" type="radio" value="started" checked>
        <label class="govuk-label govuk-radios__label" for="claim-details">
         hidden radio for logic
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
