
{% extends "../../../../index.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <form class="form" action="cru4-taskb" method="post">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Injured person's representative</span>
                What is the representative's address?
            </h1>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                      New claim details from CRU4
                </span>
              </summary>
              <div class="govuk-details__text">
                <div class="govuk-notification-banner" role="region"
                  aria-labelledby="govuk-notification-banner-title"
                  data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Check claim details
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content" style="padding-bottom:30px">

                    <table class="govuk-table">
                      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Details changed</caption> -->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Detail</th>
                          <th scope="col" class="govuk-table__header">Existing</th>
                            <th scope="col" class="govuk-table__header">New</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative<br> company name</th>
                          <td class="govuk-table__cell">	McAdar Solicitors</td>
                              <td class="govuk-table__cell">Davidson & McKinley</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative<br> email</th>
                          <td class="govuk-table__cell">claims@mcadarx.co.uk</td>
                              <td class="govuk-table__cell">info@dmpartners.co.uk</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: telephone</th>
                          <td class="govuk-table__cell">07880109642</td>
                              <td class="govuk-table__cell">01536 345472</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: reference</th>
                          <td class="govuk-table__cell">Cr1234567</td>
                              <td class="govuk-table__cell">Crl4652322</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: <br>address line 1</th>
                          <td class="govuk-table__cell">Ivy House, Ivy Lane</td>
                              <td class="govuk-table__cell">14 Samson Road</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative:<br> town or city</th>
                          <td class="govuk-table__cell">Warehorne</td>
                              <td class="govuk-table__cell">Kettering</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: postcode</th>
                          <td class="govuk-table__cell">TN26 9XE</td>
                              <td class="govuk-table__cell">NN15 7HT</td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </details>

            <h2 class="govuk-heading-m">Postcode</h2>
            <p class="govuk-body">{{ data['representativepostcode']}} <a href="representative-address.html">Change</a></p>

            <div class="govuk-form-group">
                <label class="govuk-label" for="solicitor-address">
                    Select an address
                </label>
                <select class="govuk-select" id="solicitor-address" name="solicitor-address">
                    <option value="published">3 addresses found</option>
                    <option value="Ivy House, Ivy Lane"> 12 Samson Road,	Kettering, {{ data['representativepostcode'] | default('MK9 2AH') }}</option>
                    <option value="14 Ivy Lane">14 Samson Road,	Kettering, {{ data['representativepostcode'] | default('MK9 2AH') }}</option>
                    <option value="16 Ivy House">16 Samson Road, Kettering, {{ data['representativepostcode'] | default('MK9 2AH') }}</option>
                </select>
            </div>

            <div class="govuk-radios__item govuk-visually-hidden">
                <input class="govuk-radios__input" id="injured-persons-details" name="representative-details" type="radio" value="completed" checked>
                <label class="govuk-label govuk-radios__label" for="injured-persons-details">
                    hidden radio for logic
                </label>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>

            <p class="govuk-body"><a href="representative-address-manual">I can't find the address in the list</a></p>

        </form>
    </div>
</div>

{% endblock %}
