
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}




{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Approve Compensators (11)</a></li>
        <li><a href="my-account">My account</a></li>
      </ul>
    </nav>  -->
    {% set nav = "Home" %}



      <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <form class="form" action="cru-landing" method="post">

          <h1 class="govuk-heading-xl govuk-!-margin-top-0">
            <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>
            Peter Smith
        </h1>


      <div class="govuk-form-group">
        <h1 class="govuk-heading-s">Find a claim</h1>
      <label class="govuk-label " for="email">
        Enter the CRU reference number, or injured person's <br>National Insurance number
      </label>
      <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text">
    </div>


      {{ govukButton({
        text: "Find claim",
        href: "cases-search-results"
      }) }}

    </form>

    </div>



    </div>

{% endblock %}
