
{% extends "../../index.html" %}

{% block pageTitle %}
CRU - Compensator Recovery Unit{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>  
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Approve Compensators (11)</a></li>
        <li><a href="my-account">My account</a></li>
      </ul>
    </nav>  -->
    {% set nav = "Inactive" %}
    {% include "./_globalnav.html" %}

    
      <div class="govuk-grid-column-full  govuk-main-wrapper--auto-spacing">
        <h1 class="govuk-heading-xl">

          Approve user
        </h1>
        <div class="govuk-form-group">
            <table class="govuk-table" id="submitted-opportunities">
            <caption class="govuk-table__caption govuk-heading-m govuk-visually-hidden">Claims you’ve registered</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">User</th>
                <th scope="col" class="govuk-table__header">Company</th>
                <th scope="col" class="govuk-table__header">Date registered</th>
                <th scope="col" class="govuk-table__header">Last Sign in</th>
                <th scope="col" class="govuk-table__header">Inactive</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="approve-user-details.html">Fin Sale</a></td>
                    <td class="govuk-table__cell">Mr Compensator</td>
                    <td class="govuk-table__cell">01/12/2021</td>
                    <td class="govuk-table__cell">13/01/2022</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">6 months</strong></td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell"><a href="approve-user-details.html">Gina Bailey</a></td>
                    <td class="govuk-table__cell">Riggle Claims</td>
                    <td class="govuk-table__cell">01/12/2021</td>
                    <td class="govuk-table__cell">28/02/2022</td>
                    <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">14 months</strong></td>
                  </tr>

            </tbody>
          </table>
        </div>
      </div>
      


    </div>

{% endblock %}
