
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Approve Compensators (11)</a></li>
        <li><a href="my-account">My account</a></li>
      </ul>
    </nav>  -->
    {% set nav = "Home" %}
    {% include "./_globalnav.html" %}


      <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        Find a claim
      </h1>


      <div class="govuk-form-group">
      <label class="govuk-label " for="email">
        Enter the CRU reference number, or injured person's National Insurance number
      </label>
      <input class="govuk-input govuk-input--width-20" id="email" name="email" type="text">
    </div>


      {{ govukButton({
        text: "Find claim",
        href: "cases-search-results"
      }) }}

    </form>

    </div>



    </div>

{% endblock %}
