
{% extends "../../index.html" %}
{% set serviceName %}
  Manage a compensation recovery claim
{% endset%}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Approve Compensators (11)</a></li>
        <li><a href="my-account">My account</a></li>
      </ul>
    </nav>  -->
    <nav class="navigation-secondary govuk-!-margin-bottom-7">
      <ul>
        <li><a href="./tasks-and-workflows/v2-dashboard">Home</a></li>
        <li><a href="./tasks-and-workflows/v2-tasks">Tasks</a></li>
        <li><a href="./tasks-and-workflows/find-case">Find a claim</a></li>
        <li><a href="./tasks-and-workflows2_0/org-list_multiple">Organisation list</a></li>
        <li class="active"><a href="./mi">Download reports</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-two-thirds govuk-main-wrapper--auto-spacing">

<!--      <form class="form" action="cru-landing" method="post">-->

        <h1 class="govuk-heading-xl">Download a compensation recovery claim report</h1>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This data only includes motor liability claims registered using the 'Manage your compensation recovery claims' online service.
          </strong>
        </div>

      <p class="govuk-body">Your report will show the number of:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>total claims registered</li>
            <li>DWP benefits certificates issued</li>
            <li>NHS certificates issued</li>
            <li>settled claims and settlement type</li>
            <li>active, settled and withdrawn claims</li>
          </ul>

      <br />

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Choose a download option
              </h1>
            </legend>
<!--            <div id="contact-hint" class="govuk-hint">-->
<!--              Select one option.-->
<!--            </div>-->
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="contact">
                  Download all data
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  Download data within a date range
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range1-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Date from
                      </h1>
                    </legend>
                    <div id="date-range1-issued-hint" class="govuk-hint">
                      For example, 15 3 2021
                    </div>
                    <div class="govuk-date-input" id="date-range1-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range1-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-range1-issued-day" name="date-range1-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range1-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-range1-issued-month" name="date-range1-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range1-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-range1-issued-year" name="date-range1-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" role="group" aria-describedby="date-range2-issued-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                      <h1 class="govuk-fieldset__heading">
                        Date to
                      </h1>
                    </legend>
                    <div id="date-range2-issued-hint" class="govuk-hint">
                      For example, 31 3 2021
                    </div>
                    <div class="govuk-date-input" id="date-range2-issued">
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range2-issued-day">
                            Day
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-range2-issued-day" name="date-range2-issued-day" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range2-issued-month">
                            Month
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-range2-issued-month" name="date-range2-issued-month" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                      <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                          <label class="govuk-label govuk-date-input__label" for="date-range2-issued-year">
                            Year
                          </label>
                          <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-range2-issued-year" name="date-range2-issued-year" type="text" pattern="[0-9]*" inputmode="numeric">
                        </div>
                      </div>
                    </div>

                  </fieldset>
                </div>

              </div>
            </div>

          </fieldset>
        </div>

      {{ govukButton({
      text: "Download report as .csv"
      }) }}

<!--      </form>-->

    </div>
  </div>

{% endblock %}
