
{% extends "../../index.html" %}

{% block pageTitle %}
CRU - Compensator Recovery Unit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>  
        <li class="active"><a href="">Home</a></li>
        <li><a href="">Approve Compensators (11)</a></li>
        <li><a href="my-account">My account</a></li>
      </ul>
    </nav>  -->
    {% set nav = "Registered" %}
    {% include "./_globalnav.html" %}

    
      <div class="govuk-grid-column-full  govuk-main-wrapper--auto-spacing">
      <h1 class="govuk-heading-xl">

        Registered users
      </h1>
      <div class="govuk-form-group">
          <table class="govuk-table" id="submitted-opportunities">
          <caption class="govuk-table__caption govuk-heading-m govuk-visually-hidden">Claims you’ve registered</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">User</th>
              <th scope="col" class="govuk-table__header">Company</th>
              <th scope="col" class="govuk-table__header">Date of registration</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="registered-user-details.html">Jimmy Tushoo</a></td>
                  <td class="govuk-table__cell">Aviva Insurance</td>
                  <td class="govuk-table__cell">1 December 2021</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
                </tr>

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Adil Mussa</td>
                  <td class="govuk-table__cell">GoGoGo Comp</td>

                  <td class="govuk-table__cell">5 September 2021</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Approved</strong></td>
                </tr>
          </tbody>
        </table>
      </div>



    </div>



    </div>

{% endblock %}
