
{% extends "../../index.html" %}

{% block pageTitle %}
Two-factor authentication sent 
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        User deleted successfully
      </h1>

    </form>

    </div>

  </div>

{% endblock %}
