
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Task details
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>



        <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          Did the injured person receive NHS hospital treatment?
        </h1>

        <form class="form" action="treatment" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nhs-treatment" name="treatment" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="nhs-treatment">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="nhs-treatment-2" name="treatment" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="nhs-treatment-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>


        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

        </form>


      
    </div>
  </div>

{% endblock %}
