
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Completed task summary
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="#" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-top-9 govuk-!-margin-bottom-2">
          Task details
        </h1>
        <strong class="govuk-tag govuk-tag--green">Completed</strong>

        <div class="govuk-inset-text"> NHSIP has been sent to the injured person. </div>

<!-- summary start -->
<dl class="govuk-summary-list govuk-!-margin-top-7">

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Description
      </dt>
      <dd class="govuk-summary-list__value">
        Review NHS treatment status
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        CRU reference
      </dt>
      <dd class="govuk-summary-list__value">
        PAB283
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name of injured person
      </dt>
      <dd class="govuk-summary-list__value">
        John Jones
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
        13 July 1992
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Age
      </dt>
      <dd class="govuk-summary-list__value">
        31 years old
      </dd>
    </div>
  </dl>
<!-- summary end -->

<!-- nhs treatment details start -->
<h2 class="govuk-heading-m govuk-!-margin-top-9">
  NHS treatment status
</h2>

          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              NHS hospital treatment
              </dt>
              <dd class="govuk-summary-list__value">
                Not known
              </dd>
            </div>

          </dl>
<!-- nhs treatment details end -->

          <div class="govuk-button-group govuk-!-margin-top-9">
              <button class="govuk-button" data-module="govuk-button">
                  Go to next task
              </button>
              <a href="#" class="govuk-button govuk-button--secondary" data-module="govuk-button">Return to dashboard</a>
          </div>

      </form>
    </div>
  </div>

{% endblock %}
