
{% extends "../../../index.html" %}

{% block pageTitle %}
Manage organisation - Check user details
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="admin-dashboard">Home</a></li>-->
<!--        <li><a href="admin-all-claims">All claims</a></li>-->
<!--        <li><a href="admin-register-claims">Register claims</a></li>-->
<!--        <li class="active"><a href="admin-manage-org">Manage organisation</a></li>-->
<!--        <li><a href="admin-profile">My profile</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <form class="form" action="admin-manage-org?show-notification=true&user-added=false&user-amended=true&" method="post">

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
<!--      <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>-->
        Check user details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['new-user-full-name'] | default('Sam Smith') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="admin-manage-org-edit-user">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Last name-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            {{ data['new-user-last-name'] | default('Brown') }}-->
<!--          </dd>-->
<!--          <dd class="govuk-summary-list__actions">-->
<!--            <a class="govuk-link" href="admin-manage-org-edit-user">-->
<!--              Change<span class="govuk-visually-hidden"> last name</span>-->
<!--            </a>-->
<!--          </dd>-->
<!--        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['new-user-email'] | default('bob.brown@compensator.com') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="admin-manage-org-edit-user">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Access type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['new-user-access-type'] | default('Admin') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="admin-manage-org-edit-user">
              Change<span class="govuk-visually-hidden"> access type</span>
            </a>
          </dd>
        </div>
      </dl>


        <button class="govuk-button" data-module="govuk-button">Save</button>
      </form>

    </div>
  </div>



{% endblock %}
