
{% extends "../../../../index.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Update complete
            </h1>
            <div class="govuk-panel__body">
              Changes will take effect from<br><strong>today</strong>
            </div>
          </div>




<div>


  </div>


<br>


         <a href="tariff_table" class="govuk-button govuk-button--secondary">Return to home</a></div>
      </div>


        </div>
      </div>


{% endblock %}
