
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="representative-address-choice" method="post">

            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Injured person's representative</span>
                What is the representative's address?
            </h1>

            <details class="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text" style="font-weight: bold">
                  New claim details from CRU4
                </span>
              </summary>
              <div class="govuk-details__text">
                <div class="govuk-notification-banner" role="region"
                  aria-labelledby="govuk-notification-banner-title"
                  data-module="govuk-notification-banner">
                  <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                      Check claim details
                    </h2>
                  </div>
                  <div class="govuk-notification-banner__content" style="padding-bottom:30px">



                    <table class="govuk-table">
                      <!-- <caption class="govuk-table__caption govuk-table__caption--m">Current and new claim details</caption> -->
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Detail</th>
                          <th scope="col" class="govuk-table__header">Current</th>
                            <th scope="col" class="govuk-table__header">New</th>

                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative<br> company name</th>
                          <td class="govuk-table__cell">	McAdar Solicitors</td>
                              <td class="govuk-table__cell">Davidson & McKinley</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative<br> email</th>
                          <td class="govuk-table__cell">claims@mcadarx.co.uk</td>
                              <td class="govuk-table__cell">info@dmpartners.co.uk</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: telephone</th>
                          <td class="govuk-table__cell">07880109642</td>
                              <td class="govuk-table__cell">01536 345472</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: reference</th>
                          <td class="govuk-table__cell">Cr1234567</td>
                              <td class="govuk-table__cell">Crl4652322</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: <br>address line 1</th>
                          <td class="govuk-table__cell">Ivy House, Ivy Lane</td>
                              <td class="govuk-table__cell">14 Samson Road</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative:<br> town or city</th>
                          <td class="govuk-table__cell">Warehorne</td>
                              <td class="govuk-table__cell">Kettering</td>

                        </tr>
                        <tr class="govuk-table__row">
                          <th scope="row" class="govuk-table__header">Representative: postcode</th>
                          <td class="govuk-table__cell">TN26 9XE</td>
                              <td class="govuk-table__cell">NN15 7HT</td>

                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </details>

            <div class="govuk-form-group">
                <label class="govuk-label govuk-!-font-weight-bold" for="representativepostcode">
                UK postcode
                </label>
                <input class="govuk-input govuk-input--width-10" id="representativepostcode" name="representativepostcode" type="text" value="{{ data['representativepostcode']}}">
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Find address
            </button>
            <p class="govuk-body"><a href="representative-address-manual">The address is outside the UK</a></p>

        </form>
    </div>
  </div>

{% endblock %}
