
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Take over an existing claim
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li><a href="user-dashboard">Home</a></li>
        <li><a href="user-all-claims">All claims</a></li>
        <li><a href="user-register-new-claim">Register a new claim</a></li>
        <li class="active"><a href="user-take-over-claim">Take over a claim from another organisation</a></li>
        <li><a href="user-profile">My profile</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>
        Take over an existing claim from another organisation
      </h1>

      <p class="govuk-body">Tell the Compensation Recovery Service that you are taking over a previously registered claim from another organisation. Receive notifications when updated certificates are issued.</p>
      <p class="govuk-body">This will take around 3 minutes.</p>

      {{ govukButton({
      text: "Start now",
      href: "../taking-over-claims/da-crs-reference?user-type=standard&",
      classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
      isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
