
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <!--        <form class="form" action="check-answers-ip" method="post">-->

        <form class="form" action="injured-person-address" method="post">


            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">The injured person</span>
            A claim with the same details already exists
            </h1>

  <p class="govuk-body">Your organisation has already registered a claim with the same or similar details to those you have provided.</p>

            <p class="govuk-body">Check and <a class="govuk-link" href="about-the-injured-person">change the injured person details</a> if you think they are incorrect.</p>


            <div class="govuk-inset-text">
              <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Name
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['first-name'] | default('Sarah') }}  {{ data['last-name'] | default('Philips') }}
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Date of birth
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['date-of-birth-day'] | default("28") }} {{ data['date-of-birth-month'] | default("02") | toMonth }} {{ data['date-of-birth-year'] | default("1978") }}
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    National Insurance number
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if data['ni-number'] != '' %}
                      <p class="govuk-body"> {{ data['ni-number'] | default('AA 11 22 33 B ') }}</p>
                    {% else %}
                      <strong class="govuk-tag govuk-tag--red">Not provided</strong>
                    {% endif %}
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Injury date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['claim-date-day'] | default("3") }} {{ data['claim-date-month'] | default("03") | toMonth }} {{ data['claim-date-year'] | default("2020") }}
                  </dd>

                </div>
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    Registration date
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['claim-date-day'] | default("17") }} {{ data['claim-date-month'] | default("02") | toMonth }} {{ data['claim-date-year'] | default("2020") }}
                  </dd>

                </div>

              </dl>
              <p class="govuk-body">
                                 <a href="case-view-history" class="govuk-link" target=”_blank”>Full existing claim details (opens in new tab)</a>
                               </p>
            </div>


            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Continue claim registration
            </button>

        </form>

  <p class="govuk-body"><a class="govuk-link" href="about-the-injured-person">Cancel</a> </p>

    </div>
</div>

{% endblock %}
