
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <!--        <form class="form" action="check-answers-ip" method="post">-->

        <form class="form" action="about-the-injured-persons-rep" method="post">


            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">Hospital details</span>
                You have told us the injured person had the following serious injuries:
            </h1>
            <h2 class="govuk-heading-m">Serious injury details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">







              {% if checked('other-injuries','Yes')%}
                {% for item in data['injury'] %}

                  <!-- Physical injuries -->
                  {% if item == 'Physical injury other than whiplash' %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Physical injury other than whiplash
                    </dt>
                    <dd class="govuk-summary-list__value">

                        <!-- Start Head injuries  -->
                        {% if checked('where-is-the-injury','Head') %}
                          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Head injuries</h3><br />
                          <p>Details</p>
                          <ul class="govuk-list govuk-list--bullet">
                            {% for item in data['head'] %}
                              <li>
                                {% if item != 'Other head injury' %}
                                  {{ item }}
                                {% else %}
                                  {{ item }} - {{ data['more-detail-head'] }}
                                {% endif %}
                              </li>
                            {% endfor %}
                          </ul>
                          {% if data['head-injury-location'] | length %}
                          <p>Injury location</p>
                          <ul class="govuk-list govuk-list--bullet">
                            {% for item in data['head-injury-location'] %}
                            <li>{{ item }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        {% endif %}
                      <!-- End Head -->

                      <!-- start Face -->
                      {% if checked('where-is-the-injury','Face, cheekbones or jaw') %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Face, cheekbones or jaw injuries</h3><br />
                        <p>Details</p>
                        <ul class="govuk-list govuk-list--bullet">
                          {% for item in data['face'] %}
                          <li>
                            {% if item != 'Other face injury' %}
                            {{ item }}
                            {% else %}
                            {{ item }} - {{ data['more-detail-face'] }}
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                      <!-- End face-->

                      <!-- start ear -->
                      {% if checked('where-is-the-injury','Ear') %}
                        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ear injuries</h3><br />
                        <p>Details</p>
                        <ul class="govuk-list govuk-list--bullet">
                          {% for item in data['ears'] %}
                          <li>
                            {% if item != 'Other ear injury' %}
                            {{ item }}
                            {% else %}
                            {{ item }} - {{ data['more-detail-ear'] }}
                            {% endif %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% if data['ear-injury-location'] | length %}
                        <p>Injury location</p>
                        <ul class="govuk-list govuk-list--bullet">
                          {% for item in data['ear-injury-location'] %}
                          <li>{{ item }}</li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      {% endif %}
                      <!-- End ear-->

                      <!-- start Jaw or teeth -->
                      {% if checked('where-is-the-injury','Teeth') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Teeth injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['jaw-teeth'] %}
                        <li>
                          {% if item != 'Other teeth injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-teeth'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <!-- End or teeth -->

                      <!-- Start Neck or throat -->
                      {% if checked('where-is-the-injury','Neck or throat')%}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Neck or throat injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['neck'] %}
                        <li>
                          {% if item != 'Other neck injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-neck'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <!-- End Neck-->

                      <!-- start Shoulder or collarbone-->
                      {% if checked('where-is-the-injury','Shoulder or collarbone') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Shoulder or collarbone injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['shoulder-collarbone'] %}
                        <li>
                          {% if item != 'Other shoulder or collarbone injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-shoulder-collarbone'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['shoulder-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['shoulder-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- end Shoulder or collarbone-->

                      <!-- start Back-->
                      {% if checked('where-is-the-injury','Back or spine') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Back or spine injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['back'] %}
                        <li>
                          {% if item != 'Other back or spine injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-back'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['back-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['back-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- End Back-->

                      <!-- start Ribs, chest or torso injuries -->
                      {% if checked('where-is-the-injury','Ribs, chest or torso') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ribs, chest or torso injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['chest-torso'] %}
                        <li>
                          {% if item != 'Other chest injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-chest-torso'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['chest-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['chest-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- end Ribs, chest or torso injuries -->

                      <!-- start Arm or wrist injuries -->
                      {% if checked('where-is-the-injury','Arm or wrist') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Arm or wrist injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['arm'] %}
                        <li>
                          {% if item != 'Other arm or wrist injuries' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-arm'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['arm-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['arm-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- End Arm or wrist injuries -->

                      <!-- start Hand or finger injuries -->
                      {% if checked('where-is-the-injury','Hand or finger') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Hand or finger injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['hand'] %}
                        <li>
                          {% if item != 'Other hand or finger injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-hand'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['hand-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['hand-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- End Hand or finger injuries -->

                      <!-- start Hip, pelvis or genitals injuries -->
                      {% if checked('where-is-the-injury','Hip, pelvis or genitals') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Hip, pelvis or genitals injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['hip-pelvis'] %}
                        <li>
                          {% if item != 'Other hip or pelvis injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-hip-pelvis'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      <!-- end of pelvis -->

                      <!-- start Leg, knee or ankle injuries -->
                      {% if checked('where-is-the-injury','Leg, knee or ankle') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Leg, knee or ankle injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['leg'] %}
                        <li>
                          {% if item != 'Other leg, knee or ankle injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-leg'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['leg-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['leg-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- end Leg, knee, ankle or foot -->

                      <!-- start Foot or toe -->
                      {% if checked('where-is-the-injury','Foot or toe') %}
                      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Foot or toe injuries</h3><br />
                      <p>Details</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['foot'] %}
                        <li>
                          {% if item != 'Other foot or toe injury' %}
                          {{ item }}
                          {% else %}
                          {{ item }} - {{ data['more-detail-foot'] }}
                          {% endif %}
                        </li>
                        {% endfor %}
                      </ul>
                      {% if data['foot-injury-location'] | length %}
                      <p>Injury location</p>
                      <ul class="govuk-list govuk-list--bullet">
                        {% for item in data['foot-injury-location'] %}
                        <li>{{ item }}</li>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endif %}
                      <!-- end Foot or toe-->

                    </dd>
                    <dd class="govuk-summary-list__actions">
    <!--                  <a class="govuk-link" href="where-is-the-injury?backtocheckanswers=true&">-->
    <!--                    Change<span class="govuk-visually-hidden"> physical injuries</span>-->
    <!--                  </a>-->
                    </dd>
                  </div>
                  {% endif %}

                  <!-- Psychological injuries -->
                  {% if item == 'Psychological' %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Psychological injuries
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% for item in data['psychological'] %}
                          {% if item != 'Other psychological injury' %}
                          {{ item }} <br />
                          {% else %}
                          {{ item }} - {{ data['more-detail-psychological'] }}
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </dd>
                    <dd class="govuk-summary-list__actions">
    <!--                  <a class="govuk-link" href="psychological?backtocheckanswers=true&">-->
    <!--                    Change<span class="govuk-visually-hidden"> psychological injury</span>-->
    <!--                  </a>-->
                    </dd>
                  </div>
                  {% endif %}

                  <!-- Neurological injuries -->
                  {% if item == 'Neurological' %}
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      Neurological injuries
                    </dt>
                    <dd class="govuk-summary-list__value">
                      {% for item in data['neurological'] %}
                      {% if item != 'Other neurological injury' %}
                      {{ item }} <br />
                      {% else %}
                      {{ item }} - {{ data['more-detail-neurological'] }}
                      {% endif %}
                      {% endfor %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
    <!--                  <a class="govuk-link" href="neurological?backtocheckanswers=true&">-->
    <!--                    Change<span class="govuk-visually-hidden"> neurological injury</span>-->
    <!--                  </a>-->
                    </dd>
                  </div>
                  {% endif %}

                {% endfor %}
              {% endif %}
            </dl>
            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                  If you do not provide correct hospital visit details, it could delay the issue of certificates for this claim.
                </strong>
            </div>

            <p class="govuk-body">To enter hospital visit information for the injured person <a class="govuk-link" href=nhs-guard>go back to the injured person details</a>.</p>

            <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>

{% endblock %}
