
{% extends "../../index.html" %}

{% block pageTitle %}
Check if you can use this service
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <main class="govuk-main-wrapper " id="main-content" role="main">
        <form class="form" action="enter-service" method="post">


          <h1 class="govuk-heading-xl">
            We cannot find the person with the details you entered
          </h1>
<p class="govuk-body">Check the details you entered and <a href="/current/registration/about-the-injured-person">try again</a>.</p>
<p class="govuk-body">If the problem continues, it may be that you have the wrong details for this person. </p>
<p class="govuk-body">We have not saved any information for this claim.</p>

<div class="govuk-button-group">

  <a class="govuk-link" href="/current/compensator/compensator-dashboard-empty">Return to home</a>
</div>

    </form>

    </div>
  </div>

    <!-- code for demo only-->
    <style>
      a.timemachine{
        position:absolute;
        top:0px;
        right:0px;
        background:black;
        padding:0.8em;
        color:white;
        }
    </style>



{% endblock %}
