
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa/forward-dsa" method="post">
      <h1 class="govuk-heading-xl">Data sharing agreement</h1>

      <div class="govuk-form-group">
          <p class="govuk-body">
            The Data Sharing Agreement contains:
            <ul class="govuk-list govuk-list--bullet">
                <li>summary of DSA 1</li>
                <li>summary of DSA 2</li>
                <li>summary of DSA 3</li>
            </ul>

            </p>
<br>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
            The Data Sharing Agreement must be acknowledged by a person responsible for personal data processes within your organisation.  
              </strong>
            </div>


        <p class="govuk-body">
          To review the data sharing agreement, please download the
          <a href="" class="govuk-link">Data sharing agreement</a> (PDF)
        </p>
      </div>
<br>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

        <legend class="govuk-fieldset__legend">
          Do you want to:
           </legend>
<div class="govuk-radios__item">
<input class="govuk-radios__input" id="change-person" name="change" type="radio" data-aria-controls="conditional-contact" value="message"  }}>
<label class="govuk-label govuk-radios__label" for="motor-liability">
acknowledge the Data Sharing Agreement
</label>
</div>


        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-update" name="change" type="radio" value="Liability"  }}>
          <label class="govuk-label govuk-radios__label" for="public-liability">
          come back at a later stage
          </label>
        </div>



        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="change-rep" name="change" type="radio" value="Representative"  }}>
          <label class="govuk-label govuk-radios__label" for="motor-liability">
      share a PDF version with a person responsible for data handling processes?
          </label>
        </div>

      </div>
  <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
