
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="data-contact-holding_c" method="post">
      <h1 class="govuk-heading-xl">Tell us who accepted the User Agreement</h1>

      <div class="govuk-form-group">


        <p class="govuk-body">
          Enter the details of the person responsible for accepting the User Agreement:
        </p>
      </div>
      
      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
         Full name
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Job title
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Email address
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="event-name">
          Phone number (you can include the extension)
        </label>
        <input class="govuk-input" id="event-name" name="eventName" type="text">
      </div>
      
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
