
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}
{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
      Task completed
            </h1>

          </div>







<br>
<p class="govuk-body">
 <a href="case-view-history-settled" class="govuk-link">Back to "no National Insurance number" tasks</a>
</p>

        </div>
      </div>


        </div>
      </div>


{% endblock %}
