
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li><a href="compensator-dashboard">Home</a></li>
        <li><a href="../registration/about-the-injured-person">New claim</a></li>
        <li class="active"><a href="my-account">My account</a></li>
        <li><a href="signout">Sign out</a></li>
      </ul>
    </nav> -->

    {% set nav = "My account" %}
    {% include "./_globalnav.html" %}

    
    <div class="govuk-grid-column-full">
      {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "compensator-dashboard"
            },
            {
              text: "My account",
              href: "my-account"
            },
            {
              text: "Add or remove users"
            }
          ]
        }) }}

      </div>




    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">

        Invite new user
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body  govuk-!-font-weight-bold">We will send them an invite to register as a user on this account.</p>
      </div>



      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "username",
        name: "username"
      }) }}

      {{ govukButton({
        text: "Send invite",
        href: "invite-sent"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
