
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    {% set nav = "My account" %}
    {% include "./_globalnav.html" %}

    <div class="govuk-grid-column-full">
      {{ govukBreadcrumbs({
          items: [
            {
              text: "Home",
              href: "compensator-dashboard"
            },
            {
              text: "My account",
              href: "my-account"
            },
            {
              text: "Add or remove contributers"
            }
          ]
        }) }}

      </div>



    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        Invite sent
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">An invite has been sent asking your colleague to register as a contributor.</p>
      </div>

      {{ govukButton({
        text: "Back to my account",
        href: "my-account-used"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
