
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Account created
{% endblock %}

{% block content %}


<main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
  
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      {{ govukPanel({
        titleText: "Registration complete",
        html: "Your company account is set up<br>"
      }) }}

      <div class="govuk-form-group">
        <p class="govuk-body">You have successfully created your Compensation Recovery Unit (CRU) account.</p>
        <p class="govuk-body"><strong>You can use this service to:</strong></p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Set up a new claim</li>
          <li>Invite your colleagues co-workers to submit a CRU1 form</li>
          <li>Administrate your company account and users</li>
        </ul>

      </div>

      {{ govukButton({
        text: "Continue",
        href: "compensator-dashboard-empty"
      }) }}

    </form>

    </div>

  </main>

{% endblock %}
