
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li class="active"><a href="">Home</a></li>
        <li><a href="../registration/about-the-injured-person">New claim</a></li>
        <li><a href="my-account">My account</a></li>
        <li><a href="signout">Sign out</a></li>
      </ul>
    </nav>



    <div class="govuk-grid-column-full">
        <form class="form" action="../compensator/cases-search-results" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
      <span class="govuk-caption-xl">Compensator Ltd</span>
       Sam Smith
      </h1>

      
        <div class="govuk-form-group">
          <label class="govuk-label" for="find-case">
            Find a claim
          </label>
          <div id="find-case-hint" class="govuk-hint">
            Enter the CRU reference or injured person's National Insurance number
          </div>
          <input class="govuk-input govuk-input--width-10" id="find-case" name="find-case" type="text" spellcheck="false" aria-describedby="find-case-hint" value="{{data['find-case']}}">
          <button class="govuk-button govuk-!-margin-bottom-0">Find claim</button>
        </div>
        <div class="govuk-radios__item govuk-visually-hidden">
          <input class="govuk-radios__input" id="findcase" name="findcase" type="radio" value="yes" checked>
          <label class="govuk-label govuk-radios__label" for="findcase">
           Visually hidded for logic
          </label>
        </div>

      <div class="govuk-form-group">
          <table class="govuk-table" id="submitted-opportunities">
          <caption class="govuk-table__caption govuk-heading-m">Claims you’ve registered</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">CRU reference</th>
              <th scope="col" class="govuk-table__header">Injured person</th>
              <th scope="col" class="govuk-table__header">Date submitted</th>
              <th scope="col" class="govuk-table__header">Status</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell"><a href="../registration/case-view">CRU12345</a></td>
                  <td class="govuk-table__cell">Bojen Westoros</td>
                  <td class="govuk-table__cell">1 December 2021</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">New</strong></td>
                </tr>

                <!-- <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Adil Mussa</td>
                  <td class="govuk-table__cell">5 September 2021</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow">Waiting on</strong></td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Michelle Gillian</td>
                  <td class="govuk-table__cell">5 July 2021</td>
                  <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Finished</strong></td>
                </tr> -->
          </tbody>
        </table>
      </div>


    </form>

    </div>
  </div>

{% endblock %}
