{% extends "../../../index.html" %}

{% block pageTitle %}
Claim view
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-full-from-desktop">
    <a href="user-all-claims" class="govuk-back-link govuk-!-margin-bottom-5">Back to All claims</a>

    <!-- If case settled -->
    {% if data['case-settled'] == 'true' %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
        <span class="govuk-caption-xl"> Claim reference</span>
        {{ data['da-crs-ref'] | default('PAB102') }}
      </h1>
      <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-7">
        Case settled
      </strong>
    {% else %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      <span class="govuk-caption-xl"> Claim reference</span>
      {{ data['da-crs-ref'] | default('PAB102') }}
    </h1>
    {% endif %}

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          Your certificates are due to expire in 7 days: <a class="govuk-notification-banner__link" href="#">Request updated certificates</a>.
        </p>
      </div>
    </div>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of injured person
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['da-ip-first-name'] | default('Lawrence') }} {{ data['da-ip-last-name'] | default('Westeros') }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['da-ip-date-of-birth-day'] | default("28") }} {{ data['da-ip-date-of-birth-month'] | default("02") | toMonth }} {{ data['da-ip-date-of-birth-year'] | default("1978") }}
        </dd>
      </div>
      {% if data['case-settled'] == 'true' %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date claim settled
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['settlement-date-day']}} {{ data['settlement-date-month']}} {{ data['settlement-date-year']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of settlement
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['type-of-settlement']}}
        </dd>
      </div>
      {% endif %}
    </dl>

    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set caseActionHtml %}
    <h2 class="govuk-heading-l">Claim actions</h2>

    <div class="govuk-inset-text">
      <h2 class="govuk-heading-s">Amount to pay</h2>

      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-display-block">NIL</span>
      </p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width: 45%;">
            Compensation Recovery (CRU) Certificate
          </dt>
          <dd class="govuk-summary-list__value">
            <strong class="govuk-tag govuk-tag--orange">
              Expires 28 December 2022
            </strong>

          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/public/downloads/CRU-nil-cert-generic-24-feb.pdf">
              Download
            </a> |
            <a class="govuk-link" href="/public/downloads/CRU-nil-cert-generic-24-feb.pdf">
              Request update
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            NHS Charges Certificate
          </dt>
          <dd class="govuk-summary-list__value">
            No expiry
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/public/downloads/NHS-nil-cert-generic-24feb.pdf">
              Download<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
      </dl>
    </div>

    <!-- Only show settle CTA if the case hasn't been settled -->
    {% if data['case-settled'] != 'true' %}
    <a href="settlement-type" class="govuk-button govuk-!-margin-right-3 govuk-!-margin-bottom-0">
      Settle claim
    </a>
    {% endif %}

    {% endset %}

    {% set caseDetailsHtml %}

    <!-- Details from taken over claim -->

    <h2 class="govuk-heading-l">Claim details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of liability
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['liability'] | default('Motor') }}
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">The injured person</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name of injured person
        </dt>
        <dd class="govuk-summary-list__value">
          James Stephen
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          9 April 1966
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date claim registered
        </dt>
        <dd class="govuk-summary-list__value">
          24 February 2022
        </dd>
      </div>
      {% if checked('case-settled','yes') %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date claim settled
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['settlement-date-day']}} {{ data['settlement-date-month']}} {{ data['settlement-date-year']}}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type of settlement
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['type-of-settlement']}}
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          National Insurance number
        </dt>
        <dd class="govuk-summary-list__value">
          <p class="govuk-body"> NY 57 63 36 A</p>
        </dd>
        <dd class="govuk-summary-list__actions"></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['choose-ip-address'] | default('4 High Street') }}<br>Thrupp<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> address</span>
          </a> -->
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">Injury details</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of injury
        </dt>
        <dd class="govuk-summary-list__value">
          17 July 2021
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> date</span>
          </a> -->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Whiplash
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                <a class="govuk-link" href="whiplash-guard?backtocheckanswers=true&">-->
          <!--                  Change<span class="govuk-visually-hidden"> whiplash</span>-->
          <!--                </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Other injuries
        </dt>
        <dd class="govuk-summary-list__value">
          Yes
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                      <a class="govuk-link" href="injury-guard?backtocheckanswers=true&">-->
          <!--                          Change<span class="govuk-visually-hidden"> other injuries</span>-->
          <!--                      </a>-->
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Types of injury
        </dt>
        <dd class="govuk-summary-list__value">
          Physical injury other than whiplash<br />
          Psychological injuries<br />
          Neurological injuries
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                      <a class="govuk-link" href="other-injuries?backtocheckanswers=true&">-->
          <!--                          Change<span class="govuk-visually-hidden"> types of injury</span>-->
          <!--                      </a>-->
        </dd>
      </div>

      <!-- Physical injuries -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Physical injury other than whiplash
        </dt>
        <dd class="govuk-summary-list__value">

          <!-- start Ribs, chest or torso injuries -->
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ribs, chest or torso injuries</h3><br />
          <p>Details</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Pain or discomfort
            </li>
          </ul>
          <p>Injury location</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Left side</li>
          </ul>
          <!-- end Ribs, chest or torso injuries -->

          <!-- start Leg, knee or ankle injuries -->
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Leg, knee or ankle injuries</h3><br />
          <p>Details</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              Pain or discomfort
            </li>
            <li>
              Fracture
            </li>
          </ul>
          <p>Injury location</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Left leg</li>
          </ul>
          <!-- end Leg, knee, ankle or foot -->
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                <a class="govuk-link" href="where-is-the-injury?backtocheckanswers=true&">-->
          <!--                  Change<span class="govuk-visually-hidden"> physical injuries</span>-->
          <!--                </a>-->
        </dd>
      </div>

      <!-- Psychological injuries -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Psychological injuries
        </dt>
        <dd class="govuk-summary-list__value">
          Travel anxiety
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                <a class="govuk-link" href="psychological?backtocheckanswers=true&">-->
          <!--                  Change<span class="govuk-visually-hidden"> psychological injury</span>-->
          <!--                </a>-->
        </dd>
      </div>

      <!-- Neurological injuries -->
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Neurological injuries
        </dt>
        <dd class="govuk-summary-list__value">
          Change to senses
        </dd>
        <dd class="govuk-summary-list__actions">
          <!--                <a class="govuk-link" href="neurological?backtocheckanswers=true&">-->
          <!--                  Change<span class="govuk-visually-hidden"> neurological injury</span>-->
          <!--                </a>-->
        </dd>
      </div>

    </dl>

    <h2 class="govuk-heading-m">Injured person's solicitor</h2>


    <dl class="govuk-summary-list govuk-!-margin-bottom-0">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Company name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['represesntative-name'] | default('McAdar Solicitors') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">Solictor name</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['email-solicitor'] | default('claims@mcadarx.co.uk') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">email address</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reference number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['represesntative-reference'] | default('Cr1234567') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> About the accident or incident</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['represesntative-phone-number'] | default('07880109642') }}

        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden">telephone</span>
          </a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['solicitor-address'] | default('Ivy House, Ivy Lane') }}<br>Warehorne<br>{{ data['representativepostcode'] | default('TN26 9XE') }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link" href="#">
            Change<span class="govuk-visually-hidden"> address</span>
          </a> -->
        </dd>
      </div>
    </dl>

    {% endset -%}

    {% set caseTimelineHtml %}

    <h2 class="govuk-heading-l">Timeline</h2>
    <div class="timeline">

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading govuk-heading-s">Certificate issued</h3>
        <p class="govuk-body">Amount: Nil</p>
        <p class="timeline_datetime">10.31 AM, {{ 'Do MMMM YYYY' | baseDate(0) }}</p>
      </div>

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading govuk-heading-s">Certificate requested</h3>
        <p class="govuk-body">{{ data['new-user-full-name'] | default('Sam Smith') }}, {{ data['company-name'] | default('Compensator Ltd') }}</p>
        <p class="timeline_datetime">10.30 AM, {{ 'Do MMMM YYYY' | baseDate(0) }}</p>
      </div>

      <span class="line"></span>
      <div class="timeline__event">
        <h3 class="timeline__heading govuk-heading-s">Claim registered</h3>
        <p class="govuk-body">{{ data['new-user-full-name'] | default('Sam Smith') }}, {{ data['company-name'] | default('Compensator Ltd') }}</p>
        <p class="timeline_datetime">10.30 AM, {{ 'Do MMMM YYYY' | baseDate(0) }}</p>
      </div>

      <div style="clear:both"></div>

    </div><!-- timeline -->
    {% endset -%}


    {{ govukTabs({
    items: [
    {
    label: "Claim actions",
    id: "claim-actions",
    panel: {
    html: caseActionHtml
    }
    },
    {
    label: "Claim details",
    id: "case-details",
    panel: {
    html: caseDetailsHtml
    }
    },
    {
    label: "Timeline",
    id: "claim-timeline",
    panel: {
    html: caseTimelineHtml
    }
    }
    ]
    }) }}


    <div>
      <h2 class="govuk-heading-m">Get help with this claim</h2>

      <ul class="govuk-list">
        <li>Telephone: 0800 15 13197</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
        <li>Email: <a href="mailto:cru.ebt@dwp.gov.uk" class="govuk-link">cru.ebt@dwp.gov.uk</a>
        </li></ul>

    </div>
    <br>


    <a href="../standard-user/user-dashboard" class="govuk-button govuk-button--secondary">Return to home</a></div>
</div>


</div>
</div>


{% endblock %}
