
{% extends "../../../index.html" %}

{% block pageTitle %}
Task cannot be completed
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">

<!--    <nav class="navigation-secondary govuk-!-margin-bottom-6">-->
<!--      <ul>-->
<!--        <li><a href="./">Home</a></li>-->
<!--        <li class="active"><a href="current-tasks">Current tasks</a></li>-->
<!--        <li><a href="completed-tasks">Completed tasks</a></li>-->
<!--        <li><a href="">Find a claim</a></li>-->
<!--        <li><a href="">Download reports</a></li>-->
<!--      </ul>-->
<!--    </nav>-->

    <div class="govuk-grid-column-two-thirds">
      <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

      <form class="form" action="current-tasks" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-7">
<!--          <span class="govuk-caption-l">CRS39488</span>-->
            Task cannot be completed
        </h1>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend">
                      This task cannot be completed here because:
                  </legend>
                  <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="incomplete-reason-1" name="incomplete-reason" type="radio" value="the National Insurance number cannot be found">
                          <label class="govuk-label govuk-radios__label" for="incomplete-reason-1">
                              the National Insurance number cannot be found
                          </label>
                      </div>
                      <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="incomplete-reason-2" name="incomplete-reason" type="radio" value="Benefits have been returned on the claim">
                          <label class="govuk-label govuk-radios__label" for="incomplete-reason-2">
                              benefits have been returned on the claim
                          </label>
                      </div>
                  </div>
              </fieldset>
          </div>

<!--        <div class="govuk-form-group">-->
<!--          <label class="govuk-label" for="more-detail">-->
<!--            Why weren't you able to complete the task?-->
<!--          </label>-->
<!--          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5"></textarea>-->
<!--        </div>-->

        <div class="govuk-inset-text">
            It will be closed and added to 'Legacy tasks' for completion in the old CRU system.</div>

        <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
                Confirm
            </button>
<!--            <a href="action-task" class="govuk-link">Cancel</a>-->
        </div>

      </form>

    </div>
  </div>

{% endblock %}
