
{% extends "../../index.html" %}

{% block pageTitle %}
Dashboard
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul><li class="active"><a href="">Home</a></li>
        <li><a href="admin-all-claims">All claims</a></li>
        <li><a href="../../nhs-claim/admin-register-new-claim">Register a new claim</a></li>
        <li><a href="admin-take-over-claim">Take over a claim from another organisation</a></li>
        <li><a href="admin-manage-org">Manage organisation</a></li>
        <li><a href="admin-profile">My profile</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-full">
      <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p class="govuk-notification-banner__heading">
          Accept the updated   <a class="govuk-notification-banner__link" href="dsa2">User Agreement</a> by 15 October 2024. After this date, you will not be able to register new claims or manage existing ones until you have accepted it.
          </p>
        </div>
      </div>
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
      <span class="govuk-caption-xl">{{ data['company-name'] | default('Compensator Ltd') }}</span>
        {{ data['user-full-name'] | default('Sam Smith') }}
      </h1>

    </div>
  </div>

<!--   onboarding? -->
<!--<div class="govuk-grid-row">-->
<!--  <div class="govuk-grid-column-two-thirds">-->

<!--    <h2 class="govuk-heading-l">-->
<!--      Welcome-->
<!--    </h2>-->

<!--    <p class="govuk-body">-->
<!--      Register new claims, download certificates, manage and settle claims and take over previously registered claims.-->
<!--    </p>-->

<!--  </div>-->
<!--</div>-->

    <!-- Dashboard elements -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      Register new claims
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register claims</li>
      <li>download CRU and NHS charges certificates</li>
    </ul>
    <p class="govuk-body">
      <a href="../../nhs-claim/admin-register-new-claim" class="govuk-link">Register a new claim</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half">
    <h2 class="govuk-heading-m">
      Take over claims registered by another organisation
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>tell us that you are taking over a claim registered by another organisation</li>
      <li>get notified when updated certificates are issued</li>
    </ul>
    <p class="govuk-body">
      <a href="admin-take-over-claim" class="govuk-link">Take over a claim from another organisation</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-top-7">
    <h2 class="govuk-heading-m">
      Manage and settle claims
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>search all claims registered by your organisation</li>
      <li>view and settle individual claims</li>
    </ul>
    <p class="govuk-body">
      <a href="admin-all-claims" class="govuk-link">View all current claims for your organisation</a>
    </p>
  </div>

  <div class="govuk-grid-column-one-half govuk-!-margin-top-7">
    <h2 class="govuk-heading-m">
      Manage your organisation account
    </h2>
    <p class="govuk-body">
      Use this to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>invite people from your organisation to create user accounts to register and settle claims</li>
      <li>review user access to the service</li>
    </ul>
    <p class="govuk-body">
      <a href="admin-manage-org" class="govuk-link">View and change your organisation’s user details</a>
    </p>
  </div>

</div>


{% endblock %}
