
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="opt_in" method="post">
<!--      <span class="govuk-caption-xl">{{ data['company-name'] }}</span>-->
      <h1 class="govuk-heading-xl">Check your answers</h1>

      <!-- your details -->
      <h2 class="govuk-heading-m">Your details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your email
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-address'] | default('john.smith@avivainsurance.com') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <strong class="govuk-tag govuk-tag--blue">VERIFIED</strong>
          </dd>
        </div>
<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Administrator-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            {{ data['yes-admin'] | default('Yes') }}-->
<!--          </dd>-->
<!--          <dd class="govuk-summary-list__actions">-->
<!--            <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Administrator</span></a>-->
<!--          </dd>-->
<!--        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your password
          </dt>
          <dd class="govuk-summary-list__value">
            *********
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-create-password">Change<span class="govuk-visually-hidden"> password</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['user-full-name'] | default('Sam Smith') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-user-name">Change<span class="govuk-visually-hidden"> full name</span></a>
          </dd>
        </div>

<!--        <div class="govuk-summary-list__row">-->
<!--          <dt class="govuk-summary-list__key">-->
<!--            Last name-->
<!--          </dt>-->
<!--          <dd class="govuk-summary-list__value">-->
<!--            {{ data['user-last-name'] | default('Smith') }}-->
<!--          </dd>-->
<!--          <dd class="govuk-summary-list__actions">-->
<!--            <a class="govuk-link" href="org-user-name">Change<span class="govuk-visually-hidden"> Last name</span></a>-->
<!--          </dd>-->
<!--        </div>-->
      </dl>
      <!-- end -->

      <!-- Company details -->
      <h2 class="govuk-heading-m">Organisation details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['company-name'] | default('Aviva Insurance') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-company-name">Change<span class="govuk-visually-hidden"> company name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['type-of-org'] | default('Compensator') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-details">Change<span class="govuk-visually-hidden"> organisation type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Primary telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tel-primary'] | default('+44 117 9321 123') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-details">Change<span class="govuk-visually-hidden"> primary telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Secondary telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['tel-secondary'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-details">Change<span class="govuk-visually-hidden"> secondary telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            General enquiries email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email-enquiries'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-details">Change<span class="govuk-visually-hidden"> secondary telephone number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['choose-admin-address'] | default('4 High Street') }}<br>Thrupp<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        {% if data['on-behalf-of'] == 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisations you manage claims for
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['on-behalf-of-org1'] | default('Aviva') }}<br />
            {{ data['on-behalf-of-org2'] | default('Direct Line') }}<br />
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="org-working-on-behalf-check">Change<span class="govuk-visually-hidden"> organisations working on behalf of</span>
            </a>
          </dd>
        </div>
        {% endif %}
      </dl>



      <h2 class="govuk-heading-m">Create your account</h2>

      <p class="govuk-body">By creating an account with the Compensation Recovery Service, you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>






      {{ govukButton({
      text: "Accept and create account"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
