
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="user-request-access-passcode" method="post">
      <h1 class="govuk-heading-xl">Request access to create an individual account for your organisation</h1>
        <p class="govuk-body govuk-!-margin-bottom-7">
            <strong>Request access to: </strong>
            {% if data['org-req-access'] == '1' %}
            Smith & {{ data['company-name'] | default('Geneva') }} Insurers Limited
            {% elseif data['org-req-access'] == '2' %}
            Berkshire {{ data['company-name'] | default('Geneva') }} & Partners
            {% endif %}
        </p>

<!--      <div class="govuk-form-group">-->
<!--        <p class="govuk-body">You will only need to go through this process one time.</p>-->
<!--        <p class="govuk-body">After we verify your account, you will be able to register and manage claims for your organisation.</p>-->
<!--        <p class="govuk-body">You'll need:</p>-->
<!--        <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--          <li>access to your email address to activate your account</li>-->
<!--          <li>to create a memorable password</li>-->
<!--        </ul>-->
<!--      </div>-->

<!--      <div class="govuk-warning-text">-->
<!--        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>-->
<!--        <strong class="govuk-warning-text__text">-->
<!--          <span class="govuk-warning-text__assistive">Warning</span>-->
<!--          You must use the email address where you received the email to create an account with the Compensation Recovery Service.-->
<!--        </strong>-->
<!--      </div>-->

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="ind-email-address">
          Email address
        </label>
        <input class="govuk-input govuk-input--width-20" id="ind-email-address" name="requested-email-address" type="email" value="{{ data['requested-user-email'] }}" />
      </div>

      <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="requested-user-full-name">
              Full name
          </label>
          <input class="govuk-input govuk-input--width-20" id="requested-user-full-name" name="requested-user-full-name" type="text" value="{{ data['requested-user-full-name'] }}">
      </div>

      <!-- hidden field to set account type -->
      <input style="display: none;" id="account-type-org" name="account-type" type="text" value="requested-user" />

      {{ govukButton({
      text: "Submit"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
