
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="dsa/dsa_options" method="post">
      <h1 class="govuk-heading-xl">There are benefits on this claim</h1>

      <div class="govuk-form-group">

          <p class="govuk-body">We have identified the following benefits received by the injured person on this claim: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>Universal Credit</li>

</ul>
<div class="govuk-inset-text">
Check CIS and decide if the benefits received were attributable to the incident.
</div>
<!-- <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
Check CIS and decide if the benefits received were attributable to the incident.
  </strong>
</div> -->
<br>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h3 class="govuk-fieldset__heading">
Were the benefits received attributable to the incident?
      </h3>
    </legend>
    <!-- <div id="changed-name-hint" class="govuk-hint">
      Either changed or no change needed
    </div> -->
    <div class="govuk-radios govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="info-4" name="info" type="radio" value="Submitted information to calculate NHS charges" {{ checked("info", "Data ready") }}>
        <label class="govuk-label govuk-radios__label" for="info-4">

Yes
        </label>
      </div>

      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="info" name="info" type="radio" data-aria-controls="conditional-contact" value="Task completed but informaton not submitted" {{ checked("info", "Reply with further info to the NHS") }}>
        <label class="govuk-label govuk-radios__label" for="info">
No
        </label>
      </div>




  </fieldset>
</div>


      </div>

  <br><br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>



    </div>
  </div>

{% endblock %}
