
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
            Legacy task created
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>




          <h2 class="govuk-heading-m">What happens next</h2>
                  <p class="govuk-body">
                This claim must be processed on the legacy CRU system. Benefits received by the injured person have been attributed to the incident on the claim. An agent task has been created to transfer claim details.
                  </p>
            



<br>
<p class="govuk-body">
<a href="" class="govuk-link">Add a note</a>
</p>
<p class="govuk-body">
 <a href="case-view-reviewed" class="govuk-link">Back to claim details</a>
</p>

        </div>
      </div>


        </div>
      </div>


{% endblock %}
