
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Compensation Recovery Service
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Task completed
            </h1>
          </div>

<br>


  <p class="govuk-body">
    <a href="tasks-nino" class="govuk-link">Back to 'no National Insurance number' tasks</a>
  </p>


        </div>
      </div>



{% endblock %}
