
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Request updated certificate
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
      <form class="form" action="request-cert-confirmation" method="post">

        <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
          Request updated certificate
        </h1>

        <p class="govuk-body govuk-!-margin-bottom-7">
          TBC (do we need any info here?)
        </p>

      <button class="govuk-button" data-module="govuk-button">
        Request certificate
      </button>

    </form>

    </div>
  </div>

{% endblock %}
