
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Claim view
{% endblock %}

{% block content %}

      <div class="govuk-grid-row">

        <div class="govuk-grid-column-full-from-desktop">
          <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

          <h1 class="govuk-heading-xl">
            <span class="govuk-caption-xl"> Claim reference</span>
            CRU12345
          </h1>

            {% from "govuk/components/tabs/macro.njk" import govukTabs %}
            {% from "govuk/components/table/macro.njk" import govukTable %}

          {% set caseDetailsHtml %}
          <h2 class="govuk-heading-l">Claim details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of liability
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['liability'] | default('Motor') }}
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">The injured person</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Name of injured person
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['first-name'] | default('James') }}  {{ data['last-name'] | default('Stephen') }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of birth
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['date-of-birth-day'] | default("28") }} {{ data['date-of-birth-month'] | default("02") | toMonth }} {{ data['date-of-birth-year'] | default("1978") }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date claim registered
              </dt>
              <dd class="govuk-summary-list__value">
                1 December 2022
              </dd>
            </div>
            {% if checked('case-settled','yes') %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date claim settled
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['settlement-date-day']}} {{ data['settlement-date-month']}} {{ data['settlement-date-year']}}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Type of settlement
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['type-of-settlement']}}
              </dd>
            </div>
            {% endif %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                National Insurance number
              </dt>
              <dd class="govuk-summary-list__value">
                {% if data['ni-number'] != '' %}
                <p class="govuk-body"> {{ data['ni-number'] | default('AA 11 22 33 B ') }}</p>
                {% else %}
                <strong class="govuk-tag govuk-tag--red">Not provided</strong>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions"></dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                <!-- Check lookup or manual address -->
                {% if data['manualAddress'] == 'false' %}
                {{ data['choose-ip-address'] | default('4 High Street') }}<br>Thrupp<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
                {% else %}
                {{ data['address-line-1'] }}<br />
                {{ data['address-line-2'] }}<br />
                {{ data['address-town'] }}<br />
                {{ data['address-county'] }}<br />
                {{ data['address-postcode'] }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a> -->
              </dd>
            </div>
          </dl>

          <h2 class="govuk-heading-m">Injury details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of injury
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['claim-date-day'] | default("3") }} {{ data['claim-date-month'] | default("03") | toMonth }} {{ data['claim-date-year'] | default("2020") }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date</span>
                </a> -->
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Whiplash
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked('whiplash','No') %}
                No
                {% else %}
                Yes
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                <a class="govuk-link" href="whiplash-guard?backtocheckanswers=true&">-->
                <!--                  Change<span class="govuk-visually-hidden"> whiplash</span>-->
                <!--                </a>-->
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other injuries
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked('other-injuries','No')%}
                No
                {% else %}
                Yes
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                      <a class="govuk-link" href="injury-guard?backtocheckanswers=true&">-->
                <!--                          Change<span class="govuk-visually-hidden"> other injuries</span>-->
                <!--                      </a>-->
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Types of injury
              </dt>
              <dd class="govuk-summary-list__value">
                {% for item in data['injury'] %}
                {{ item }} <br />
                {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                      <a class="govuk-link" href="other-injuries?backtocheckanswers=true&">-->
                <!--                          Change<span class="govuk-visually-hidden"> types of injury</span>-->
                <!--                      </a>-->
              </dd>
            </div>

            {% if checked('other-injuries','Yes')%}
            {% for item in data['injury'] %}

            <!-- Physical injuries -->
            {% if item == 'Physical injury other than whiplash' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Physical injury other than whiplash
              </dt>
              <dd class="govuk-summary-list__value">

                <!-- Start Head injuries  -->
                {% if checked('where-is-the-injury','Head') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Head injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['head'] %}
                  <li>
                    {% if item != 'Other head injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-head'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['head-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['head-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- End Head -->

                <!-- start Face -->
                {% if checked('where-is-the-injury','Face, cheekbones or jaw') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Face, cheekbones or jaw injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['face'] %}
                  <li>
                    {% if item != 'Other face injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-face'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- End face-->

                <!-- start ear -->
                {% if checked('where-is-the-injury','Ear') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ear injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['ears'] %}
                  <li>
                    {% if item != 'Other ear injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-ear'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['ear-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['ear-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- End ear-->

                <!-- start Jaw or teeth -->
                {% if checked('where-is-the-injury','Teeth') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Teeth injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['jaw-teeth'] %}
                  <li>
                    {% if item != 'Other teeth injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-teeth'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- End or teeth -->

                <!-- Start Neck or throat -->
                {% if checked('where-is-the-injury','Neck or throat')%}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Neck or throat injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['neck'] %}
                  <li>
                    {% if item != 'Other neck injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-neck'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- End Neck-->

                <!-- start Shoulder or collarbone-->
                {% if checked('where-is-the-injury','Shoulder or collarbone') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Shoulder or collarbone injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['shoulder-collarbone'] %}
                  <li>
                    {% if item != 'Other shoulder or collarbone injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-shoulder-collarbone'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['shoulder-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['shoulder-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- end Shoulder or collarbone-->

                <!-- start Back-->
                {% if checked('where-is-the-injury','Back or spine') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Back or spine injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['back'] %}
                  <li>
                    {% if item != 'Other back or spine injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-back'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['back-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['back-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- End Back-->

                <!-- start Ribs, chest or torso injuries -->
                {% if checked('where-is-the-injury','Ribs, chest or torso') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Ribs, chest or torso injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['chest-torso'] %}
                  <li>
                    {% if item != 'Other chest injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-chest-torso'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['chest-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['chest-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- end Ribs, chest or torso injuries -->

                <!-- start Arm or wrist injuries -->
                {% if checked('where-is-the-injury','Arm or wrist') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Arm or wrist injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['arm'] %}
                  <li>
                    {% if item != 'Other arm or wrist injuries' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-arm'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['arm-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['arm-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- End Arm or wrist injuries -->

                <!-- start Hand or finger injuries -->
                {% if checked('where-is-the-injury','Hand or finger') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Hand or finger injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['hand'] %}
                  <li>
                    {% if item != 'Other hand or finger injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-hand'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['hand-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['hand-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- End Hand or finger injuries -->

                <!-- start Hip, pelvis or genitals injuries -->
                {% if checked('where-is-the-injury','Hip, pelvis or genitals') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Hip, pelvis or genitals injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['hip-pelvis'] %}
                  <li>
                    {% if item != 'Other hip or pelvis injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-hip-pelvis'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
                <!-- end of pelvis -->

                <!-- start Leg, knee or ankle injuries -->
                {% if checked('where-is-the-injury','Leg, knee or ankle') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Leg, knee or ankle injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['leg'] %}
                  <li>
                    {% if item != 'Other leg, knee or ankle injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-leg'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['leg-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['leg-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- end Leg, knee, ankle or foot -->

                <!-- start Foot or toe -->
                {% if checked('where-is-the-injury','Foot or toe') %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Foot or toe injuries</h3><br />
                <p>Details</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['foot'] %}
                  <li>
                    {% if item != 'Other foot or toe injury' %}
                    {{ item }}
                    {% else %}
                    {{ item }} - {{ data['more-detail-foot'] }}
                    {% endif %}
                  </li>
                  {% endfor %}
                </ul>
                {% if data['foot-injury-location'] | length %}
                <p>Injury location</p>
                <ul class="govuk-list govuk-list--bullet">
                  {% for item in data['foot-injury-location'] %}
                  <li>{{ item }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endif %}
                <!-- end Foot or toe-->

              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                  <a class="govuk-link" href="where-is-the-injury?backtocheckanswers=true&">-->
                <!--                    Change<span class="govuk-visually-hidden"> physical injuries</span>-->
                <!--                  </a>-->
              </dd>
            </div>
            {% endif %}

            <!-- Psychological injuries -->
            {% if item == 'Psychological' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Psychological injuries
              </dt>
              <dd class="govuk-summary-list__value">
                {% for item in data['psychological'] %}
                {% if item != 'Other psychological injury' %}
                {{ item }} <br />
                {% else %}
                {{ item }} - {{ data['more-detail-psychological'] }}
                {% endif %}
                {% endfor %}
                </ul>
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                  <a class="govuk-link" href="psychological?backtocheckanswers=true&">-->
                <!--                    Change<span class="govuk-visually-hidden"> psychological injury</span>-->
                <!--                  </a>-->
              </dd>
            </div>
            {% endif %}

            <!-- Neurological injuries -->
            {% if item == 'Neurological' %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Neurological injuries
              </dt>
              <dd class="govuk-summary-list__value">
                {% for item in data['neurological'] %}
                {% if item != 'Other neurological injury' %}
                {{ item }} <br />
                {% else %}
                {{ item }} - {{ data['more-detail-neurological'] }}
                {% endif %}
                {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!--                  <a class="govuk-link" href="neurological?backtocheckanswers=true&">-->
                <!--                    Change<span class="govuk-visually-hidden"> neurological injury</span>-->
                <!--                  </a>-->
              </dd>
            </div>
            {% endif %}

            {% endfor %}
            {% endif %}


          </dl>

          <h2 class="govuk-heading-m">Injured person's solicitor</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisation name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['represesntative-name'] | default('McAdar Solicitors') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">Solictor name</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Email address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['email-solicitor'] | default('claims@mcadarx.co.uk') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">email address</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['represesntative-reference'] | default('Cr1234567') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> About the accident or incident</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Telephone number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['represesntative-phone-number'] | default('07880109642') }}

              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">telephone</span>
                </a> -->
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['solicitor-address'] | default('Ivy House, Ivy Lane') }}<br>Warehorne<br>{{ data['representativepostcode'] | default('TN26 9XE') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a> -->
              </dd>
            </div>
          </dl>

          <!-- Compensator details -->
          <h2 class="govuk-heading-m">Compensator details</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['compensator-reference'] | default('DI345567Y') }}
              </dd>
              <dd class="govuk-summary-list__actions">
<!--                <a class="govuk-link" href="compensator-reference?backtocheckanswers=true&">-->
<!--                  Change<span class="govuk-visually-hidden"> reference</span>-->
<!--                </a>-->
              </dd>
            </div>
          </dl>
          {% endset -%}

<!--          {% set settlementHtml %}-->
<!--          <h2 class="govuk-heading-l">Settlement</h2>-->

<!--          <dl class="govuk-summary-list govuk-!-margin-bottom-0">-->
<!--            <div class="govuk-summary-list__row">-->
<!--              <dt class="govuk-summary-list__key">-->
<!--                Date claim settled-->
<!--              </dt>-->
<!--              <dd class="govuk-summary-list__value">-->
<!--                15 November 2022-->
<!--              </dd>-->
<!--            </div>-->
<!--            <div class="govuk-summary-list__row">-->
<!--              <dt class="govuk-summary-list__key">-->
<!--                Type of settlement-->
<!--              </dt>-->
<!--              <dd class="govuk-summary-list__value">-->
<!--                Final-->
<!--              </dd>-->
<!--            </div>-->
<!--          </dl>-->
<!--          {% endset -%}-->

          {% set chargesHtml %}
          <h2 class="govuk-heading-l">Summary of charges</h2>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-s">Amount to pay</h2>

            <p class="govuk-body">
              <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-display-block">NIL</span>
            </p>

          </div>
          {% endset -%}

          {% set caseDocumentsHtml %}
            <h2 class="govuk-heading-l">Certificates</h2>

            <table class="govuk-table">
<!--              <caption class="govuk-table__caption govuk-table__caption&#45;&#45;m">Dates and amounts</caption>-->
              <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Type of certificate</th>
                <th scope="col" class="govuk-table__header">Expiry date</th>
                <th scope="col" class="govuk-table__header"></th>
              </tr>
              </thead>
              <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Compensation Recovery (CRU) Certificate</th>
                <td class="govuk-table__cell">Expires 24 November 2022</td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/public/downloads/CRU-nil-cert-generic-24-feb.pdf">
                    Download<span class="govuk-visually-hidden"> certificate</span>
                  </a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">NHS Charges Certificate</th>
                <td class="govuk-table__cell">No expiry</td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="/public/downloads/NHS-nil-cert-generic-24feb.pdf">
                    Download<span class="govuk-visually-hidden"> certificate</span>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
{% endset -%}

          {% set actionsHtml %}
          <h2 class="govuk-heading-l">Actions</h2>

          <div class="govuk-form-group govuk-!-margin-bottom-7">
            <h2 class="govuk-heading-s">Settle claim</h2>
            <p class="govuk-body">
              Notify the Compensation Recovery Service that the claim has been settled with payment or withdrawn.
            </p>
            <button class="govuk-button govuk-!-margin-right-3 govuk-!-margin-bottom-0">Settle the claim</button>
          </div>

          <div class="govuk-form-group">
            <form class="form" action="../handover-claim/da-handover-compensator" method="post">
              <h2 class="govuk-heading-s">Handover claim</h2>
              <p class="govuk-body">
                Notify the Compensation Recovery Service that the claim is being handed over to the original compensator or another party.
              </p>
              <button class="govuk-button govuk-button--secondary govuk-!-margin-right-3 govuk-!-margin-bottom-0">Handover the claim</button>
            </form>
          </div>
          {% endset -%}



{{ govukTabs({
  items: [
    {
      label: "Claim details",
      id: "claim-details",
      panel: {
      html: caseDetailsHtml
      }
    },

    {
      label: "Summary of charges",
      id: "case-charges",
      panel: {
      html: chargesHtml
      }
    },
    {
      label: "Certificates",
      id: "case-documents",
      panel: {
        html: caseDocumentsHtml
        }
    },
    {
      label: "Actions",
      id: "case-actions",
      panel: {
      html: actionsHtml
      }
    }
  ]
}) }}


<div>
  <h2 class="govuk-heading-m">Get help with this claim</h2>

<ul class="govuk-list">
  <li>Telephone: 0800 15 13197</li>
  <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
  <li>Email: <a href="mailto:cru.ebt@dwp.gov.uk" class="govuk-link">cru.ebt@dwp.gov.uk</a>
</li></ul>

  </div>
<br>


        <a href="../compensator/compensator-dashboard" class="govuk-button govuk-button--secondary">Return to home</a></div>
      </div>


        </div>
      </div>


{% endblock %}
