
{% extends "../../../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

<span class="govuk-caption-xl">NHS treatment details</span>
      <h1 class="govuk-heading-xl">Hospitals where the injured person received treatment</h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hospital 1
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['hospitalOne'] | default('North East General') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="hospital">Remove<span class="govuk-visually-hidden"> organisation working on behalf of</span></a>
<!--            | <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> this organisation working on behalf of</span></a>-->
          </dd>
        </div>

        {% if data['addHos2'] == 'false' %}
        {% if data['manualHospital2'] == 'false' %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hospital 2
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['hospitalTwo'] | default('South West General') }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="hospital-list2?org-name={{ data['hospitalTwo'] }}">Remove<span class="govuk-visually-hidden"> organisation working on behalf of</span></a>
            <!--            | <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> this organisation working on behalf of</span></a>-->
          </dd>
        </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Hospital 2
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['m-hospital-2'] | default('South West General') }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="hospital-remove?org-name={{ data['m-hospital-2'] }}">Remove<span class="govuk-visually-hidden"> organisation working on behalf of</span></a>
              <!--            | <a class="govuk-link" href="">Remove<span class="govuk-visually-hidden"> this organisation working on behalf of</span></a>-->
            </dd>
          </div>
        {% endif %}
          {% endif %}
      </dl>


        <div class="govuk-button-group">
          <form class="form" action="nhs-number" method="post">
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
          </form>
          <form class="form" action="hospital-2?addHos2=false&" method="post">
          <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Add a hospital
          </button>
          </form>
        </div>



    </div>
  </div>

{% endblock %}
