
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person -  Does the injured person have a national insurance number
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <form class="form" action="bulk" method="post">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="date-hint">

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="cost">
              <span class="govuk-caption-xl">Tariff updates
              </span>
                Claim details
              </label>
            </h1>
<br>
<div class="govuk-form-group">
  <label class="govuk-label" for="address-town">
    Claim reference
  </label>
  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="address-town">
    Injured person name
  </label>
  <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="addressTown" type="text" autocomplete="address-level2">
</div>



<div class="govuk-form-group">
  <label class="govuk-label" for="address-town">
    Injured person's date of birth
  </label>
  <div id="passport-issued-hint" class="govuk-hint">
    For example, 27 3 2001
  </div>
  <div class="govuk-date-input" id="passport-issued">
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
          Day
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
          Month
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric">
      </div>
    </div>
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
          Year
        </label>
        <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric">
      </div>
    </div>
  </div>

</div>





        </fieldset>
      </div>
<br>
      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
