
{% extends "../../../index.html" %}

{% block pageTitle %}
Transfer claim - Compensator address
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="da-handover-check-answers" method="post">
      <span class="govuk-caption-xl">Transfer claim: {{ data['da-crs-ref'] | default('CRS233450') }}</span>
      <h1 class="govuk-heading-xl">Compensator address</h1>

      <h2 class="govuk-heading-m">Postcode</h2>
      <p class="govuk-body">{{ data['da-address-postcode']}} <a href="da-handover-compensator-address">Change</a></p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="da-address-lookup">
          Select an address
        </label>
        <select class="govuk-select" id="da-address-lookup" name="da-address-lookup">
          <option value="published">3 addresses found</option>
          <option value="4 High Street">4 High Street, {{ data['da-address-postcode'] | default('M4 4GH')}}</option>
          <option value="6 High Street">6 High Street, {{ data['da-address-postcode'] | default('M4 4GH')}}</option>
          <option value="8 High Street">8 High Street, {{ data['da-address-postcode'] | default('M4 4GH')}}</option>
        </select>
      </div>

      <p class="govuk-body"><a href="">I can't find the address in the list</a></p>

      {{ govukButton({
      text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
