
{% extends "../../index.html" %}

{% block pageTitle %}
Forgotten password
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="reset-passcode-sent" method="post">
      <h1 class="govuk-heading-xl">Enter the email address associated with your CRS account</h1>
      <div class="govuk-form-group">
        <p class="govuk-body">To confirm it is your email address we will send you a code.</p>

      </div>

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--s",
          isPageHeading: false
        },
        id: "username",
        name: "username"
      }) }}

      {{ govukButton({
        text: "Send passcode"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
