
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Link expired
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
      <h1 class="govuk-heading-xl">

        This link has expired
      </h1>
      <div class="govuk-form-group">

        <p class="govuk-body"><p>You can <a href="sign-in" class="govuk-link">request a new activation link</a>.</p>
      </div>


    </div>
    <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:green;
      padding:0.8em;
      color:white;
      animation: mymove 1s infinite alternate;
      }
      @keyframes mymove {
        from {background-color: #00703c;}
        to {background-color: #1d70b8;}
      }
  </style>

  </div>

{% endblock %}
