
{% extends "../../index.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="" method="post">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "What is your email address?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Check your email address is correct and then resend passcode."
        },
        id: "username",
        name: "username"
      }) }}

      {{ govukButton({
        text: "Resend passcode",
        href: "passcode-sent"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
