
{% extends "../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="new-password" method="post">

          <h1 class="govuk-heading-xl">Check your email</h1>
          <p class="govuk-body">We’ve sent you a security passcode by email.</p>
          <p class="govuk-body">The email may take a few minutes to arrive.</p>

          <div class="govuk-form-group">
            <div class="govuk-!-padding-top-2">
            </div>
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="account-number">
              Security passcode
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-10" id="account-number" name="account-number" type="text" spellcheck="false" aria-describedby="account-number-hint" pattern="[a-zA-Z0-9_ ]*" inputmode="numeric">
        </div>


      <button class="govuk-button" data-module="govuk-button">
      Verify
      </button>
    </form>


      <p>If you didn't receive an email, you can
      <a href="resend-forgotten-password" class="govuk-link">get another passcode</a>.
    </p>
    </div>
    <!-- <a href="activation-email" class="govuk-link">Open email</a> -->
  </div>


<!-- code for demo only-->
  <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:green;
      padding:0.8em;
      color:white;
      animation: mymove 1s infinite alternate;
      }
      @keyframes mymove {
        from {background-color: #00703c;}
        to {background-color: #1d70b8;}
      }
  </style>

  <a href ="reset-email-passcode" class="timemachine">Open email</a>


{% endblock %}
