{% extends "../../index.html" %}

{% block pageTitle %}
Insurance company -  Who is the insurance company paying the compensation?
{% endblock %}


{% block globalnav %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Subsection</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
{% from "govuk/components/button/macro.njk" import govukButton %}

  <div class="govuk-grid-row govuk-!-margin-top-7">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Register compensation recovery claims</h1>
        <p class="govuk-body">This service is for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>insurance companies</li>
            <li>other compensators</li>
            <li>third party administrators</li>
        </ul>
        <p class="govuk-body">Use it to register claims with the Compensation Recovery Service (CRS).</p>
        <p class="govuk-body">Compensators must register a compensation claim within 14 days of receiving it.</p>
        <p class="govuk-body">You’ll be able to download CRS and NHS charges certificates in PDF format.</p>
        <p class="govuk-body">You can <a href="sign-in" class="govuk-link">sign in</a> if you already have an account for this service.</p>

        <h2 class="govuk-heading-l">Create an account for your organisation to register claims</h2>
        <p class="govuk-body">Your organisation needs to nominate an employee to create an account and use this service. You should check that you are the right person to do this before you go through this process.</p>
        <p class="govuk-body">This takes around 5 minutes. You will only need to do this once.</p>
        <p class="govuk-body">After creating an organisation account, you can:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>invite employees to create individual accounts</li>
            <li>register and manage claims</li>
            <li>take over existing claims from other organisations</li>
        </ul>

      {{ govukButton({
        text: "Start now",
        href: "org-create-account",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

        <h2 class="govuk-heading-m">Other ways to register</h2>
<!--        <p class="govuk-body">You can also <a class="govuk-link" href="https://www.gov.uk/government/publications/compensation-recovery-unit-forms">register by post</a>.</p>-->
        <p class="govuk-body">You can also <a href="https://www.gov.uk/government/publications/compensation-recovery-unit-forms" class="govuk-link">register claims by post</a>.</p>
        <p class="govuk-body">It takes longer to receive a certificate by post than if you register a claim online.</p>
    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/publications/compensation-and-repaying-dwp-if-you-think-our-decision-is-wrong">
                Compensation and repaying DWP: if you think our decision is wrong
              </a>
            </li>
            <li>
              <a class="govuk-link" href="https://www.gov.uk/government/collections/cru#contact-cru">
                Contact the Compensation Recovery Service
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
