
{% extends "../../index.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="org-user-agreement" method="post">
      <span class="govuk-caption-xl">{{ data['company-name'] }}</span>
      <h1 class="govuk-heading-xl">Your organisation address</h1>

      <p class="govuk-body">
        This address will be used for correspondence from the Compensation Recovery Service
      </p>

      <div class="govuk-form-group">
        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-1">
           Address line 1
          </label>
          <input class="govuk-input" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line1">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-line-2">
            Address line 2 (optional)
          </label>
          <input class="govuk-input" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-town">
            Town or city
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-town" name="address-town" type="text" autocomplete="address-level2">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-county">
            County
          </label>
          <input class="govuk-input govuk-!-width-two-thirds" id="address-county" name="address-county" type="text">
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label" for="address-postcode">
            Postcode
          </label>
          <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
        </div>
      </div>

      {{ govukButton({
      text: "Continue"
      }) }}

      <p class="govuk-body"><a href="org-address">Find address by postcode</a></p>

    </form>

    </div>
  </div>

{% endblock %}
