
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <h1 class="govuk-heading-xl">This organisation has an account</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        The organisation you entered already has an account with the Compensation Recovery Service.
      </strong>
    </div>

    <p class="govuk-body">You entered: <strong>{{ data['company-name'] | default('John Smith Associates') }}</strong></p>

    <p class="govuk-body">The following company has already registered:</p>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ data['company-name'] }}
        </dt>
        <dd class="govuk-summary-list__value">
          43 Woodward Way<br />
          Lakeside<br />
          BS1 1RT
        </dd>
      </div>
    </dl>

    <p class="govuk-body govuk-!-margin-bottom-7">
      If this is your organisation, contact the account administrator and ask to be invited to create an individual account.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div>
      <h2 class="govuk-heading-m">Need help?</h2>

      <ul class="govuk-list">
        <li>Telephone: 0800 15 13197</li>
        <li>Monday to Friday, 8am to 6pm (except public holidays)</li>
        <li>Email: <a href="mailto:cru.ebt@dwp.gov.uk" class="govuk-link">cru.ebt@dwp.gov.uk</a>
        </li></ul>

    </div>

  </div>
</div>

{% endblock %}
