
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Enter your email address
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl">

        Enter your email address
      </h1>
      <div class="govuk-form-group">
        <p class="govuk-body">Check your email address is correct and then resend activation link.</p>
      </div>



      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "username",
        name: "username"
      }) }}

      {{ govukButton({
        text: "Resend activation link",
        href: "activation-link-sent"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
