
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
            You have sent a CRU10
            </h1>
            <div class="govuk-panel__body">
              Claim reference number<br><strong>CRU12345</strong>
            </div>
          </div>



<div>

<h2 class="govuk-heading-m">Other options</h2>
<p class="govuk-body"><a href="check-answers_options" class="govuk-link">Back to task </a></p>
<p class="govuk-body"><a href="actions" class="govuk-link">Back to claim options </a></p>
  </div>


<br>


        </div>
      </div>


        </div>
      </div>


{% endblock %}
