
{% extends "../../../../index.html" %}

{% block pageTitle %}
Current tasks
{% endblock %}

{% block header %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/" + folder + "/",
  containerClasses: "govuk-width-container"
}) }}

  <div class="govuk-width-container">
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-tag--red govuk-phase-banner__content__tag">
          Prototype: Current
        </strong>
        <span>This is not production ready code</span>
      </p>
    </div>
  </div>

  {% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <nav class="navigation-secondary">
      <ul>
        <li><a href="#">Home</a></li>
        <li class="active"><a href="#">Tasks</a></li>
        <li><a href="find-case">Find a claim</a></li>
        <li><a href="../tasks-and-workflows2_0/org-list_multiple">Organisation list</a></li>
        <li><a href="../mi">Download reports</a></li>
      </ul>
    </nav>

    <div class="govuk-grid-column-two-thirds">

      <a href="#" class="govuk-back-link govuk-!-margin-bottom-7">Back</a>

      <span class="govuk-caption-l">Sam Smith</span>
      <h1 class="govuk-heading-xl">Tasks</h1>


          <form class="form" action="tasks" method="post">

          <div class="govuk-form-group">
            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="task-type" name="tasktype" type="radio" value="task1" aria-describedby="task-type-item-hint">
                <label class="govuk-label govuk-radios__label" for="task-type">
                  Review NHS treatment status - day 100 <b>(2 to do)</b>
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="task-type-2" name="tasktype" type="radio" value="task2" aria-describedby="task-type-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="task-type-2">
                  Review NHS treatment status - day 130 <b>(23 to do)</b>
                </label>
              </div>


            </div>
          </div>

            <button class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button">
              Get task
            </button>

          </form>



        </div>

    </div>
  </div>

{% endblock %}
