
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Add a new Hospital or Trust - Confirmation
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-main-wrapper--auto-spacing">

      <div class="govuk-panel govuk-panel--confirmation">

          {% if data['add-new'] == 'Hospital' %}
          <h1 class="govuk-panel__title">New hospital added</h1>
          {% elseif data['add-new'] == 'Trust' %}
          <h1 class="govuk-panel__title">New trust added</h1>
          {% elseif data['add-new'] == 'Ambulance Trust' %}
          <h1 class="govuk-panel__title">New ambulance trust added</h1>
          {% endif %}

<!--          <div class="govuk-panel__body">-->
<!--              Your reference number<br><strong>HDJ2123F</strong>-->
<!--          </div>-->
      </div>

<!--      <p class="govuk-body">TBC</p>-->

<!--      <p class="govuk-body">-->
<!--          Go to your account dashboard where you can:-->
<!--      </p>-->
<!--      <ul class="govuk-list govuk-list&#45;&#45;bullet">-->
<!--          <li>register new claims</li>-->
<!--          <li>notify the Compensation Recovery Service that you are taking over an existing claim from another organisation</li>-->
<!--          <li>ask employees from your organisation to create their own individual accounts</li>-->
<!--      </ul>-->

<!--      <p class="govuk-body">-->
<!--          <a class="govuk-link" href="">View hospital</a>-->
<!--      </p>-->
      <p class="govuk-body">
          <a class="govuk-link" href="index">Back to NHS hospitals and trusts</a>
      </p>

<!--      <p class="govuk-body">-->
<!--        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)-->
<!--      </p>-->

    </div>
  </div>

{% endblock %}
