
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Check your answers before registering your company
{% endblock %}

{% block content %}


  <div class="govuk-width-container">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters-from-desktop">


          <form action="confirmation" method="post" novalidate>

          <h1 class="govuk-heading-xl">Check your answers before registering your company</h1>

          <!-- your details -->
          <h2 class="govuk-heading-m">Your details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your email
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['admin-email'] | default('sam.smith@avivainsurance.com') }} 
              </dd>
              <dd class="govuk-summary-list__actions">
                <strong class="govuk-tag govuk-tag--blue">VERIFIED</strong>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Administrator
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['yes-admin'] | default('Yes') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Administrator</span></a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your password
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['admin-password'] | default('*********') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> password</span></a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['full-name'] | default('Sam Smith') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> Name</span></a>
              </dd>
            </div>



              
          </dl>
          <!-- end -->




          <!-- Company details -->
          <h2 class="govuk-heading-m">Company details</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            
            
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company name
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['company-name'] | default('Aviva Insurance') }}
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Company address
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['choose-admin-address'] | default('4 High Street') }}<br>Thrupp<br>{{ data['addresspostcode'] | default('SW11 4DY') }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="">Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            
          </dl>
          
            <input type="hidden" name="answers-checked" value="true">

            {{ govukButton({
              text: "Register"
            }) }}


          </form>

        </div>
      </div>
    </main>
  </div>

{% endblock %}
