
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
What is your company's address?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds  govuk-main-wrapper--auto-spacing">
        <!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a> -->
        <form class="form" action="select-company-address" method="post">

        <h1 class="govuk-heading-xl">What is your company's address?</h1>
        <div class="govuk-form-group">

       <label class="govuk-label govuk-!-font-weight-bold" for="companyaddresspostcode">
         Enter postcode
       </label>
        <input class="govuk-input govuk-input--width-10" id="companyaddresspostcode" name="companyaddresspostcode" type="text" value="{{ data['addresspostcode']}}">
         </div>


       {{ govukButton({
        text: "Find address"
      }) }}
       <p class="govuk-body"><a href="company-address-manual-entry">Enter address manually</a></p>


    </form>

    </div>
  </div>

{% endblock %}
