
{% extends "layout-index.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Compensation Recovery Unit</span>
      Prototypes
      </h1>
      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      <h2 class="govuk-heading-l">Working Version</h2>

      <div class="card-container">


<!-- start version  -->
        
     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version: Current</span>
      </h2>
       <div class="card-inner-panel">
         <p><strong class="govuk-tag govuk-tag--red">NOT TESTED</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">Compensator Private Beta registration </h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/compensator-registration/start-page">Start page (Private Beta route)</a></li>
                  <li><a href="/alpha/compensator-registration/account-registration">Account registration</a></li>
                  <li><a href="/alpha/compensator-registration/activation-link-sent">Check you email</a></li>
                  <li><a href="/alpha/compensator-registration/activation-email">CRU Activation Link</a></li>
                  <li><a href="/alpha/compensator-registration/create-password">Create password</a></li>
                  <li><a href="/alpha/compensator-registration/your-name">Compensator name</a></li>
                  <li><a href="/alpha/compensator-registration/company-name">Company name</a></li>
                  <li><a href="/alpha/compensator-registration/company-postcode">Company postcode</a></li>
                  <li><a href="/alpha/compensator-registration/company-address-manual-entry">Company code (manual entry)</a></li>
                  <li><a href="/alpha/compensator-registration/select-company-address">Company postcode look-up</a></li>
                  <li><a href="/alpha/compensator/account-created">Account created</a></li>
                </ul>
                <h3 class="govuk-heading-s">Registration sad path</h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/compensator-registration/account-already-created">Account already created</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/compensator-registration/cant-register">Not Private Beta user</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>

          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">Sign in</h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/sign-in/sign-in">Sign in </a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/2fa-link-sent">2FA link sent</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/2fa-email">2FA email</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/link-expired">2FA link expired (sign and forgotten PW)</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>

                </ul>
                <h3 class="govuk-heading-s">Forgotten password</h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/sign-in/forgotten-password">Forgotten password</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/link-sent">Password reset link sent</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/reset-email">Reset email</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/new-password">Create new password</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
                  <li><a href="/alpha/sign-in/password-updated">Password updated</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>                  
                </ul>
          </div>


          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">Compensator add a new claim </h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/registration/start-page">Start page (sign in)</a></li>
                  <li><a href="/alpha/compensator/compensator-dashboard-empty">Compensator Dashboard (no entry)</a></li>
                  <li><a href="/alpha/compensator/compensator-dashboard">Compensator Dashboard (with entry)</a></li>
                  <li><a href="/alpha/registration/task-list">Task list</a></li>
                  <li><a href="/alpha/registration/date-of-claim">Date of injury</a></li>
                  <li><a href="/alpha/registration/injury-gaurd">Injury guard question</a></li>
                  <li><a href="/alpha/registration/where-is-the-injury">Physical injury</a></li>
                  <li><a href="/alpha/registration/psychological">Psychological injury</a></li>
                  <li><a href="/alpha/registration/neurological">Neurological injury</a></li>
                  <li><a href="/alpha/registration/about-the-injured-persons-rep">IP representative's details</a></li>
                  <li><a href="/alpha/registration/check-answers">Check your answers</a></li>
                  <li><a href="/alpha/registration/confirmation">Confirmation</a></li>
                  <li><a href="/alpha/compensator-registration/claim-registered-email">Email: Download certificates</a></li>
                  <li><a href="/public/downloads/CRU-nil-cert-generic-17nov.pdf">Download CRU certificate</a></li>
                  <li><a href="/public/downloads/NHS-nil-cert-generic-17nov.pdf">Download NHS certificate</a></li>
                  <li><a href="/alpha/registration/enter-service-no">You can't use this service</a></li>
                </ul>
          </div>

          <div class="govuk-grid-column-full">
          <h3 class="govuk-heading-s">Public Beta Registration</h3>
          <ul class="govuk-list">
                  <li><a href="/alpha/compensator-registration/start-page-public">Start page (Public Beta route)</a></li>
            <li><a href="/alpha/compensator-registration-verify/account-under-review">Comp Account Under Review</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/compensator-registration-verify/email-account-under-review">Email: Account under review</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/compensator-registration-verify/email-account-verified">Email: verified</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/compensator-registration-verify/email-account-rejected">Emai: rejected</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/compensator-registration-verify/email-account-rejected">Email: need further evidence</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
          </ul>
          <h3 class="govuk-heading-s">Cru Ops (Public Beta Registration)</h3>
          <ul class="govuk-list">
            <li><a href="/alpha/cru-ops-service/approve-compensators">Approve</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/cru-ops-service/approve-compensators-empty">No approvals</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/cru-ops-service/approve-user-details">Approve user details</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            
            <li><a href="/alpha/cru-ops-service/rejected-compensators">Rejected</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/cru-ops-service/rejected-user-details">Rejected user details</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            <li><a href="/alpha/cru-ops-service/user-deleted">User deleted </a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
            
            <li><a href="/alpha/cru-ops-service/registered-compensators">Registred</a> <strong class="govuk-tag govuk-tag--yellow">NEW</strong></li>
          </ul>


          </div>
        </div>
      </div>
    </div>
    <!-- end version -->




<!-- start version  -->
        
     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version: Alpha Assessment</span>
      </h2>
       <div class="card-inner-panel">
         <p><strong class="govuk-tag govuk-tag--blue">MVP</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration </h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/compensator-registration/start-page">Start page (Private Beta route)</a></li>
                  <li><a href="/alpha/compensator-registration/start-page-public">Start page (Public Beta route)</a></li>
                  <li><a href="/alpha/compensator/account-created">Account created</a></li>
                  <li><a href="/alpha/compensator-registration-verify/account-under-review">Account (under review)</a></li>
                  <li><a href="/alpha/compensator/compensator-dashboard-empty">Compensator Dashboard (no entry)</a></li>
                  <li><a href="/alpha/compensator/compensator-dashboard">Compensator Dashboard (with entry)</a></li>
                </ul>
          </div>
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator add a new claim </h3>
                <ul class="govuk-list">
                  <li><a href="/alpha/registration/start-page">Start page (account registered)</a></li>
                  <li><a href="/alpha/registration/confirmation">Confirmation</a></li>
                  <li><a href="/public/downloads/CRU-nil-cert-generic-17nov.pdf">Download CRU certificate</a></li>
                  <li><a href="/public/downloads/NHS-nil-cert-generic-17nov.pdf">Download NHS certificate</a></li>
                </ul>
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
           Cru staff views</h3>
          <ul class="govuk-list">
            <li><a href="/alpha/cru-ops-service/cru-ops-landing">CRU Dashboard</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end version -->



<h2 class="govuk-heading-l">Prototype Versions</h2>
<!-- start version  -->
        
     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:Current</span>
      Working version
      </h2>
       <div class="card-inner-panel">
                       <p>
        <strong class="govuk-tag govuk-tag--red">Not Tested</strong>
        We are currently working on this version of the prototpye and it is likley to change
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration </h3>
                <ul class="govuk-list">
                  <li><a href="/current/compensator-registration/start-page">Start page (new registration)</a></li>
                  <li><a href="/current/compensator-registration/account-registration">Account registration</a></li>
                  <li><a href="/current/compensator-registration/activation-link-sent">Check you email</a></li>
                  <li><a href="/current/compensator-registration/activation-email">CRU Activation Link</a></li>
                  <li><a href="/current/compensator-registration/create-password">Create password</a></li>
                  <li><a href="/current/compensator-registration/your-name">Compensator name</a></li>
                  <li><a href="/current/compensator-registration/company-name">Company name</a></li>
                  <li><a href="/current/compensator-registration/company-postcode">Company postcode</a></li>
                  <li><a href="/current/compensator-registration/company-address-manual-entry">Company code (manual entry)</a></li>
                  <li><a href="/current/compensator-registration/select-company-address">Company postcode look-up</a></li>
                  <li><a href="/current/compensator/account-created">Account created</a></li>
                  <li><a href="/current/compensator/compensator-dashboard-empty">Compensator Dashboard (no entry)</a></li>
                  <li><a href="/current/compensator/compensator-dashboard">Compensator Dashboard (with entry)</a></li>
                </ul>
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator add a new claim </h3>
                <ul class="govuk-list">
                  <li><a href="/current/registration/start-page">Start page (account registered)</a></li>
                  <li><a href="/current/registration/task-list">Task list</a></li>
                  <li><a href="/current/registration/date-of-claim">Date of injury</a></li>
                  <li><a href="/current/registration/injury-gaurd">Injury guard question</a></li>
                  <li><a href="/current/registration/where-is-the-injury">Physical injury</a></li>
                  <li><a href="/current/registration/psychological">Psychological injury</a></li>
                  <li><a href="/current/registration/neurological">Neurological injury</a></li>
                  <li><a href="/current/registration/about-the-injured-persons-rep">IP representative's details</a></li>
                  <li><a href="/current/registration/check-answers">Check your answers</a></li>
                  <li><a href="/current/registration/confirmation">Confirmation</a></li>
                  <li><a href="/current/compensator-registration/claim-registered-email">Email: Download certificates</a></li>
                  <li><a href="/public/downloads/CRU-nil-cert-generic-17nov.pdf">Download CRU certificate</a></li>
                  <li><a href="/public/downloads/NHS-nil-cert-generic-17nov.pdf">Download NHS certificate</a></li>
                  <li><a href="/current/registration/enter-service-no">You can't use this service</a></li>
                </ul>
          </div>


          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration v2 - Verify User </h3>
                <ul class="govuk-list">
                  <li><a href="/current/compensator-registration-verify/start-page">Start page (new registration)</a></li>
                  <li><a href="/current/compensator-registration-verify/account-registration">Account registration</a></li>
                  <li><a href="/current/compensator-registration-verify/activation-link-sent">Check you email</a></li>
                  <li><a href="/current/compensator-registration-verify/activation-email">CRU Activation Link</a></li>
                  <li><a href="/current/compensator-registration-verify/create-password">Create password</a></li>
                  <li><a href="/current/compensator-registration-verify/your-name">Compensator name</a></li>
                  <li><a href="/current/compensator-registration-verify/company-name">Company name</a></li>
                  <li><a href="/current/compensator-registration-verify/company-postcode">Company postcode</a></li>
                  <li><a href="/current/compensator-registration-verify/company-address-manual-entry">Company code (manual entry)</a></li>
                  <li><a href="/current/compensator-registration-verify/select-company-address">Company postcode look-up</a></li>
                  <li><a href="/current/compensator-registration-verify/account-under-review">Account under review</a></li>
                  <li><a href="/current/compensator-registration-verify/select-company-address">Email - account under review</a></li>
                  <li><a href="/current/compensator/compensator-dashboard-under-review">Compensator Dashboard (empty - account under review)</a></li>
                  
          </div>

          


          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">My Account</h3>
            <ul class="govuk-list">
              <li><a href="/current/compensator/my-account">My account</a></li>
              <li><a href="/current/compensator/change-password">Change password</a></li>
              <li><a href="/current/compensator/change-postcode">Change address</a></li>
              <li><a href="/current/compensator/change-contact-details">Change address</a></li>
              <li><a href="/current/compensator/select-new-address">Select new address</a></li>
            </ul>
            <h3 class="govuk-heading-s">My Account: Add user</h3>
            <ul class="govuk-list">
              <li><a href="/current/compensator/contributors">Invite or remove a user</a></li>
              <li><a href="/current/compensator/invite-contributor">Invite user</a></li>
              <li><a href="/current/compensator/invite-sent">Invite sent</a></li>
            </ul> 
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
           Cru staff views</h3>
           <ul class="govuk-list">
            <li><a href="/current/cru-ops-service/cru-ops-landing">CRU Dashboard - find case</a></li>
            <li><a href="/current/cru-ops-service/cases-search-results">Case Search results </a></li>
            <li><a href="/current/cru-ops-service/case-view">Case view</a></li>
          </ul>
          </div>
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration v2 - CRU Staff Verify User </h3>
                <ul class="govuk-list">
                  <li><a href="/current/cru-ops-service/approve-compensators">Verify compensators</a></li>
                  <li><a href="/current/cru-ops-service/compensator-registration-details">Compensator registration details</a></li>
                  <li><a href="/current/compensator-registration-verify/email-account-verified">Email account verified</a></li>
          </div>
        </div>
      </div>
    </div>
    <!-- end version -->


        <!-- start version 7  -->
        
     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:7</span>
      Working version
      </h2>
       <div class="card-inner-panel">
                       <p>
        <strong class="govuk-tag govuk-tag--green">Tested 17th 18th 19th November</strong>
        We are currently working on this version of the prototpye and it is likley to change
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration </h3>
                <ul class="govuk-list">
                  <li><a href="/current/compensator-registration/start-page">Start page (new registration)</a></li>
                  <li><a href="/current/compensator-registration/account-registration">Account registration</a></li>
                  <li><a href="/current/compensator-registration/activation-link-sent">Check you email</a></li>
                  <li><a href="/current/compensator-registration/activation-email">CRU Activation Link</a></li>
                  <li><a href="/current/compensator-registration/create-password">Create password</a></li>
                  <li><a href="/current/compensator-registration/your-name">Compensator name</a></li>
                  <li><a href="/current/compensator-registration/company-name">Company name</a></li>
                  <li><a href="/current/compensator-registration/company-postcode">Company postcode</a></li>
                  <li><a href="/current/compensator-registration/company-address-manual-entry">Company code (manual entry)</a></li>
                  <li><a href="/current/compensator-registration/select-company-address">Company postcode look-up</a></li>
                  <li><a href="/current/compensator/account-created">Account created</a></li>
                  <li><a href="/current/compensator/compensator-dashboard-empty">Compensator Dashboard (no entry)</a></li>
                  <li><a href="/current/compensator/compensator-dashboard">Compensator Dashboard (with entry)</a></li>
                </ul>
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator add a new claim </h3>
                <ul class="govuk-list">
                  <li><a href="/current/registration/start-page">Start page (account registered)</a></li>
                  <li><a href="/current/registration/task-list">Task list</a></li>
                  <li><a href="/current/registration/date-of-claim">Date of injury</a></li>
                  <li><a href="/current/registration/injury-gaurd">Injury guard question</a></li>
                  <li><a href="/current/registration/where-is-the-injury">Physical injury</a></li>
                  <li><a href="/current/registration/psychological">Psychological injury</a></li>
                  <li><a href="/current/registration/neurological">Neurological injury</a></li>
                  <li><a href="/current/registration/about-the-injured-persons-rep">IP representative's details</a></li>
                  <li><a href="/current/registration/check-answers">Check your answers</a></li>
                  <li><a href="/current/registration/confirmation">Confirmation</a></li>
                  <li><a href="/current/compensator-registration/claim-registered-email">Email: Download certificates</a></li>
                  <li><a href="/public/downloads/CRU-nil-cert-generic-17nov.pdf">Download CRU certificate</a></li>
                  <li><a href="/public/downloads/NHS-nil-cert-generic-17nov.pdf">Download NHS certificate</a></li>
                  <li><a href="/current/registration/enter-service-no">You can't use this service</a></li>
                </ul>
          </div>


          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration v2 - Verify User </h3>
                <ul class="govuk-list">
                  <li><a href="/current/compensator-registration-verify/start-page">Start page (new registration)</a></li>
                  <li><a href="/current/compensator-registration-verify/account-registration">Account registration</a></li>
                  <li><a href="/current/compensator-registration-verify/activation-link-sent">Check you email</a></li>
                  <li><a href="/current/compensator-registration-verify/activation-email">CRU Activation Link</a></li>
                  <li><a href="/current/compensator-registration-verify/create-password">Create password</a></li>
                  <li><a href="/current/compensator-registration-verify/your-name">Compensator name</a></li>
                  <li><a href="/current/compensator-registration-verify/company-name">Company name</a></li>
                  <li><a href="/current/compensator-registration-verify/company-postcode">Company postcode</a></li>
                  <li><a href="/current/compensator-registration-verify/company-address-manual-entry">Company code (manual entry)</a></li>
                  <li><a href="/current/compensator-registration-verify/select-company-address">Company postcode look-up</a></li>
                  <li><a href="/current/compensator-registration-verify/account-under-review">Account under review</a></li>
                  <li><a href="/current/compensator-registration-verify/select-company-address">Email - account under review</a></li>
                  <li><a href="/current/compensator/compensator-dashboard-under-review">Compensator Dashboard (empty - account under review)</a></li>
                  
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
              Compensator registration v2 - CRU Staff Verify User </h3>
                <ul class="govuk-list">
                  <li>Verify compensators (todo)</li>
                  <li>Compensators verifed - email sent (todo)</li>
                  <li><a href="/current/compensator-registration-verify/email-account-verified">Email account verified</a></li>
          </div>


          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">My Account</h3>
            <ul class="govuk-list">
              <li><a href="/current/compensator/my-account">My account</a></li>
              <li><a href="/current/compensator/change-password">Change password</a></li>
              <li><a href="/current/compensator/change-postcode">Change address</a></li>
              <li><a href="/current/compensator/change-contact-details">Change address</a></li>
              <li><a href="/current/compensator/select-new-address">Select new address</a></li>
            </ul>
            <h3 class="govuk-heading-s">My Account: Add contributors</h3>
            <ul class="govuk-list">
              <li><a href="/current/compensator/contributors">Invite or remove a contributors</a></li>
              <li><a href="/current/compensator/invite-contributor">Invite contributor</a></li>
              <li><a href="/current/compensator/invite-sent">Invite sent</a></li>
            </ul> 
          </div>

          <div class="govuk-grid-column-full">
            <h3 class="govuk-heading-s">
           Cru staff views</h3>
           <ul class="govuk-list">
            <li><a href="/current/cru-ops-service/cru-ops-landing">CRU Dashboard - find case</a></li>
            <li><a href="/current/cru-ops-service/cases-search-results">Case Search results </a></li>
            <li><a href="/current/cru-ops-service/case-view">Case view</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end version -->







        <!-- start version -->
     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:6</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
        <strong class="govuk-tag govuk-tag--green">Tested</strong>
        Tested with Compensator, Ip Rep w/c 04-10-2021
        </p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
              Compensator views </h3>
                <ul class="govuk-list">
                  <li><a href="/v6/registration/start-page">Start page</a></li>
                  <li><a href="/v6/registration/cru-landing">Add a claim</a></li>
                  <li><a href="/v6/registration/task-list">Task list</a></li>
                  <li><a href="/v6/registration/date-of-claim">Date of injury</a></li>
                  <li><a href="/v6/registration/injury-gaurd">Injury guard question</a></li>
                  <li><a href="/v6/registration/where-is-the-injury">Pysical injury</a></li>
                  <li><a href="/v6/registration/psychological">Psychological injury</a></li>
                  <li><a href="/v6/registration/neurological">Neurological injury</a></li>
                  <li><a href="/v6/registration/about-the-injured-persons-rep">IP reprentatives details</a></li>
                  <li><a href="/v6/registration/check-answers">Check your answers</a></li>
                  <li><a href="/v6/registration/confirmation">Confirmation</a></li>
                  <li><a href="/v6/registration/enter-service-no">You can't use this service</a></li>
                </ul>
          </div>
          <div class="govuk-grid-column-one-third">    <h3 class="govuk-heading-s">
           Cru staff views</h3>
           <ul class="govuk-list">
            <li><a href="/v6/cru-ops-service/cru-ops-landing">Home(Add a claim)</a></li>
            <li><a href="/v6/cru-ops-service/tasks">Tasks </a></li>
            <li><a href="/v6/cru-ops-service/find-case">Find case</a></li>
            <li><a href="/v6/cru-ops-service/case-view">Case view</a></li>

          </ul>
          </div>
          <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-s">
              Error views </h3>
                <ul class="govuk-list">
                  <li><a href="/v6/registration/page-not-found">Page not found (404)</a></li>
                  <li><a href="/v6/registration/problem-with-service">Problem with service (server error)</a></li>
                  <li><a href="/v6/registration/service-unavailable">Service unavailable (scheduled downtime)</a></li>
                  <li><a href="/v6/registration/service-timeout">Service timeout (session expired)</a></li>
                </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end version -->

    <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:5</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not tested
</strong><strong></strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">This is the latest working version of the prototype</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
       Register a clerical CRU 1 form on the new system
        </li>
        </ul>
      <a href="/current/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>



    <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:4 - Compensators</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  tested
</strong> with <strong>Compensators on 14 September 2021</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">This is the latest working version of the prototype</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
       Register a clerical CRU 1 form on the new system
        </li>
        </ul>
      <a href="/v4/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>


    <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:3 - Compensators</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
  <strong class="govuk-tag govuk-tag--red">
  Not tested
</strong><strong></strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">This version has a more advanced change journey which is out of scope for mvp</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
       Register a clerical CRU 1 form on the new system
        </li>
        </ul>
      <a href="/v3/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>



    <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:2 - Compensators</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Compensators on 20 July 2021</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios tested:</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
       Register a clerical CRU 1 form on the new system
        </li>
        </ul>
      <a href="/v2-compensators/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>



      <div class="card full">
        <h2 class="govuk-heading-m">
        <span class="govuk-caption-l">Version:1 - Compensators</span>
       Register a claim </h2>
         <div class="card-inner-panel">
                         <p>
    <strong class="govuk-tag govuk-tag--green">
    Tested
  </strong> with <strong>Compensators on 7, 8 July 2021</strong>
  </strong></p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <p class="govuk-body">Scenarios tested:</p>
         <ul class="govuk-list govuk-list--bullet">
          <li>
         Register a clerical CRU 1 form on the new system
          </li>
          </ul>
        <a href="/v1-compensators/scenarios" class="govuk-button govuk-button--secondary">Start scenarios</a>
        </div>
        </div>




     <div class="card full">
      <h2 class="govuk-heading-m">
      <span class="govuk-caption-l">Version:1 - Cru staff</span>
     Register a claim </h2>
       <div class="card-inner-panel">
                       <p>
  <strong class="govuk-tag govuk-tag--green">
  Tested
</strong> with <strong>Cru Staff on 24, 28, 29  June 2021</strong>
</strong></p>
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <p class="govuk-body">Scenarios tested:</p>
       <ul class="govuk-list govuk-list--bullet">
        <li>
       Register a clerical CRU 1 form on the new system
        </li>
        </ul>
      <a href="/v1-staff/cru-ops-service/cru-ops-landing" class="govuk-button govuk-button--secondary">Start scenarios</a>
      </div>
      </div>



</div>

      <h2 class="govuk-heading-l govuk-!-margin-top-9">Discovery</h2>
      <div class="card-container">
      <div class="card full">
        <h2 class="govuk-heading-m">
        Discovery design concepts
        </h2>
         <div class="card-inner-panel">
                         <p>
    <strong class="govuk-tag govuk-tag--red">
    Not Tested
  </strong> These design concepts are not tested with users, they are a tool to enable us to visualise how we might begin to solve some of our users’ problems
  </strong></p>
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s">
                Compensator views </h3>
                <ul class="govuk-list">
                  <li><a href="/mvp/registration/cru-landing">Add a case (MVP)</a></li>
                  <li><a href="/v0/registration/cru-landing">Add a case (v0)</a></li>
                  <li><a href="/v0/registration/cru-landing-moj">Add a case (v0) - MOJ data</a></li>
                </ul>
            </div>
            <div class="govuk-grid-column-one-third">    <h3 class="govuk-heading-s">
             Cru staff views</h3>
             <ul class="govuk-list">
              <li><a href="/mvp/cru-ops-service/cru-ops-landing">Home (MVP)</a></li>
              <li><a href="/mvp/cru-ops-service/tasks">Tasks (MVP)</a></li>
              <li><a href="/mvp/cru-ops-service/find-case">Find case (MVP)</a></li>
              <li><a href="/mvp-01/cru-ops-service/tasks">Tasks (MVP0)</a></li>
              <li><a href="/v0/cru-ops-service/cru-ops-landing">Home (v0)</a></li>
            </ul>
            </div>
            <div class="govuk-grid-column-one-third">
              <h3 class="govuk-heading-s">
                Case view</h3>
                <ul class="govuk-list">
                  <li><a href="/mvp/case/case-details-and-tasks-tabs">Case view (mvp) tabs</a></li>
                  <li><a href="/mvp/case/case-details-and-tasks-accordion">Case view (mvp) accordion</a></li>
                  <li><a href="/mvp/case/case-details-and-tasks-2">Case view (mvp) Horrizintal nav</a></li>
                 <li><a href="/mvp/case/case-details-and-tasks-1">Case view (mvp) Alternate view</a></li>
                 <li><a href="/mvp/case/case-details-and-tasks">Case view (mvp)</a></li>
                 <li><a href="/mvp-01/case/case-details-and-tasks">Case view (mvp0)</a></li>
                 <li><a href="/v01/case/case-details-and-tasks">Case view (v01)</a></li>
                 <li><a href="/v0/case/case-details-and-tasks">Case view (v0)</a></li>
               </ul>
            </div>
          </div>
        </div>
        </div>
        </div>
</div>

{% endblock %}
