
{% extends "../../../../index.html" %}

{% block pageTitle %}
Check your answers before registering the claim
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">CRU12345
        </span>

        <h1 class="govuk-heading-xl" style="margin-bottom:10px">Task details</h1>
<strong class="govuk-tag govuk-tag--yellow">In progress</strong> <br>
        <!-- <div class="govuk-inset-text">
        More information received:
          <p class="govuk-body govuk-!-font-weight-bold">Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020</p>
        </div> -->

        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
              Check new information from NHS Trust and decide next step
            </dd>
          </div>

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Injury
            </dt>
            <dd class="govuk-summary-list__value">

              <details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Physical injury other than whiplash
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body govuk-!-font-weight-bold">Face, cheekbones or jaw injuries</p>
    <p class="govuk-body govuk-!-font-weight-regular" style="margin-bottom:10px">Details</p>
    <li>Soft tissue injury (for example, bruise, strain or tear)</li>
  </div>
</details>


               <details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
     <span class="govuk-details__summary-text">
       Psychological
     </span>
   </summary>
   <div class="govuk-details__text">
     Travel anxiety
   </div>
 </details>
 Whiplash
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Liability type
            </dt>
            <dd class="govuk-summary-list__value">
              Motor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Injury date
            </dt>
            <dd class="govuk-summary-list__value">
              8 January 2023
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Compensator
            </dt>
            <dd class="govuk-summary-list__value">
              	Insure Co Ltd
            </dd>
          </div> -->

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          NHS Hospital Providing Treatment
            </dt>
            <dd class="govuk-summary-list__value">
                North Manchester General
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        NHS Treating Trust
            </dt>
            <dd class="govuk-summary-list__value">
                University of Manchester Hospitals Trust
            </dd>
          </div>

        </dl>
<br>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p style="margin-bottom:15px">
            Check if the notes content require any changes to the treatment details provided by the NHS trust.</p>
      <p style="margin-bottom:15px">
          Once you have completed all the necessary actions, you will have to come back to this page to select one of the options at the bottom of the page.</p>       <p class="govuk-body">
                    <a href="case-view-main" class="govuk-link" target=”_blank”>Access full claim details (opens in new tab)</a>
                  </p>

        <br> <br>

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Treatment details from University of Manchester Hospitals Trust
    </h2>
  </div>
  <div class="govuk-notification-banner__content" style="padding-bottom:30px">
    <dl class="govuk-summary-list govuk-!-margin-bottom-3" style="max-width:100%">
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value" style="width:20%">
        </dd>
        <dd class="govuk-summary-list__value" style="width:7%">
        <p></p>
        </dd>
              <dd class="govuk-summary-list__value" style="width:30%">


        </dd>

        <dd class="govuk-summary-list__value" style="width:14%">
        <p></p>
        </dd>


      </div>
      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value" style="width:20%">
        <p> From 10 January 2023</p>
        </dd>

        <dd class="govuk-summary-list__value" style="width:7%">
        <p> 31 days</p>
        </dd>
              <dd class="govuk-summary-list__value" style="width:30%">

          {{ data['hospitalOne'] | default('Manchester University NHS Foundation Trust') }}
        </dd>

        <dd class="govuk-summary-list__value" style="width:14%">
        <p>Inpatient</p>
        </dd>


      </div>



      <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value" >
      From 9 January 2023

        </dd>

        <dd class="govuk-summary-list__value" style="width:1%">
        <p> 1 trip</p>
        </dd>
        <dd class="govuk-summary-list__value" style="width:300px">

              The North West Ambulance Service NHS Trust
        </dd>


        <dd class="govuk-summary-list__value" >


           Ambulance

        </dd>


      </div>

      <!-- <div class="govuk-summary-list__row">
        <dd class="govuk-summary-list__value" >
      Additional information

        </dd>
        <dd class="govuk-summary-list__value" style="width:1%">

        </dd>
        <dd class="govuk-summary-list__value" style="width:300px">

              <p class="govuk-body govuk-!-font-weight-bold">  "Patient also attended out patient's at St Mary's Hospital (same trust) 10/02/23"
        </dd>


        <dd class="govuk-summary-list__value" >




        </dd>


      </div> -->


    <br>


    </dl>
    <div class="govuk-inset-text" style="max-width:100%;margin-top:10px">
    <p class="govuk-body govuk-!-font-weight-regular" style="margin-bottom:10px">  Notes from NHS trust</p>
    <p class="govuk-body govuk-!-font-weight-bold">  "Patient also attended out patient's at St Mary's Hospital (same trust) 10/02/23"</p>
    </div>
  </div>
</div>

        <!-- Injured persons rep details -->
        <!-- <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p>
          Check if the notes content require any changes to the treatment details provided by the NHS trust.</p>        <p class="govuk-body">
                    <a href="case-view-main" class="govuk-link" target=”_blank”>Access full claim details (opens in new tab)</a>
                  </p>
<br> -->







<br>
        <!-- <div class="govuk-inset-text">
          <p class="govuk-body">
          Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020
        </p>
        </div> -->
  <form  class="form" action="confirmed" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
              What is the next step based on the new information from the NHS trust?
              </h3>
            </legend>
            <!-- <div id="changed-name-hint" class="govuk-hint">
              Either changed or no change needed
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="info-4" name="info" type="radio" value="Submitted information to calculate NHS charges" {{ checked("info", "Data ready") }}>
                <label class="govuk-label govuk-radios__label" for="info-4">

                Submit information to calculate NHS charges
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="info" name="info" type="radio" data-aria-controls="conditional-contact" value="Task completed but informaton not submitted" {{ checked("info", "Reply with further info to the NHS") }}>
                <label class="govuk-label govuk-radios__label" for="info">
                      Mark task as complete but do not submit information
                </label>
              </div>




          </fieldset>
        </div>


        <br>



          <input type="hidden" name="checkanswers" value="true" />

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a class="govuk-link" href="#">Cancel</a>
          </div>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
