
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">

          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Reminder repeated
            </h1>
            <div class="govuk-panel__body">

            </div>
          </div>




<div>



  </div>


<br>


         <a href="tariff_table" class="govuk-button govuk-button--secondary">Back to Tasks</a></div>
      </div>


        </div>
      </div>


{% endblock %}
