
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Register a claim with the Compensation Recovery Unit
{% endblock %}

{% block content %}



      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          {% if data['setuser'] =='staff' %}
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Registration complete
            </h1>
            <div class="govuk-panel__body">
              Claim reference number<br><strong>CRU12345</strong>
            </div>
          </div>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-s">Amount to be paid</h2>

              <p class="govuk-body">
                <span  class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-display-block">£0.00</span>
                The injured person has not been paid any benefit due to the injury. The certificate has been issued to the compensator.
              </p>

              <a href="">Return to home</a>

          </div>
          {% else %}
          <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-top-5">
            <h1 class="govuk-panel__title ">
              Registration complete
            </h1>
            <div class="govuk-panel__body">
              Your claim reference number<br><strong>CRU12345</strong>
            </div>
          </div>
          <p class="govuk-body">We have sent you a confirmation email.</p>

          <div class="govuk-inset-text">
            <h2 class="govuk-heading-s">Amount to pay</h2>

              <p class="govuk-body">
                <span class="govuk-body govuk-!-font-size-48 govuk-!-font-weight-bold govuk-!-display-block">NIL</span>
                There is no compensation to pay based on the information you have given.
              </p>



          </div>


<div>
  <h2 class="govuk-heading-m">What this means</h2>




<p class="govuk-body">{{ data['first-name'] | default('Bojen') }}  {{ data['last-name'] | default('Westoros') }} has not received any benefit payments or NHS hospital treatment as a result of their injury.</p>
  <p class="govuk-body">The amount to pay could change if the injured person later claims a social security benefit in relation to their injury.</p>

<h2 class="govuk-heading-m">What happens next</h2>




<p class="govuk-body">Your certificates are ready to download.</p>
<p class="govuk-body">You can also download them using the link we sent in your confirmation email.  </p>
<h3 class="govuk-heading-s">Download certificates</h3>
<ul class="govuk-list govuk-list--bullet">
  <li><a href="/public/downloads/CRU-nil-cert-generic-24-feb.pdf" class="govuk-link">Compensation Recovery (CRU) Certificate</a></li>
  <li><a href="/public/downloads/NHS-nil-cert-generic-24feb.pdf" class="govuk-link">NHS Charges Certificate</a></li>
</ul>

  <p class="gov-body">Certificates are valid for 9 months.</p>
  <p class="gov-body"> We'll send you a reminder when your certificates are due to expire. If they expire before you settle the claim, we'll send you new ones by email automatically. </p>


  </div>


<br>


        <!-- <a href="../compensator/compensator-dashboard" class="govuk-button govuk-button--secondary">Return to home</a></div> -->
      </div>
          {% endif %}

        </div>
      </div>

      <!-- code for demo only-->
  <style>
    a.timemachine{
      position:absolute;
      top:0px;
      right:0px;
      background:green;
      padding:0.8em;
      color:white;
      animation: mymove 1s infinite alternate;
      }
      @keyframes mymove {
        from {background-color: #00703c;}
        to {background-color: #1d70b8;}
      }
  </style>

  <a href ="../compensator-registration/claim-registered-email" class="timemachine">Open email</a>


{% endblock %}
