
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Injury details -  What type of injury did the person suffer
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>

        <form action="task-list" method="post" class="form">

              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="other-injuries-hint">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                    <h1 class="govuk-fieldset__heading">
                      <span class="govuk-caption-xl">Injury details
                      </span>
                      Did the person suffer any other injury?
                    </h1>
                  </legend>
                  <div class="govuk-hint">
                    Includes physical, psychological or neurological injuries
                  </div>
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="other-injuries-yes" name="other-injuries" type="radio" data-aria-controls="conditional-injury" value="Yes" {{ checked("other-injuries", "Yes") }}>
                      <label class="govuk-label govuk-radios__label" for="other-injuries-yes">
                       Yes
                      </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-injury">
                      <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="250">
                        <div class="govuk-form-group">
                          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="describe-injuries">
                            Describe the injuries
                          </label>
                          </h1>
                          <div id="describe-injuries-hint" class="govuk-hint">
                            Provide as much detail as possible, including which part of the body was injured. For  example, 'fracture to the left leg and travel anxiety'.
                          </div>
                          <textarea class="govuk-textarea govuk-js-character-count" id="describe-injuries" name="describe-injuries" rows="7" aria-describedby="describe-injuries-hint describe-injuries-info">{{ data['describe-injuries'] }}</textarea>
                        </div>
                        <div id="describe-injuries-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                          You can enter up to 250 characters
                        </div>
                      </div>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="other-injuries-no" name="other-injuries" type="radio" value="No~task-list" {{ checked("other-injuries", "No") }}>
                      <label class="govuk-label govuk-radios__label" for="other-injuries-no">
                       No
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>




      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>




    </form>

    </div>
  </div>

{% endblock %}
