
{% extends "../../index.html" %}

{% block pageTitle %}
My account
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">{% include "./_globalnav.html" %}

    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
       My account
      </h1>

      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['comp-name'] | default('Sam Smith') }}
          </dd>
            <dd class="govuk-summary-list__actions">
            </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Password
          </dt>
          <dd class="govuk-summary-list__value">
            **********
          </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden">password</span>
              </a>
            </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Company details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
<dt class="govuk-summary-list__key">
  Company name
</dt>
<dd class="govuk-summary-list__value">
    {{ data['company-name'] | default('Compensator Ltd') }}
  </dd>
  </div>

<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
              {{ data['choose-company-address'] | default('4 High Street') }}<br>{{ data['companyaddresspostcode'] | default('M4 4GH') }}
            </dd>



        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['comp-tel'] | default('') }}</p>
          </dd>

        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">{{ data['username'] | default('sam.smith@compensatorltd.com') }}</p>
          </dd>

        </div>
      </dl>




    </form>

    </div>
  </div>

{% endblock %}
