
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About Compensator - What is your new contact details?
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <!-- <nav class="navigation-secondary govuk-!-margin-bottom-6">
      <ul>
        <li><a href="compensator-dashboard">Home</a></li>
        <li><a href="../registration/about-the-injured-person">New claim</a></li>
        <li class="active"><a href="my-account">My account</a></li>
        <li><a href="signout">Sign out</a></li>
      </ul>
    </nav> -->

    {% set nav = "My account" %}
    {% include "./_globalnav.html" %}

    <div class="govuk-grid-column-two-thirds">
        <form class="form" action="cru-landing" method="post">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">

        What is your new contact details?
      </h1>



      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "New telephone number",
          classes: "govuk-label--m",
          isPageHeading: false
        },
        id: "telephone",
        name: "telephone"
      }) }}

      {{ govukButton({
        text: "Save",
        href: "my-account"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
