
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    {% set nav = "My account" %}
    {% include "./_globalnav.html" %}


    <div class="govuk-grid-column-two-thirds govuk-main-wrapper--auto-spacing">
        <!-- <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a> -->
        <form class="form" action="my-account" method="post">
      <h1 class="govuk-heading-xl">

        Change your password
      </h1>
      <p><strong>Your password needs at least:</strong></p>
      <ul class="govuk-list govuk-list--bullet">
        <li>8-12 characters</li>
        <li>One uppercase letter</li>
        <li>One lowercase letter</li>
        <li>One number</li>
        <li>No spaces</li>
      </ul>
      <div class="govuk-form-group">
      <label class="govuk-label govuk-!-font-weight-bold" for="password">
        New password
      </label>
      <input class="govuk-input govuk-input--width-20" id="password" name="password" type="password">
    </div>

      <div class="govuk-form-group">
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="showPW" name="showPW" type="checkbox" value="showPW" onclick="showPassword()">
        <label class="govuk-label govuk-checkboxes__label" for="showPW">
          Show password
        </label>
      </div>
    </div>
    <script type="text/javascript">
      function showPassword() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>
      </div>



      {{ govukButton({
        text: "Save"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
