
{% extends "../../../../index.html" %}

{% block pageTitle %}
About the injured person - Enter injured person's name and date of birth
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
<!--        <form class="form" action="check-answers-ip" method="post">-->

        <form class="form" action="check-answers-update" method="post">


      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">The injured person</span>
        Who was injured?
      </h1>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text" style="font-weight: bold;">
              New claim details from CRU4
          </span>
        </summary>
        <div class="govuk-details__text">
          <div class="govuk-notification-banner" role="region"
            aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Check claim details
              </h2>
            </div>
            <div class="govuk-notification-banner__content" style="padding-bottom:30px">



              <table class="govuk-table">
                <!-- <caption class="govuk-table__caption govuk-table__caption--m">Current and new claim details</caption> -->
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Detail</th>
                    <th scope="col" class="govuk-table__header">Current</th>
                      <th scope="col" class="govuk-table__header">New </th>

                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Date of birth</th>
                    <td class="govuk-table__cell">		28 February 1978</td>
                        <td class="govuk-table__cell">28 February 1979</td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">National Insurance number</th>
                    <td class="govuk-table__cell">AA 11 22 33 B</td>
                        <td class="govuk-table__cell">CD 21 31 75 B</td>

                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Injury date</th>
                    <td class="govuk-table__cell">14 February 2024</td>
                        <td class="govuk-table__cell">12 February 2024</td>

                  </tr>
                  <tr class="govuk-table__row">





                </tbody>
              </table>
            </div>
          </div>
        </div>
      </details>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="first-name">
            First name
          </label>
        <input class="govuk-input" id="first-name" name="first-name" type="text" value="{{data['first-name']  | default('Bojen')}}">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="last-name">
           Last name
        </label>
        <input class="govuk-input" id="last-name" name="last-name" type="text" value="{{data['last-name']  | default('Westoros') }}">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--s" for="ni-by-text">
          National Insurance number
        </label>
        <div id="national-insurance-hint" class="govuk-hint">
          This must be in the correct format. For example, 'QQ123456C' or ‘QQ 12 34 56 C’.
        </div>
          <input class="govuk-input govuk-!-width-one-half" id="ni-by-text" name="ni-number" type="text" spellcheck="false" value="{{ data['ni-number']  | default('AA 11 22 33 B') }}">
      </div>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="date-of-birth-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
            <label class="govuk-fieldset__heading">
              Date of birth
            </label>
          </legend>
          <div id="date-of-birth-hint" class="govuk-hint">
            For example, 12 3 1990
          </div>
          <div class="govuk-date-input" id="date-of-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-day" name="date-of-birth-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-day']  | default('14')  }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="date-of-birth-month" name="date-of-birth-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-month']  | default('2')  }}"></div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="date-of-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="date-of-birth-year" name="date-of-birth-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['date-of-birth-year']  | default('2024')  }}"></div>
            </div>
          </div>

        </fieldset>
      </div>

      <div class="govuk-radios__item govuk-visually-hidden">
        <input class="govuk-radios__input" id="injured-persons-details" name="injured-persons-details" type="radio" value="started" checked>
        <label class="govuk-label govuk-radios__label" for="injured-persons-details">
         hidden radio for logic
        </label>
      </div>

      <button class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>

    </div>
  </div>

{% endblock %}
