
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Check your answers before registering the claim
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">CRU12345
        </span>

        <h1 class="govuk-heading-xl" style="margin-bottom:10px">Task details</h1>
<strong class="govuk-tag govuk-tag--yellow">In progress</strong> <br>
        <!-- <div class="govuk-inset-text">
        More information received:
          <p class="govuk-body govuk-!-font-weight-bold">Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020</p>
        </div> -->

        <dl class="govuk-summary-list govuk-!-margin-top-7">
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assigned to
            </dt>
            <dd class="govuk-summary-list__value">
              Sam Smith
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Description
            </dt>
            <dd class="govuk-summary-list__value">
            NHS Review request from compensator - reply from NHS trust
            </dd>
          </div>

          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Injury
            </dt>
            <dd class="govuk-summary-list__value">

              <details class="govuk-details" data-module="govuk-details" style="margin-bottom:0px">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Physical injury other than whiplash
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body govuk-!-font-weight-bold">Face, cheekbones or jaw injuries</p>
    <p class="govuk-body govuk-!-font-weight-regular" style="margin-bottom:10px">Details</p>
    <li>Soft tissue injury (for example, bruise, strain or tear)</li>
  </div>
</details>


               <details class="govuk-details" data-module="govuk-details">
   <summary class="govuk-details__summary">
     <span class="govuk-details__summary-text">
       Psychological
     </span>
   </summary>
   <div class="govuk-details__text">
     Travel anxiety
   </div>
 </details>
 Whiplash
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Liability type
            </dt>
            <dd class="govuk-summary-list__value">
              Motor
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Injury date
            </dt>
            <dd class="govuk-summary-list__value">
              8 January 2023
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compensator
            </dt>
            <dd class="govuk-summary-list__value">
            	AVoVA & partners
            </dd>
          </div>
          <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
          Compensator
            </dt>
            <dd class="govuk-summary-list__value">
              	Insure Co Ltd
            </dd>
          </div> -->


          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
        NHS Treating Trust
            </dt>
            <dd class="govuk-summary-list__value">
                University of Manchester Hospitals Trust
            </dd>
          </div>

        </dl>
<br>
        <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p style="margin-bottom:15px">
            Check the reply from the NHS trust and complete the NHS review</p>
      <p style="margin-bottom:15px">
          Once you have completed all the necessary actions, you will have to come back to this page to select one of the options at the bottom of the page.</p>       <p class="govuk-body">
                    <a href="case-view-revstart" class="govuk-link" target=”_blank”>Access full claim details to complete the review (opens in new tab)</a>
                  </p>

        <br> <br>

<div class="govuk-notification-banner" role="region"
  aria-labelledby="govuk-notification-banner-title"
  data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Reply from University of Manchester Hospitals Trust
    </h2>
  </div>
  <div class="govuk-notification-banner__content" style="padding-bottom:30px">

    <div class="govuk-inset-text" style="max-width:100%;margin-top:10px">
    <!-- <p class="govuk-body govuk-!-font-weight-regular" style="margin-bottom:10px">  Notes from NHS trust</p> -->
    <p class="govuk-body govuk-!-font-weight-bold">  "Patient has indeed only stayed 25 days for the original injury"</p>
    </div>
  </div>
</div>

        <!-- Injured persons rep details -->
        <!-- <h2 class="govuk-heading-m" style="margin-bottom:10px">Task instructions</h2>
        <p>
          Check if the notes content require any changes to the treatment details provided by the NHS trust.</p>        <p class="govuk-body">
                    <a href="case-view-main" class="govuk-link" target=”_blank”>Access full claim details (opens in new tab)</a>
                  </p>
<br> -->







<br>
        <!-- <div class="govuk-inset-text">
          <p class="govuk-body">
          Patient was diagnosed march 2020 Haemachromatosis and had fortnightly venesection at the hospital until they were suspended on the 19/11/2020
        </p>
        </div> -->
  <form  class="form" action="reminder-options" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h3 class="govuk-fieldset__heading">
              What is the next step based on the new information from the NHS trust?
              </h3>
            </legend>
            <!-- <div id="changed-name-hint" class="govuk-hint">
              Either changed or no change needed
            </div> -->
            <div class="govuk-radios govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="info-4" name="info" type="radio" value="Submitted information to calculate NHS charges" {{ checked("info", "Data ready") }}>
                <label class="govuk-label govuk-radios__label" for="info-4">

  Finish the review
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="info" name="info" type="radio" data-aria-controls="conditional-contact-3" value="reminder" {{ checked("info", "Reply with further info to the NHS") }}>
                <label class="govuk-label govuk-radios__label" for="info">
                    Set a reminder
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-3">
                <div class="govuk-form-group">
                  <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="120">
                    <div class="govuk-form-group">
                      <h1 class="govuk-label-wrapper">
                        <label class="govuk-label" for="more-detail">
                      Reason for a reminder
                        </label>
                      </h1>

                      <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="comment" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                    </div>
                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                      You can enter up to 120 characters
                    </div>
                  </div>
  <legend class="govuk-fieldset__legend">
  Reminder date
  </legend>
  <div id="passport-issued-hint" class="govuk-hint">
  For example, 15 1 2023
  </div>
  <div class="govuk-date-input" id="passport-issued">
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
        Day
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-day" name="start-date-day" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['start-date-day']}}">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
        Month
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="start-date-month" name="start-date-month" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['start-date-month']}}">
    </div>
  </div>
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
        Year
      </label>
      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="start-date-year" name="start-date-year" type="text" pattern="[0-9]*" inputmode="numeric" value="{{data['start-date-year']}}">
    </div>
  </div>
  </div>
  </div>
              </div>



          </fieldset>
        </div>


        <br>



          <input type="hidden" name="checkanswers" value="true" />

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save and continue
            </button>
            <a class="govuk-link" href="#">Cancel</a>
          </div>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}
