{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing govuk-!-padding-top-0") %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "govuk-header--full-width-border"
  }) }}

  {{ govukServiceNavigation({
    serviceName: "Manage your compensation recovery claims",
    serviceUrl: "/"
  }) }}

  {{ govukPhaseBanner({
    classes: 'govuk-width-container',
    tag: {
      text: "Beta"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}