
{% extends folder+ "/layout.html" %}

{% block pageTitle %}
Create an account
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <a href="javascript: history.go(-1)" class="govuk-back-link govuk-!-margin-bottom-5">Back</a>
    <form class="form" action="confirmation3" method="post">
      <h1 class="govuk-heading-xl" style="margin-bottom:15px">Remove Treatment 1?</h1>
      <div class="govuk-button-group">
        <div class="govuk-inset-text">
          Treatment at Bolton NHS Foundation Trust <br>
Outpatient <br>
9 January 2023 <br>
1 visit
</div>
  </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

  <p>  <a class="govuk-link" href="#">Cancel</a></p>

    </form>

    </div>
  </div>

{% endblock %}
